# Alpha Vantage

In [1]:
!pip install alpha_vantage pandas requests

Defaulting to user installation because normal site-packages is not writeable
Collecting alpha_vantage
  Downloading alpha_vantage-3.0.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: aiohttp in c:\programdata\anaconda3\lib\site-packages (from alpha_vantage) (3.10.5)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (1.11.0)
Downloading alpha_vantage-3.0.0-py3-none-any.whl (35 kB)
Installing collected packages: alpha_vantage
Successfully installed alpha_vantage-3.0.0

## Example 1: Retrieve Stock Price Data

In [3]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries

# Set up API Key
API_KEY = "YOUR_API_KEY"

# Initialize Alpha Vantage TimeSeries
ts = TimeSeries(key=API_KEY, output_format="pandas")

# Retrieve daily stock prices for Apple (AAPL)
data, meta_data = ts.get_daily(symbol="AAPL", outputsize="compact")

# Display the first few rows
print(data.head())

            1. open  2. high    3. low  4. close   5. volume
date
2025-02-24  244.925   248.86  244.4200    247.10  51326396.0
2025-02-21  245.950   248.69  245.2200    245.55  53197431.0
2025-02-20  244.940   246.78  244.2900    245.83  32316907.0
2025-02-19  244.660   246.01  243.1604    244.87  32204215.0
2025-02-18  244.150   245.18  241.8400    244.47  48822491.0

## Example 2: Retrieve Company Financials (Income Statement)

In [4]:
import requests

# Define API Endpoint
API_KEY = "YOUR_API_KEY"
symbol = "AAPL"
url = f"https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={symbol}&apikey={API_KEY}"

# Make API Request
response = requests.get(url)
data = response.json()

# Convert to DataFrame
income_statement = pd.DataFrame(data["annualReports"])
print(income_statement.head())

  fiscalDateEnding reportedCurrency   grossProfit  totalRevenue costOfRevenue  \
0       2024-09-30              USD  180683000000  391035000000  236449000000
1       2023-09-30              USD  169148000000  379352000000  239069000000
2       2022-09-30              USD  170782000000  391397000000  248640000000
3       2021-09-30              USD  152836000000  363172000000  234954000000
4       2020-09-30              USD  104956000000  271642000000  189475000000

  costofGoodsAndServicesSold operatingIncome sellingGeneralAndAdministrative  \
0               210352000000    123216000000                     26097000000
1               214137000000    114301000000                     24932000000
2               223546000000    119437000000                     25094000000
3               212981000000    108949000000                     21973000000
4               169559000000     66288000000                     19916000000

  researchAndDevelopment operatingExpenses  ... depreciation  \
0            31370000000       57467000000  ...   8200000000
1            29915000000       54847000000  ...   8500000000
2            26251000000       51345000000  ...   8700000000
3            21914000000       43887000000  ...   9500000000
4            18752000000       38668000000  ...   9700000000

  depreciationAndAmortization incomeBeforeTax incomeTaxExpense  \
0                 11445000000    123485000000      29749000000
1                 11519000000    113736000000      16741000000
2                 11104000000    119103000000      19300000000
3                 11284000000    109207000000      14527000000
4                 11056000000     67091000000       9680000000

  interestAndDebtExpense netIncomeFromContinuingOperations  \
0                   None                       93736000000
1             3933000000                       96995000000
2             2931000000                       99803000000
3             2645000000                       94680000000
4             2873000000                       57411000000

  comprehensiveIncomeNetOfTax          ebit        ebitda    netIncome
0                 98016000000  123216000000  134661000000  93736000000
1                 96652000000  117669000000  125820000000  96995000000
2                 88531000000  122034000000  130541000000  99803000000
3                 95249000000  111852000000  120233000000  94680000000
4                 57453000000   69964000000   77344000000  57411000000

[5 rows x 26 columns]

In [7]:
column_summary_income = pd.DataFrame({
    'Column Name': income_statement.columns,
    'Data Type': income_statement.dtypes.values,
    'Percentage Null': income_statement.isnull().mean().values * 100,
    'Unique Values': income_statement.nunique().values
})
print(column_summary_income)

                          Column Name Data Type  Percentage Null  \
0                    fiscalDateEnding    object              0.0
1                    reportedCurrency    object              0.0
2                         grossProfit    object              0.0
3                        totalRevenue    object              0.0
4                       costOfRevenue    object              0.0
5          costofGoodsAndServicesSold    object              0.0
6                     operatingIncome    object              0.0
7     sellingGeneralAndAdministrative    object              0.0
8              researchAndDevelopment    object              0.0
9                   operatingExpenses    object              0.0
10                investmentIncomeNet    object              0.0
11                  netInterestIncome    object              0.0
12                     interestIncome    object              0.0
13                    interestExpense    object              0.0
14                  nonInterestIncome    object              0.0
15            otherNonOperatingIncome    object              0.0
16                       depreciation    object              0.0
17        depreciationAndAmortization    object              0.0
18                    incomeBeforeTax    object              0.0
19                   incomeTaxExpense    object              0.0
20             interestAndDebtExpense    object              0.0
21  netIncomeFromContinuingOperations    object              0.0
22        comprehensiveIncomeNetOfTax    object              0.0
23                               ebit    object              0.0
24                             ebitda    object              0.0
25                          netIncome    object              0.0

    Unique Values
0              16
1               1
2              16
3              16
4              16
5              16
6              16
7              16
8              16
9              16
10             14
11             13
12              9
13             15
14              9
15             16
16              9
17             16
18             16
19             16
20             13
21             16
22             16
23             16
24             16
25             16

## Example 3: Retrieve Company Balance Sheet

In [5]:
url = f"https://www.alphavantage.co/query?function=BALANCE_SHEET&symbol={symbol}&apikey={API_KEY}"
response = requests.get(url)
data = response.json()

balance_sheet = pd.DataFrame(data["annualReports"])
print(balance_sheet.head())

  fiscalDateEnding reportedCurrency   totalAssets totalCurrentAssets  \
0       2024-09-30              USD  364980000000       152987000000
1       2023-09-30              USD  352583000000       143566000000
2       2022-09-30              USD  352755000000       135405000000
3       2021-09-30              USD  351002000000       134836000000
4       2020-09-30              USD  323888000000       143713000000

  cashAndCashEquivalentsAtCarryingValue cashAndShortTermInvestments  \
0                           29943000000                 65171000000
1                           29965000000                 61555000000
2                           23646000000                 48304000000
3                           34940000000                 62639000000
4                           38016000000                 90943000000

    inventory currentNetReceivables totalNonCurrentAssets  \
0  7286000000           66243000000          211993000000
1  6331000000           60985000000          209017000000
2  4946000000           60932000000          217350000000
3  6580000000           51506000000          216166000000
4  4061000000           37445000000          180175000000

  propertyPlantEquipment  ... currentLongTermDebt longTermDebtNoncurrent  \
0            45680000000  ...         10912000000            85750000000
1            43715000000  ...          9822000000            95281000000
2            42117000000  ...         11128000000            98959000000
3            39440000000  ...          9613000000           109106000000
4            36766000000  ...          8773000000            98667000000

  shortLongTermDebtTotal otherCurrentLiabilities otherNonCurrentLiabilities  \
0           106629000000             78304000000                45888000000
1           111088000000             58829000000                49848000000
2           233256000000             60845000000                49142000000
3           241783000000             47493000000                53325000000
4           216860000000             42684000000                54490000000

  totalShareholderEquity treasuryStock retainedEarnings  commonStock  \
0            56950000000          None     -19154000000  83276000000
1            62146000000          None       -214000000  73812000000
2            50672000000          None      -3068000000  64849000000
3            63090000000          None       5562000000  57365000000
4            65339000000          None      14966000000  50779000000

  commonStockSharesOutstanding
0                  15116786000
1                  15550061000
2                  15943425000
3                  16426786000
4                  16976763000

[5 rows x 38 columns]

In [8]:
column_summary_balance = pd.DataFrame({
    'Column Name': balance_sheet.columns,
    'Data Type': balance_sheet.dtypes.values,
    'Percentage Null': balance_sheet.isnull().mean().values * 100,
    'Unique Values': balance_sheet.nunique().values
})
print(column_summary_balance)

                               Column Name Data Type  Percentage Null  \
0                         fiscalDateEnding    object              0.0
1                         reportedCurrency    object              0.0
2                              totalAssets    object              0.0
3                       totalCurrentAssets    object              0.0
4    cashAndCashEquivalentsAtCarryingValue    object              0.0
5              cashAndShortTermInvestments    object              0.0
6                                inventory    object              0.0
7                    currentNetReceivables    object              0.0
8                    totalNonCurrentAssets    object              0.0
9                   propertyPlantEquipment    object              0.0
10  accumulatedDepreciationAmortizationPPE    object              0.0
11                        intangibleAssets    object              0.0
12       intangibleAssetsExcludingGoodwill    object              0.0
13                                goodwill    object              0.0
14                             investments    object              0.0
15                     longTermInvestments    object              0.0
16                    shortTermInvestments    object              0.0
17                      otherCurrentAssets    object              0.0
18                   otherNonCurrentAssets    object              0.0
19                        totalLiabilities    object              0.0
20                 totalCurrentLiabilities    object              0.0
21                  currentAccountsPayable    object              0.0
22                         deferredRevenue    object              0.0
23                             currentDebt    object              0.0
24                           shortTermDebt    object              0.0
25              totalNonCurrentLiabilities    object              0.0
26                 capitalLeaseObligations    object              0.0
27                            longTermDebt    object              0.0
28                     currentLongTermDebt    object              0.0
29                  longTermDebtNoncurrent    object              0.0
30                  shortLongTermDebtTotal    object              0.0
31                 otherCurrentLiabilities    object              0.0
32              otherNonCurrentLiabilities    object              0.0
33                  totalShareholderEquity    object              0.0
34                           treasuryStock    object              0.0
35                        retainedEarnings    object              0.0
36                             commonStock    object              0.0
37            commonStockSharesOutstanding    object              0.0

    Unique Values
0              17
1               1
2              17
3              17
4              17
5              17
6              17
7              17
8              17
9              17
10             17
11             11
12             11
13             11
14             16
15             17
16             17
17             17
18             17
19             17
20             17
21             17
22             16
23             12
24             17
25             17
26              6
27             14
28             12
29             13
30             13
31             17
32             17
33             17
34              1
35             17
36             17
37             17

## Example 4: Retrieve Stock Indicators (e.g., RSI, Moving Averages)

In [6]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries

# Set up API Key
API_KEY = "YOUR_API_KEY"

# Initialize Alpha Vantage TimeSeries
ts = TimeSeries(key=API_KEY, output_format="pandas")

# Retrieve daily stock prices for Apple (AAPL)
data, meta_data = ts.get_daily(symbol="AAPL", outputsize="compact")

# Display the first few rows
print(data.head())

            1. open  2. high    3. low  4. close   5. volume
date
2025-02-24  244.925   248.86  244.4200    247.10  51326396.0
2025-02-21  245.950   248.69  245.2200    245.55  53197431.0
2025-02-20  244.940   246.78  244.2900    245.83  32316907.0
2025-02-19  244.660   246.01  243.1604    244.87  32204215.0
2025-02-18  244.150   245.18  241.8400    244.47  48822491.0

## Alpha Vantage API

In [15]:
import requests
import pandas as pd

# Replace with your Alpha Vantage API key
api_key = 'YOUR_API_KEY'

# Function to fetch financial data
def fetch_financial_data(symbol, function):
    base_url = f"https://www.alphavantage.co/query?function=BALANCE_SHEET&symbol={symbol}&apikey={API_KEY}"
    params = {
        'function': function,
        'symbol': symbol,
        'apikey': api_key
    }
    response = requests.get(base_url, params=params)
    data = response.json()
    return data

# Example: Fetching Income Statement for Delivery Hero
symbol = 'DHER'  # Delivery Hero's ticker symbol on XETRA
income_statement = fetch_financial_data(symbol, 'INCOME_STATEMENT')

# Convert to DataFrame
if 'annualReports' in income_statement:
    df_income = pd.DataFrame(income_statement['annualReports'])
    print(df_income.head())
else:
    print("Error fetching data or data not available.")

Error fetching data or data not available.

In [18]:
import requests

# Define API Endpoint
API_KEY = "YOUR_API_KEY"
symbol = "AAPL"
url = f"https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={symbol}&apikey={API_KEY}"

# Make API Request
response = requests.get(url)
data = response.json()

# Convert to DataFrame
income_statement = pd.DataFrame(data["annualReports"])
print(income_statement.head())

  fiscalDateEnding reportedCurrency   grossProfit  totalRevenue costOfRevenue  \
0       2024-09-30              USD  180683000000  391035000000  236449000000
1       2023-09-30              USD  169148000000  379352000000  239069000000
2       2022-09-30              USD  170782000000  391397000000  248640000000
3       2021-09-30              USD  152836000000  363172000000  234954000000
4       2020-09-30              USD  104956000000  271642000000  189475000000

  costofGoodsAndServicesSold operatingIncome sellingGeneralAndAdministrative  \
0               210352000000    123216000000                     26097000000
1               214137000000    114301000000                     24932000000
2               223546000000    119437000000                     25094000000
3               212981000000    108949000000                     21973000000
4               169559000000     66288000000                     19916000000

  researchAndDevelopment operatingExpenses  ... depreciation  \
0            31370000000       57467000000  ...   8200000000
1            29915000000       54847000000  ...   8500000000
2            26251000000       51345000000  ...   8700000000
3            21914000000       43887000000  ...   9500000000
4            18752000000       38668000000  ...   9700000000

  depreciationAndAmortization incomeBeforeTax incomeTaxExpense  \
0                 11445000000    123485000000      29749000000
1                 11519000000    113736000000      16741000000
2                 11104000000    119103000000      19300000000
3                 11284000000    109207000000      14527000000
4                 11056000000     67091000000       9680000000

  interestAndDebtExpense netIncomeFromContinuingOperations  \
0                   None                       93736000000
1             3933000000                       96995000000
2             2931000000                       99803000000
3             2645000000                       94680000000
4             2873000000                       57411000000

  comprehensiveIncomeNetOfTax          ebit        ebitda    netIncome
0                 98016000000  123216000000  134661000000  93736000000
1                 96652000000  117669000000  125820000000  96995000000
2                 88531000000  122034000000  130541000000  99803000000
3                 95249000000  111852000000  120233000000  94680000000
4                 57453000000   69964000000   77344000000  57411000000

[5 rows x 26 columns]

# Yahoo Finance

# Initialising

In [1]:
!pip install yfinance
!pip install forex-python

import yfinance as yf
import pandas as pd
import numpy as np
import seaborn as sns
from forex_python.converter import CurrencyRates

import os

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in c:\users\user1\appdata\roaming\python\python312\site-packages (0.2.54)
Requirement already satisfied: pandas>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\user1\appdata\roaming\python\python312\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\user1\appdata\roaming\python\python312\site-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: forex-python in c:\users\user1\appdata\roaming\python\python312\site-packages (1.8)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from forex-python) (2.32.3)
Requirement already satisfied: simplejson in c:\users\user1\appdata\roaming\python\python312\site-packages (from forex-python) (3.20.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->forex-python) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->forex-python) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->forex-python) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->forex-python) (2024.8.30)

In [2]:
!pip install rpy2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: rpy2 in c:\users\user1\appdata\roaming\python\python312\site-packages (3.5.17)
Requirement already satisfied: cffi>=1.15.1 in c:\programdata\anaconda3\lib\site-packages (from rpy2) (1.17.1)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from rpy2) (3.1.4)
Requirement already satisfied: tzlocal in c:\users\user1\appdata\roaming\python\python312\site-packages (from rpy2) (5.3)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from rpy2) (24.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.15.1->rpy2) (2.21)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from jinja2->rpy2) (2.1.3)
Requirement already satisfied: tzdata in c:\programdata\anaconda3\lib\site-packages (from tzlocal->rpy2) (2023.3)

In [ ]:
import rpy2.robjects as robjects

r_script = """
install.packages("remotes")
remotes::install_github("Ljupch0/equityanalysis")
library(equityanalysis)

tickers <- c("DHER.DE")
financial_data <- get_financials(tickers, report_type = "annual")
print(head(financial_data))
"""

robjects.r(r_script)

In [ ]:
import yfinance as yf

# Example: Retrieve data for a specific company on the Berlin Stock Exchange
# Yahoo Finance may use different codes, not just the typical exchange codes like 'BER'.
ticker_symbol = '0P6A.BE'  # Example ticker symbol for Berlin exchange

# Fetch the ticker data
stock = yf.Ticker(ticker_symbol)

# Display stock info
print("Company Information:")
print(stock.info)

# Fetch historical market data
data = stock.history(period="1mo")

# Display historical market data
print("\nHistorical Data:")
print(data)

# Comparative Companies (discarted)

## German Companies (discarted)

### Delivery Hero SE "DHER.DE"

In [35]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'DHER.DE'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
                #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

✅ Saved DHER.DE_income_statement.csv
✅ Saved DHER.DE_balance_sheet.csv
✅ Saved DHER.DE_cash_flow.csv

### Just Eat Takeaway.com NV "T5W.BE"

In [36]:
# Example: Fetching financial statements for Delivery Hero
ticker = 'T5W.BE'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
                #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

✅ Saved T5W.BE_income_statement.csv
✅ Saved T5W.BE_balance_sheet.csv
✅ Saved T5W.BE_cash_flow.csv

### HelloFresh SE "HFG.DE"

In [2]:
# Example: Fetching financial statements for Delivery Hero
ticker = 'HFG.DE'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
                #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

✅ Saved HFG.DE_income_statement.csv
✅ Saved HFG.DE_balance_sheet.csv
✅ Saved HFG.DE_cash_flow.csv

### Ocado Group PLC "0OC.BE"

In [38]:
# Example: Fetching financial statements for Delivery Hero
ticker = '0OC.BE'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
                #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

✅ Saved 0OC.BE_income_statement.csv
✅ Saved 0OC.BE_balance_sheet.csv
✅ Saved 0OC.BE_cash_flow.csv

### Zalando SE "ZAL.DE"

In [39]:
# Example: Fetching financial statements for Delivery Hero
ticker = 'ZAL.DE'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
                #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

✅ Saved ZAL.DE_income_statement.csv
✅ Saved ZAL.DE_balance_sheet.csv
✅ Saved ZAL.DE_cash_flow.csv

### Amazon.com, Inc. "AMZ1.F"

In [34]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'AMZ1.F'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
                #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

✅ Saved AMZ1.F_income_statement.csv
✅ Saved AMZ1.F_balance_sheet.csv
✅ Saved AMZ1.F_cash_flow.csv

## Comparative Companies (discarted)

### E-commerce

In [ ]:
"AMZN", "JD" ,"BABA", "PDD", "3690.HK", "CPNG", "MELI", "SE", "VIPS", "4755.T"

In [201]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'AMZN'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

# Print each financial statement for exploration
pnl_amzn = financial_statements['income_statement']
bs_amzn = financial_statements['balance_sheet']
cf_amzn = financial_statements['cash_flow']
fs_amzn = financial_statements

In [203]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'JD'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

# Print each financial statement for exploration
pnl_jd = financial_statements['income_statement']
bs_jd = financial_statements['balance_sheet']
cf_jd = financial_statements['cash_flow']
fs_jd = financial_statements

In [204]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'BABA'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

# Print each financial statement for exploration
pnl_baba = financial_statements['income_statement']
bs_baba = financial_statements['balance_sheet']
cf_baba = financial_statements['cash_flow']
fs_baba = financial_statements

In [182]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'PDD'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

# Print each financial statement for exploration
pnl_pdd = financial_statements['income_statement']
bs_pdd = financial_statements['balance_sheet']
cf_pdd = financial_statements['cash_flow']
fs_pdd = financial_statements

In [205]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = '3690.HK'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_3690 = financial_statements['income_statement']
bs_3690 = financial_statements['balance_sheet']
cf_3690 = financial_statements['cash_flow']
fs_3690 = financial_statements

In [206]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'CPNG'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_cpng = financial_statements['income_statement']
bs_cpng = financial_statements['balance_sheet']
cf_cpng = financial_statements['cash_flow']
fs_cpng = financial_statements

In [185]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'MELI'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        csv_filename = f"{ticker}_{name}.csv"
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")

pnl_meli = financial_statements['income_statement']
bs_meli = financial_statements['balance_sheet']
cf_meli = financial_statements['cash_flow']
fs_meli = financial_statements

In [207]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'SE'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_se = financial_statements['income_statement']
bs_se = financial_statements['balance_sheet']
cf_se = financial_statements['cash_flow']
fs_se = financial_statements

In [187]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'VIPS'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_vips = financial_statements['income_statement']
bs_vips = financial_statements['balance_sheet']
cf_vips = financial_statements['cash_flow']
fs_vips = financial_statements

In [208]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = '4755.T'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_4755 = financial_statements['income_statement']
bs_4755 = financial_statements['balance_sheet']
cf_4755 = financial_statements['cash_flow']
fs_4755 = financial_statements

### Retail

In [ ]:
"WMT", "CVS", "COST", "KR", "HD", "WBA", "TGT", "AD.AS", "CA.PA", "TSCO.L"

In [209]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'WMT'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_wmt = financial_statements['income_statement']
bs_wmt = financial_statements['balance_sheet']
cf_wmt = financial_statements['cash_flow']
fs_wmt = financial_statements

In [210]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'CVS'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_cvs = financial_statements['income_statement']
bs_cvs = financial_statements['balance_sheet']
cf_cvs = financial_statements['cash_flow']
fs_cvs = financial_statements

In [211]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'COST'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")


pnl_cost = financial_statements['income_statement']
bs_cost = financial_statements['balance_sheet']
cf_cost = financial_statements['cash_flow']
fs_cost = financial_statements

In [212]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'KR'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_kr = financial_statements['income_statement']
bs_kr = financial_statements['balance_sheet']
cf_kr = financial_statements['cash_flow']
fs_kr = financial_statements

In [213]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'HD'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_hd = financial_statements['income_statement']
bs_hd = financial_statements['balance_sheet']
cf_hd = financial_statements['cash_flow']
fs_hd = financial_statements

In [214]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'WBA'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_wba = financial_statements['income_statement']
bs_wba = financial_statements['balance_sheet']
cf_wba = financial_statements['cash_flow']
fs_wba = financial_statements

In [215]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'TGT'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_tgt = financial_statements['income_statement']
bs_tgt = financial_statements['balance_sheet']
cf_tgt = financial_statements['cash_flow']
fs_tgt = financial_statements

In [216]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'AD.AS'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_ad = financial_statements['income_statement']
bs_ad = financial_statements['balance_sheet']
cf_ad = financial_statements['cash_flow']
fs_ad = financial_statements

In [217]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'CA.PA'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_ca = financial_statements['income_statement']
bs_ca = financial_statements['balance_sheet']
cf_ca = financial_statements['cash_flow']
fs_ca = financial_statements

In [218]:
import yfinance as yf

# Example: Fetching financial statements for Delivery Hero
ticker = 'TSCO.L'  # Yahoo Finance ticker symbol for Delivery Hero (adjust for other companies)
company = yf.Ticker(ticker)

currency = company.info.get("currency", "Unknown")

# Fetch financial statements
financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}

# Process and export each financial statement
for name, statement in financial_statements.items():
    if statement is not None:  # Ensure the data exists
        df = statement
        df.reset_index(inplace=True)  # Reset index to make Dates a column
        df.rename(columns={"index": "Breakdown"}, inplace=True)  # Rename the index column
        df["Currency"] = currency
        #csv_filename = f"{ticker}_{name}.csv"
        #df.to_csv(csv_filename, index=False)  # Export to CSV
        #print(f"✅ Saved {csv_filename}")
    else:
        print(f"⚠ No data available for {name}")

pnl_tsco = financial_statements['income_statement']
bs_tsco = financial_statements['balance_sheet']
cf_tsco = financial_statements['cash_flow']
fs_tsco = financial_statements

# Comparative Companies

# E-Commerce

## Data Extraction

In [6]:
#without FX

tickers = ["AMZN", "JD" ,"BABA", "PDD", "3690.HK", "CPNG", "MELI", "SE", "VIPS", "4755.T"]

for ticker in tickers:
    company = yf.Ticker(ticker)

    currency = company.info.get("currency", "Unknown")
    
    financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}
    for name, statement in financial_statements.items():
        if statement is not None:
            df = statement
            df.reset_index(inplace=True)
            #df.rename(columns={"index": "Date"}, inplace=True)
            df["Currency"] = currency
            df.loc[len(df)] = currency 
            #df.iloc[-1]['index'] = "currency"
            csv_filename = f"{ticker}_{name}.csv"
            if "." in ticker:
                df_name = f"{ticker}_{name}".split(".")[1]
                globals()[df_name] = df
            else:
                df_name = f"{ticker}_{name}"
                globals()[df_name] = df
            df.to_csv(csv_filename, index=False)
            
            print(f"✅ Saved {csv_filename}")
        else:
            print(f"⚠ No data for {ticker} - {name}")

✅ Saved AMZN_income_statement.csv
✅ Saved AMZN_balance_sheet.csv
✅ Saved AMZN_cash_flow.csv
✅ Saved JD_income_statement.csv
✅ Saved JD_balance_sheet.csv
✅ Saved JD_cash_flow.csv
✅ Saved BABA_income_statement.csv
✅ Saved BABA_balance_sheet.csv
✅ Saved BABA_cash_flow.csv
✅ Saved PDD_income_statement.csv
✅ Saved PDD_balance_sheet.csv
✅ Saved PDD_cash_flow.csv
✅ Saved 3690.HK_income_statement.csv
✅ Saved 3690.HK_balance_sheet.csv
✅ Saved 3690.HK_cash_flow.csv
✅ Saved CPNG_income_statement.csv
✅ Saved CPNG_balance_sheet.csv
✅ Saved CPNG_cash_flow.csv
✅ Saved MELI_income_statement.csv
✅ Saved MELI_balance_sheet.csv
✅ Saved MELI_cash_flow.csv
✅ Saved SE_income_statement.csv
✅ Saved SE_balance_sheet.csv
✅ Saved SE_cash_flow.csv
✅ Saved VIPS_income_statement.csv
✅ Saved VIPS_balance_sheet.csv
✅ Saved VIPS_cash_flow.csv
✅ Saved 4755.T_income_statement.csv
✅ Saved 4755.T_balance_sheet.csv
✅ Saved 4755.T_cash_flow.csv

In [631]:
BABA_income_statement.iloc[-1]['index']

'USD'

## Wrangling

### Wrangling: Financial Statements for Company (setting up individual df adding columns: company & currency)

In [7]:
# List of company tickers
companies = ["AMZN", "JD", "BABA", "PDD", "HK", "CPNG", "MELI", "SE", "VIPS", "T"]

# Financial statement types
fs_types = ["income_statement", "balance_sheet", "cash_flow"]

# Dictionary to store concatenated financials as DataFrames
company_financials = {}

# Function to concatenate financial statements
def concat_financials(ticker):
    dfs = []
    for fs_type in fs_types:
        var_name = f"{ticker}_{fs_type}"  # Construct variable name dynamically
        if var_name in globals():  # Check if variable exists
            df = globals()[var_name].copy()  # Copy DataFrame to avoid modification issues

            
            df["Statement_Type"] = fs_type  # Add a column to indicate the statement type
            df["Company"] = ticker  # Add company ticker column
            dfs.append(df)
    
    if dfs:
        return pd.concat(dfs, axis=0)  # Concatenate along rows
    return pd.DataFrame()  # Return an empty DataFrame if no data

# Process each company and store the result as a DataFrame
for company in companies:
    company_financials[company] = concat_financials(company)

In [8]:
amzn_financials = company_financials["AMZN"]
jd_financials = company_financials["JD"]
baba_financials = company_financials["BABA"]
pdd_financials = company_financials["PDD"]
fs_3690_financials = company_financials["HK"]
cpng_financials = company_financials["CPNG"]
meli_financials = company_financials["MELI"]
se_financials = company_financials["SE"]
vips_financials = company_financials["VIPS"]
fs_4755_financials = company_financials["T"]

### Wrangling: individual dfs with chosen columns (for future calculation)

In [9]:
amzn_fin = amzn_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
amzn_fin.columns = amzn_fin.iloc[0]
amzn_fin =amzn_fin.drop("index")
amzn_fin = amzn_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
amzn_fin = amzn_fin.reset_index()
amzn_fin.rename(columns = {"index":"Date"}, inplace = True)
amzn_fin['Company'] = "Amazon"
amzn_fin["Currency"] = "USD"
amzn_fin['Country'] = "USA"
amzn_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,125644000000.0,123815000000.0,71020000000.0,569366000000.0,68593000000.0,NaN,NaN,59248000000.0,56029000000.0,...,624894000000.0,190867000000.0,34214000000.0,78779000000.0,32878000000.0,-82999000000.0,115877000000.0,Amazon,USD,USA
1,2023-12-31,88287000000.0,89402000000.0,40739000000.0,537933000000.0,36852000000.0,2.9,2.95,30425000000.0,56953000000.0,...,527854000000.0,172351000000.0,33318000000.0,73387000000.0,32217000000.0,-52729000000.0,84946000000.0,Amazon,USD,USA
2,2022-12-31,54618000000.0,38352000000.0,-3569000000.0,501735000000.0,12248000000.0,-0.27,-0.27,-2722000000.0,55392000000.0,...,462675000000.0,146791000000.0,34405000000.0,53888000000.0,-16893000000.0,-63645000000.0,46752000000.0,Amazon,USD,USA
3,2021-12-31,59741000000.0,74393000000.0,39960000000.0,444943000000.0,24879000000.0,3.2405,3.298,33364000000.0,41436000000.0,...,420549000000.0,161580000000.0,32640000000.0,36220000000.0,-14726000000.0,-61053000000.0,46327000000.0,Amazon,USD,USA
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,2.0915,2.132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazon,USD,USA

In [10]:
jd_fin = jd_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
jd_fin.columns = jd_fin.iloc[0]
jd_fin =jd_fin.drop("index")
jd_fin = jd_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
jd_fin = jd_fin.reset_index()
jd_fin.rename(columns = {"index":"Date"}, inplace = True)
jd_fin['Company'] = "JD.com"
jd_fin["Currency"] = "USD"
jd_fin['Country'] = "China"
jd_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2023-12-31,49545000000.0,42823000000.0,34531000000.0,1053195000000.0,26025000000.0,15.22,15.38,24167000000.0,128237000000.0,...,628958000000.0,307810000000.0,68058000000.0,71892000000.0,39506000000.0,-20015000000.0,59521000000.0,JD.com,USD,China
1,2022-12-31,31339000000.0,23209000000.0,15973000000.0,1025119000000.0,19723000000.0,6.42,6.64,10380000000.0,125956000000.0,...,595250000000.0,351074000000.0,77949000000.0,78861000000.0,34906000000.0,-22913000000.0,57819000000.0,JD.com,USD,China
2,2021-12-31,11742000000.0,4865000000.0,-1367000000.0,945736000000.0,4141000000.0,-2.3,-2.3,-3560000000.0,123210000000.0,...,496507000000.0,299672000000.0,75601000000.0,70767000000.0,20023000000.0,-22278000000.0,42301000000.0,JD.com,USD,China
3,2020-12-31,26899000000.0,58012000000.0,51944000000.0,732563000000.0,12343000000.0,15.84,16.35,49405000000.0,95869000000.0,...,422288000000.0,234801000000.0,58933000000.0,86085000000.0,30088000000.0,-12456000000.0,42544000000.0,JD.com,USD,China

In [11]:
jd_fin['Total Revenue']

0    1084662000000.0
1    1046236000000.0
2     951592000000.0
3     745802000000.0
Name: Total Revenue, dtype: object

In [12]:
baba_fin = baba_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
baba_fin.columns = baba_fin.iloc[0]
baba_fin =baba_fin.drop("index")
baba_fin = baba_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
baba_fin = baba_fin.reset_index()
baba_fin.rename(columns = {"index":"Date"}, inplace = True)
baba_fin['Company'] = "Alibaba"
baba_fin["Currency"] = "USD"
baba_fin['Country'] = "China"
baba_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-03-31,174532000000.0,164011000000.0,119507000000.0,817297000000.0,113350000000.0,31.28,31.6,80009000000.0,230974000000.0,...,1764829000000.0,752864000000.0,25460000000.0,248125000000.0,149664000000.0,-32929000000.0,182593000000.0,Alibaba,USD,China
1,2023-03-31,155826000000.0,153112000000.0,106174000000.0,765622000000.0,100351000000.0,27.44,27.68,72783000000.0,215927000000.0,...,1753044000000.0,697966000000.0,28547000000.0,193086000000.0,165400000000.0,-34352000000.0,199752000000.0,Alibaba,USD,China
2,2022-03-31,153367000000.0,128226000000.0,80161000000.0,758283000000.0,69638000000.0,22.72,22.96,62249000000.0,218833000000.0,...,1695553000000.0,638535000000.0,30087000000.0,189898000000.0,89435000000.0,-53324000000.0,142759000000.0,Alibaba,USD,China
3,2021-03-31,217963000000.0,217963000000.0,170054000000.0,627611000000.0,89678000000.0,54.72,55.6,150578000000.0,206406000000.0,...,1690218000000.0,643360000000.0,27858000000.0,321262000000.0,188601000000.0,-43185000000.0,231786000000.0,Alibaba,USD,China
4,2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alibaba,USD,China

In [13]:
pdd_fin = pdd_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
pdd_fin.columns = pdd_fin.iloc[0]
pdd_fin =pdd_fin.drop("index")
pdd_fin = pdd_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
pdd_fin = pdd_fin.reset_index()
pdd_fin.rename(columns = {"index":"Date"}, inplace = True)
pdd_fin['Company'] = "Pinduoduo"
pdd_fin["Currency"] = "USD"
pdd_fin['Country'] = "China"
pdd_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2023-12-31,73777626000.0,73813347000.0,71925142000.0,188940443000.0,58698762000.0,41.16,44.32,60026544000.0,97216866000.0,...,348078120000.0,294750472000.0,NaN,59794469000.0,93578652000.0,-583879000.0,94162531000.0,Pinduoduo,USD,China
1,2022-12-31,39355463000.0,39205753000.0,36470669000.0,100155668000.0,30401921000.0,21.92,24.96,31538062000.0,68693370000.0,...,237119953000.0,216617876000.0,NaN,34326192000.0,47872144000.0,-635716000.0,48507860000.0,Pinduoduo,USD,China
2,2021-12-31,12458922000.0,12530672000.0,10686429000.0,87053177000.0,6896762000.0,5.44,6.2,7768670000.0,55335084000.0,...,181209718000.0,160909168000.0,14196000.0,6426715000.0,25495779000.0,-3287232000.0,28783011000.0,Pinduoduo,USD,China
3,2020-12-31,-5930789000.0,-5705592000.0,-6506060000.0,68872190000.0,-9380325000.0,-6.04,-6.04,-7179742000.0,49593549000.0,...,158908614000.0,149523878000.0,1718410000.0,22421189000.0,28153581000.0,-43046000.0,28196627000.0,Pinduoduo,USD,China

In [14]:
fin_3690 = fs_3690_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
fin_3690.columns = fin_3690.iloc[0]
fin_3690 =fin_3690.drop("index")
fin_3690 = fin_3690[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
fin_3690 = fin_3690.reset_index()
fin_3690.rename(columns = {"index":"Date"}, inplace = True)
fin_3690['Company'] = "Meituan_HK"
fin_3690["Currency"] = "HKD"
fin_3690['Country'] = "HK"
fin_3690

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2023-12-31,20234854000.0,23442478000.0,15445721000.0,266717685000.0,13415387000.0,2.11,2.23,13855828000.0,87163892000.0,...,293029632000.0,183116179000.0,1304595000.0,33339754000.0,33642299000.0,-6879551000.0,40521850000.0,Meituan_HK,HKD,HK
1,2022-12-31,4597576000.0,4557982000.0,-5172332000.0,226425950000.0,-5820448000.0,-1.09,-1.09,-6686110000.0,68223981000.0,...,244481192000.0,143145467000.0,1162765000.0,20158606000.0,5680144000.0,-5731304000.0,11411448000.0,Meituan_HK,HKD,HK
2,2021-12-31,-11990794000.0,-13557760000.0,-22485779000.0,201122351000.0,-23127199000.0,-3.9,-3.9,-23538379000.0,64468482000.0,...,240653269000.0,147828677000.0,681693000.0,32513428000.0,-13021912000.0,-9010455000.0,-4011457000.0,Meituan_HK,HKD,HK
3,2020-12-31,4876893000.0,9977466000.0,4783357000.0,116725097000.0,4330102000.0,0.78,0.81,4708313000.0,35980729000.0,...,166574802000.0,88306155000.0,466492000.0,17093559000.0,-7349423000.0,-15824436000.0,8475013000.0,Meituan_HK,HKD,HK

In [15]:
cpng_fin = cpng_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
cpng_fin.columns = cpng_fin.iloc[0]
cpng_fin =cpng_fin.drop("index")
cpng_fin = cpng_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
cpng_fin = cpng_fin.reset_index()
cpng_fin.rename(columns = {"index":"Date"}, inplace = True)
cpng_fin['Company'] = "Coupang"
cpng_fin["Currency"] = "USD"
cpng_fin['Country'] = "China"
cpng_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,1046000000.0,1046000000.0,613000000.0,29832000000.0,436000000.0,0.08,0.09,154000000.0,8395000000.0,...,15344000000.0,8994000000.0,2099000000.0,5879000000.0,1007000000.0,-879000000.0,1886000000.0,Coupang,USD,China
1,2023-12-31,907000000.0,907000000.0,632000000.0,23910000000.0,473000000.0,0.75,0.76,1360000000.0,5717000000.0,...,13346000000.0,7892000000.0,1666000000.0,5243000000.0,1756000000.0,-896000000.0,2652000000.0,Coupang,USD,China
2,2022-12-31,165000000.0,165000000.0,-66000000.0,20695000000.0,-112000000.0,-0.05,-0.05,-92000000.0,4822000000.0,...,9513000000.0,5830000000.0,1657000000.0,3509000000.0,-259000000.0,-824000000.0,565000000.0,Coupang,USD,China
3,2021-12-31,-1296000000.0,-1296000000.0,-1497000000.0,19900000000.0,-1494000000.0,-1.08,-1.08,-1543000000.0,4445000000.0,...,8641834000.0,5636806000.0,1421501000.0,3487708000.0,-1085000000.0,-674000000.0,-411000000.0,Coupang,USD,China
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coupang,USD,China

In [16]:
meli_fin = meli_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
meli_fin.columns = meli_fin.iloc[0]
meli_fin = meli_fin.drop("index")
meli_fin = meli_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
meli_fin = meli_fin.reset_index()
meli_fin.rename(columns = {"index":"Date"}, inplace = True)
meli_fin['Company'] = "Mercado_Libre"
meli_fin["Currency"] = "USD"
meli_fin['Country'] = "Argentina"
meli_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,3396000000.0,3214000000.0,2597000000.0,18146000000.0,2631000000.0,37.69,37.69,1911000000.0,6946000000.0,...,25196000000.0,20142000000.0,296000000.0,2635000000.0,7058000000.0,-860000000.0,7918000000.0,Mercado_Libre,USD,Argentina
1,2023-12-31,2866000000.0,2251000000.0,1727000000.0,12900000000.0,2207000000.0,19.46,19.64,987000000.0,5383000000.0,...,17612000000.0,14260000000.0,238000000.0,2556000000.0,4631000000.0,-509000000.0,5140000000.0,Mercado_Libre,USD,Argentina
2,2022-12-31,1516000000.0,1318000000.0,915000000.0,9711000000.0,1069000000.0,9.53,9.57,482000000.0,4129000000.0,...,13736000000.0,10953000000.0,152000000.0,1910000000.0,2485000000.0,-455000000.0,2940000000.0,Mercado_Libre,USD,Argentina
3,2021-12-31,783000000.0,674000000.0,470000000.0,6628000000.0,441000000.0,1.67,1.67,83000000.0,2564000000.0,...,10101000000.0,8175000000.0,253000000.0,2585000000.0,356000000.0,-609000000.0,965000000.0,Mercado_Libre,USD,Argentina
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mercado_Libre,USD,Argentina

In [17]:
se_fin = se_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
se_fin.columns = se_fin.iloc[0]
se_fin =se_fin.drop("index")
se_fin = se_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
se_fin = se_fin.reset_index()
se_fin.rename(columns = {"index":"Date"}, inplace = True)
se_fin['Company'] = "Sea"
se_fin["Currency"] = "USD"
se_fin['Country'] = "Singapore"
se_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2023-12-31,1114808000.0,914314000.0,473469000.0,12720907000.0,224778000.0,0.25,0.27,150726000.0,5490994000.0,...,18883232000.0,11773934000.0,125395000.0,2811056000.0,1821427000.0,-258261000.0,2079688000.0,Sea,USD,Singapore
1,2022-12-31,-588706000.0,-1026793000.0,-1455137000.0,13582270000.0,-1487508000.0,-2.96,-2.96,-1651421000.0,6317842000.0,...,17002796000.0,12688012000.0,109668000.0,6029859000.0,-2031975000.0,-976283000.0,-1055692000.0,Sea,USD,Singapore
2,2021-12-31,-1267946000.0,-1299276000.0,-1578308000.0,11538250000.0,-1583060000.0,-3.84,-3.84,-2046759000.0,5478795000.0,...,18756025000.0,15135397000.0,117499000.0,9247762000.0,-598527000.0,-807176000.0,208649000.0,Sea,USD,Singapore
3,2020-12-31,-1097847000.0,-1178634000.0,-1359395000.0,5678989000.0,-1303325000.0,-3.39,-3.39,-1618056000.0,2652230000.0,...,10455671000.0,8939004000.0,64219000.0,6166880000.0,198814000.0,-357054000.0,555868000.0,Sea,USD,Singapore

In [18]:
vips_fin = vips_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
vips_fin.columns = vips_fin.iloc[0]
vips_fin =vips_fin.drop("index")
vips_fin = vips_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
vips_fin = vips_fin.reset_index()
vips_fin.rename(columns = {"index":"Date"}, inplace = True)
vips_fin['Company'] = "Vipshop"
vips_fin["Currency"] = "USD"
vips_fin['Country'] = "China"
vips_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2023-12-31,11235972000.0,11530419000.0,10009934000.0,103920825000.0,9104135000.0,14.422,14.664,8116624000.0,16785697000.0,...,72322594000.0,37560598000.0,5644713000.0,25414729000.0,9183776000.0,-5230737000.0,14414513000.0,Vipshop,USD,China
1,2022-12-31,8172216000.0,9514863000.0,8101462000.0,97157692000.0,6197446000.0,9.83,9.902,6298816000.0,15621283000.0,...,65475510000.0,33734433000.0,5515880000.0,21938653000.0,7417103000.0,-3102589000.0,10519692000.0,Vipshop,USD,China
2,2021-12-31,7337914000.0,7147266000.0,5887736000.0,111652755000.0,5582422000.0,6.748,6.876,4681073000.0,17699634000.0,...,62287541000.0,32841945000.0,6865108000.0,16297410000.0,3165999000.0,-3578645000.0,6744644000.0,Vipshop,USD,China
3,2020-12-31,7306974000.0,8225993000.0,7086714000.0,96139811000.0,5860086000.0,8.558,8.746,5906957000.0,15566630000.0,...,58940814000.0,31172982000.0,7642509000.0,11995415000.0,9548549000.0,-2271895000.0,11820444000.0,Vipshop,USD,China

In [19]:
fin_4755 = fs_4755_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
fin_4755.columns = fin_4755.iloc[0]
fin_4755 =fin_4755.drop("index")
fin_4755 = fin_4755[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense",  
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
fin_4755 = fin_4755.reset_index()
fin_4755.rename(columns = {"index":"Date"}, inplace = True)
fin_4755['Company'] = "Rakuten"
fin_4755["Currency"] = "JPY"
fin_4755['Country'] = "Japan"
fin_4755

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Current Liabilities,Total Assets,Current Assets,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2023-12-31,146600000000.0,146600000000.0,-153171000000.0,2284172000000.0,-212857000000.0,-177.29,-177.27,-339473000000.0,2284172000000.0,...,450024000000.0,22625576000000.0,12411815000000.0,5127674000000.0,373035000000.0,-351157000000.0,724192000000.0,Rakuten,JPY,Japan
1,2022-12-31,1179000000.0,1179000000.0,-258728000000.0,2292506000000.0,-371612000000.0,-237.89,-237.73,-377217000000.0,2292506000000.0,...,468701000000.0,20402281000000.0,11342149000000.0,4694360000000.0,-697286000000.0,-435218000000.0,-262068000000.0,Rakuten,JPY,Japan
2,2021-12-31,23365000000.0,23365000000.0,-173988000000.0,1876483000000.0,-194726000000.0,-87.62,-87.62,-133828000000.0,1876483000000.0,...,405954000000.0,16831221000000.0,9635365000000.0,4410301000000.0,172066000000.0,-410641000000.0,582707000000.0,Rakuten,JPY,Japan
3,2020-12-31,80097000000.0,80097000000.0,-71409000000.0,1549387000000.0,-93849000000.0,-84.0,-84.0,-114199000000.0,1549387000000.0,...,346127000000.0,12524438000000.0,6734718000000.0,3021306000000.0,656317000000.0,-385074000000.0,1041391000000.0,Rakuten,JPY,Japan

### Wrangling: Concating ecomm df

In [20]:
df_ecomm = pd.concat([amzn_fin, jd_fin,baba_fin,pdd_fin,fin_3690,cpng_fin,meli_fin,se_fin,vips_fin,fin_4755])
df_ecomm

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,125644000000.0,123815000000.0,71020000000.0,569366000000.0,68593000000.0,NaN,NaN,59248000000.0,56029000000.0,...,624894000000.0,190867000000.0,34214000000.0,78779000000.0,32878000000.0,-82999000000.0,115877000000.0,Amazon,USD,USA
1,2023-12-31,88287000000.0,89402000000.0,40739000000.0,537933000000.0,36852000000.0,2.9,2.95,30425000000.0,56953000000.0,...,527854000000.0,172351000000.0,33318000000.0,73387000000.0,32217000000.0,-52729000000.0,84946000000.0,Amazon,USD,USA
2,2022-12-31,54618000000.0,38352000000.0,-3569000000.0,501735000000.0,12248000000.0,-0.27,-0.27,-2722000000.0,55392000000.0,...,462675000000.0,146791000000.0,34405000000.0,53888000000.0,-16893000000.0,-63645000000.0,46752000000.0,Amazon,USD,USA
3,2021-12-31,59741000000.0,74393000000.0,39960000000.0,444943000000.0,24879000000.0,3.2405,3.298,33364000000.0,41436000000.0,...,420549000000.0,161580000000.0,32640000000.0,36220000000.0,-14726000000.0,-61053000000.0,46327000000.0,Amazon,USD,USA
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,2.0915,2.132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazon,USD,USA
0,2023-12-31,49545000000.0,42823000000.0,34531000000.0,1053195000000.0,26025000000.0,15.22,15.38,24167000000.0,128237000000.0,...,628958000000.0,307810000000.0,68058000000.0,71892000000.0,39506000000.0,-20015000000.0,59521000000.0,JD.com,USD,China
1,2022-12-31,31339000000.0,23209000000.0,15973000000.0,1025119000000.0,19723000000.0,6.42,6.64,10380000000.0,125956000000.0,...,595250000000.0,351074000000.0,77949000000.0,78861000000.0,34906000000.0,-22913000000.0,57819000000.0,JD.com,USD,China
2,2021-12-31,11742000000.0,4865000000.0,-1367000000.0,945736000000.0,4141000000.0,-2.3,-2.3,-3560000000.0,123210000000.0,...,496507000000.0,299672000000.0,75601000000.0,70767000000.0,20023000000.0,-22278000000.0,42301000000.0,JD.com,USD,China
3,2020-12-31,26899000000.0,58012000000.0,51944000000.0,732563000000.0,12343000000.0,15.84,16.35,49405000000.0,95869000000.0,...,422288000000.0,234801000000.0,58933000000.0,86085000000.0,30088000000.0,-12456000000.0,42544000000.0,JD.com,USD,China
0,2024-03-31,174532000000.0,164011000000.0,119507000000.0,817297000000.0,113350000000.0,31.28,31.6,80009000000.0,230974000000.0,...,1764829000000.0,752864000000.0,25460000000.0,248125000000.0,149664000000.0,-32929000000.0,182593000000.0,Alibaba,USD,China
1,2023-03-31,155826000000.0,153112000000.0,106174000000.0,765622000000.0,100351000000.0,27.44,27.68,72783000000.0,215927000000.0,...,1753044000000.0,697966000000.0,28547000000.0,193086000000.0,165400000000.0,-34352000000.0,199752000000.0,Alibaba,USD,China
2,2022-03-31,153367000000.0,128226000000.0,80161000000.0,758283000000.0,69638000000.0,22.72,22.96,62249000000.0,218833000000.0,...,1695553000000.0,638535000000.0,30087000000.0,189898000000.0,89435000000.0,-53324000000.0,142759000000.0,Alibaba,USD,China
3,2021-03-31,217963000000.0,217963000000.0,170054000000.0,627611000000.0,89678000000.0,54.72,55.6,150578000000.0,206406000000.0,...,1690218000000.0,643360000000.0,27858000000.0,321262000000.0,188601000000.0,-43185000000.0,231786000000.0,Alibaba,USD,China
4,2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alibaba,USD,China
0,2023-12-31,73777626000.0,73813347000.0,71925142000.0,188940443000.0,58698762000.0,41.16,44.32,60026544000.0,97216866000.0,...,348078120000.0,294750472000.0,NaN,59794469000.0,93578652000.0,-583879000.0,94162531000.0,Pinduoduo,USD,China
1,2022-12-31,39355463000.0,39205753000.0,36470669000.0,100155668000.0,30401921000.0,21.92,24.96,31538062000.0,68693370000.0,...,237119953000.0,216617876000.0,NaN,34326192000.0,47872144000.0,-635716000.0,48507860000.0,Pinduoduo,USD,China
2,2021-12-31,12458922000.0,12530672000.0,10686429000.0,87053177000.0,6896762000.0,5.44,6.2,7768670000.0,55335084000.0,...,181209718000.0,160909168000.0,14196000.0,6426715000.0,25495779000.0,-3287232000.0,28783011000.0,Pinduoduo,USD,China
3,2020-12-31,-5930789000.0,-5705592000.0,-6506060000.0,68872190000.0,-9380325000.0,-6.04,-6.04,-7179742000.0,49593549000.0,...,158908614000.0,149523878000.0,1718410000.0,22421189000.0,28153581000.0,-43046000.0,28196627000.0,Pinduoduo,USD,China
0,2023-12-31,20234854000.0,23442478000.0,15445721000.0,266717685000.0,13415387000.0,2.11,2.23,13855828000.0,87163892000.0,...,293029632000.0,183116179000.0,1304595000.0,33339754000.0,33642299000.0,-6879551000.0,40521850000.0,Meituan_HK,HKD,HK
1,2022-12-31,4597576000.0,4557982000.0,-5172332000.0,226425950000.0,-5820448000.0,-1.09,-1.09,-6686110000.0,68223981000.0,...,244481192000.0,143145467000.0,1162765000.0,20158606000.0,5680144000.0,-5731304000.0,11411448000.0,Meituan_HK,HKD,HK
2,2021-12-31,-11990794000.0,-13557760000.0,-22485779000.0,201122351000.0,-23127199000.0,-3.9,-3.9,-23538379000.0,64468482000.0,...,240653269000.0,147828677000.0,681693000.0,32513428000.0,-13021912000.0,-9010455000.0,-4011457000.0,Meituan_HK,HKD,HK
3,2020-12-31,4876893000.0,9977466000.0,4783357000.0,116725097000.0,4330102000.0,0.78,0.81,4708313000.0,35980729000.0,...,166574802000.0,88306155000.0,466492000.0,17093559000.0,-7349423000.0,-15824436000.0,8475013000.0,Meituan_HK,HKD,HK
0,2024-12-31,1046000000.0,1046000000.0,613000000.0,29832000000.0,436000000.0,0.08,0.09,154000000.0,8395000000.0,...,15344000000.0,8994000000.0,2099000000.0,5879000000.0,1007000000.0,-879000000.0,1886000000.0,Coupang,USD,China
1,2023-12-31,907000000.0,907000000.0,632000000.0,23910000000.0,473000000.0,0.75,0.76,1360000000.0,5717000000.0,...,13346000000.0,7892000000.0,1666000000.0,5243000000.0,1756000000.0,-896000000.0,2652000000.0,Coupang,USD,China
2,2022-12-31,165000000.0,165000000.0,-66000000.0,20695000000.0,-112000000.0,-0.05,-0.05,-92000000.0,4822000000.0,...,9513000000.0,5830000000.0,1657000000.0,3509000000.0,-259000000.0,-824000000.0,565000000.0,Coupang,USD,China
3,2021-12-31,-1296000000.0,-1296000000.0,-1497000000.0,19900000000.0,-1494000000.0,-1.08,-1.08,-1543000000.0,4445000000.0,...,8641834000.0,5636806000.0,1421501000.0,3487708000.0,-1085000000.0,-674000000.0,-411000000.0,Coupang,USD,China
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coupang,USD,China
0,2024-12-31,3396000000.0,3214000000.0,2597000000.0,18146000000.0,2631000000.0,37.69,37.69,1911000000.0,6946000000.0,...,25196000000.0,20142000000.0,296000000.0,2635000000.0,7058000000.0,-860000000.0,7918000000.0,Mercado_Libre,USD,Argentina
1,2023-12-31,2866000000.0,2251000000.0,1727000000.0,12900000000.0,2207000000.0,19.46,19.64,987000000.0,5383000000.0,...,17612000000.0,14260000000.0,238000000.0,2556000000.0,4631000000.0,-509000000.0,5140000000.0,Mercado_Libre,USD,Argentina
2,2022-12-31,1516000000.0,1318000000.0,915000000.0,9711000000.0,1069000000.0,9.53,9.57,482000000.0,4129000000.0,...,13736000000.0,10953000000.0,152000000.0,1910000000.0,2485000000.0,-455000000.0,2940000000.0,Mercado_Libre,USD,Argentina
3,2021-12-31,783000000.0,674000000.0,470000000.0,6628000000.0,441000000.0,1.67,1.67,83000000.0,2564000000.0,...,10101000000.0,8175000000.0,253000000.0,2585000000.0,356000000.0,-609000000.0,965000000.0,Mercado_Libre,USD,Argentina
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mercado_Libre,USD,Argentina
0,2023-12-31,1114808000.0,914314000.0,473469000.0,12720907000.0,224778000.0,0.25,0.27,150726000.0,5490994000.0,...,18883232000.0,11773934000.0,125395000.0,2811056000.0,1821427000.0,-258261000.0,2079688000.0,Sea,USD,Singapore
1,2022-12-31,-588706000.0,-1026793000.0,-1455137000.0,13582270000.0,-1487508000.0,-2.96,-2.96,-1651421000.0,6317842000.0,...,17002796000.0,12688012000.0,109668000.0,6029859000.0,-2031975000.0,-976283000.0,-1055692000.0,Sea,USD,Singapore
2,2021-12-31,-1267946000.0,-1299276000.0,-1578308000.0,11538250000.0,-1583060000.0,-3.84,-3.84,-2046759000.0,5478795000.0,...,18756025000.0,15135397000.0,117499000.0,9247762000.0,-598527000.0,-807176000.0,208649000.0,Sea,USD,Singapore
3,2020-12-31,-1097847000.0,-1178634000.0,-1359395000.0,5678989000.0,-1303325000.0,-3.39,-3.39,-1618056000.0,2652230000.0,...,10455671000.0,8939004000.0,64219000.0,6166880000.0,198814000.0,-357054000.0,555868000.0,Sea,USD,Singapore
0,2023-12-31,11235972000.0,11530419000.0,10009934000.0,103920825000.0,9104135000.0,14.422,14.664,8116624000.0,16785697000.0,...,72322594000.0,37560598000.0,5644713000.0,25414729000.0,9183776000.0,-5230737000.0,14414513000.0,Vipshop,USD,China
1,2022-12-31,8172216000.0,9514863000.0,8101462000.0,97157692000.0,6197446000.0,9.83,9.902,6298816000.0,15621283000.0,...,65475510000.0,33734433000.0,5515880000.0,21938653000.0,7417103000.0,-3102589000.0,10519692000.0,Vipshop,USD,China
2,2021-12-31,7337914000.0,7147266000.0,5887736000.0,111652755000.0,5582422000.0,6.748,6.876,4681073000.0,17699634000.0,...,62287541000.0,32841945000.0,6865108000.0,16297410000.0,3165999000.0,-3578645000.0,6744644000.0,Vipshop,USD,China
3,2020-12-31,7306974000.0,8225993000.0,7086714000.0,96139811000.0,5860086000.0,8.558,8.746,5906957000.0,15566630000.0,...,58940814000.0,31172982000.0,7642509000.0,11995415000.0,9548549000.0,-2271895000.0,11820444000.0,Vipshop,USD,China
0,2023-12-31,146600000000.0,146600000000.0,-153171000000.0,2284172000000.0,-212857000000.0,-177.29,-177.27,-339473000000.0,2284172000000.0,...,22625576000000.0,12411815000000.0,NaN,5127674000000.0,373035000000.0,-351157000000.0,724192000000.0,Rakuten,JPY,Japan
1,2022-12-31,1179000000.0,1179000000.0,-258728000000.0,2292506000000.0,-371612000000.0,-237.89,-237.73,-377217000000.0,2292506000000.0,...,20402281000000.0,11342149000000.0,NaN,4694360000000.0,-697286000000.0,-435218000000.0,-262068000000.0,Rakuten,JPY,Japan
2,2021-12-31,23365000000.0,23365000000.0,-173988000000.0,1876483000000.0,-194726000000.0,-87.62,-87.62,-133828000000.0,1876483000000.0,...,16831221000000.0,9635365000000.0,NaN,4410301000000.0,172066000000.0,-410641000000.0,582707000000.0,Rakuten,JPY,Japan
3,2020-12-31,80097000000.0,80097000000.0,-71409000000.0,1549387000000.0,-93849000000.0,-84.0,-84.0,-114199000000.0,1549387000000.0,...,12524438000000.0,6734718000000.0,NaN,3021306000000.0,656317000000.0,-385074000000.0,1041391000000.0,Rakuten,JPY,Japan

### Wrangling: converting to number format

In [21]:
column_summary_df = pd.DataFrame({
    'Column Name': df_ecomm.columns,
    'Data Type': df_ecomm.dtypes.values,
    'Percentage Null': df_ecomm.isnull().mean().values * 100,
    'Unique Values': df_ecomm.nunique().values
})
print(column_summary_df)

                           Column Name       Data Type  Percentage Null  \
0                                 Date  datetime64[ns]         0.000000
1                    Normalized EBITDA          object         9.090909
2                               EBITDA          object         9.090909
3                                 EBIT          object         9.090909
4                       Total Expenses          object         9.090909
5   Total Operating Income As Reported          object         9.090909
6                          Diluted EPS          object         9.090909
7                            Basic EPS          object         9.090909
8                           Net Income          object         9.090909
9                    Operating Expense          object         9.090909
10  Selling General And Administration          object        18.181818
11                        Gross Profit          object        18.181818
12                     Cost Of Revenue          object        18.181818
13                       Total Revenue          object         9.090909
14                   Operating Revenue          object         9.090909
15                          Total Debt          object         9.090909
16                 Common Stock Equity          object         9.090909
17                 Stockholders Equity          object         9.090909
18                 Current Liabilities          object         9.090909
19                        Total Assets          object         9.090909
20                      Current Assets          object         9.090909
21                           Inventory          object        22.727273
22           Cash And Cash Equivalents          object         9.090909
23                      Free Cash Flow          object         9.090909
24                 Capital Expenditure          object         9.090909
25                 Operating Cash Flow          object         9.090909
26                             Company          object         0.000000
27                            Currency          object         0.000000
28                             Country          object         0.000000

    Unique Values
0              10
1              40
2              40
3              40
4              40
5              40
6              40
7              40
8              40
9              40
10             36
11             36
12             36
13             40
14             40
15             40
16             40
17             40
18             40
19             40
20             40
21             34
22             40
23             40
24             40
25             40
26             10
27              3
28              6

In [22]:
# List of columns to convert
columns_to_convert = [
    'Normalized EBITDA', 'EBITDA', 'EBIT', 'Total Expenses', 
    'Total Operating Income As Reported', 'Diluted EPS', 
    'Basic EPS', 'Net Income', 'Operating Expense', 
    'Selling General And Administration', 'Gross Profit', 
    'Cost Of Revenue', 'Total Revenue', 'Operating Revenue',
    'Total Debt', 'Common Stock Equity', 'Stockholders Equity', 
    'Current Liabilities', 'Total Assets', 'Current Assets', 
    'Inventory', 'Cash And Cash Equivalents', 'Free Cash Flow', 
    'Capital Expenditure', 'Operating Cash Flow'
]

# Create a copy of the original DataFrame
df_ecomm_new = df_ecomm.copy()

# Convert specified columns to numeric in the new DataFrame
for column in columns_to_convert:
    df_ecomm_new[column] = pd.to_numeric(df_ecomm_new[column], errors='coerce')

df_ecomm_new

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,1.256440e+11,1.238150e+11,7.102000e+10,5.693660e+11,6.859300e+10,NaN,NaN,5.924800e+10,5.602900e+10,...,6.248940e+11,1.908670e+11,3.421400e+10,7.877900e+10,3.287800e+10,-8.299900e+10,1.158770e+11,Amazon,USD,USA
1,2023-12-31,8.828700e+10,8.940200e+10,4.073900e+10,5.379330e+11,3.685200e+10,2.9000,2.950,3.042500e+10,5.695300e+10,...,5.278540e+11,1.723510e+11,3.331800e+10,7.338700e+10,3.221700e+10,-5.272900e+10,8.494600e+10,Amazon,USD,USA
2,2022-12-31,5.461800e+10,3.835200e+10,-3.569000e+09,5.017350e+11,1.224800e+10,-0.2700,-0.270,-2.722000e+09,5.539200e+10,...,4.626750e+11,1.467910e+11,3.440500e+10,5.388800e+10,-1.689300e+10,-6.364500e+10,4.675200e+10,Amazon,USD,USA
3,2021-12-31,5.974100e+10,7.439300e+10,3.996000e+10,4.449430e+11,2.487900e+10,3.2405,3.298,3.336400e+10,4.143600e+10,...,4.205490e+11,1.615800e+11,3.264000e+10,3.622000e+10,-1.472600e+10,-6.105300e+10,4.632700e+10,Amazon,USD,USA
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,2.0915,2.132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazon,USD,USA
0,2023-12-31,4.954500e+10,4.282300e+10,3.453100e+10,1.053195e+12,2.602500e+10,15.2200,15.380,2.416700e+10,1.282370e+11,...,6.289580e+11,3.078100e+11,6.805800e+10,7.189200e+10,3.950600e+10,-2.001500e+10,5.952100e+10,JD.com,USD,China
1,2022-12-31,3.133900e+10,2.320900e+10,1.597300e+10,1.025119e+12,1.972300e+10,6.4200,6.640,1.038000e+10,1.259560e+11,...,5.952500e+11,3.510740e+11,7.794900e+10,7.886100e+10,3.490600e+10,-2.291300e+10,5.781900e+10,JD.com,USD,China
2,2021-12-31,1.174200e+10,4.865000e+09,-1.367000e+09,9.457360e+11,4.141000e+09,-2.3000,-2.300,-3.560000e+09,1.232100e+11,...,4.965070e+11,2.996720e+11,7.560100e+10,7.076700e+10,2.002300e+10,-2.227800e+10,4.230100e+10,JD.com,USD,China
3,2020-12-31,2.689900e+10,5.801200e+10,5.194400e+10,7.325630e+11,1.234300e+10,15.8400,16.350,4.940500e+10,9.586900e+10,...,4.222880e+11,2.348010e+11,5.893300e+10,8.608500e+10,3.008800e+10,-1.245600e+10,4.254400e+10,JD.com,USD,China
0,2024-03-31,1.745320e+11,1.640110e+11,1.195070e+11,8.172970e+11,1.133500e+11,31.2800,31.600,8.000900e+10,2.309740e+11,...,1.764829e+12,7.528640e+11,2.546000e+10,2.481250e+11,1.496640e+11,-3.292900e+10,1.825930e+11,Alibaba,USD,China
1,2023-03-31,1.558260e+11,1.531120e+11,1.061740e+11,7.656220e+11,1.003510e+11,27.4400,27.680,7.278300e+10,2.159270e+11,...,1.753044e+12,6.979660e+11,2.854700e+10,1.930860e+11,1.654000e+11,-3.435200e+10,1.997520e+11,Alibaba,USD,China
2,2022-03-31,1.533670e+11,1.282260e+11,8.016100e+10,7.582830e+11,6.963800e+10,22.7200,22.960,6.224900e+10,2.188330e+11,...,1.695553e+12,6.385350e+11,3.008700e+10,1.898980e+11,8.943500e+10,-5.332400e+10,1.427590e+11,Alibaba,USD,China
3,2021-03-31,2.179630e+11,2.179630e+11,1.700540e+11,6.276110e+11,8.967800e+10,54.7200,55.600,1.505780e+11,2.064060e+11,...,1.690218e+12,6.433600e+11,2.785800e+10,3.212620e+11,1.886010e+11,-4.318500e+10,2.317860e+11,Alibaba,USD,China
4,2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alibaba,USD,China
0,2023-12-31,7.377763e+10,7.381335e+10,7.192514e+10,1.889404e+11,5.869876e+10,41.1600,44.320,6.002654e+10,9.721687e+10,...,3.480781e+11,2.947505e+11,NaN,5.979447e+10,9.357865e+10,-5.838790e+08,9.416253e+10,Pinduoduo,USD,China
1,2022-12-31,3.935546e+10,3.920575e+10,3.647067e+10,1.001557e+11,3.040192e+10,21.9200,24.960,3.153806e+10,6.869337e+10,...,2.371200e+11,2.166179e+11,NaN,3.432619e+10,4.787214e+10,-6.357160e+08,4.850786e+10,Pinduoduo,USD,China
2,2021-12-31,1.245892e+10,1.253067e+10,1.068643e+10,8.705318e+10,6.896762e+09,5.4400,6.200,7.768670e+09,5.533508e+10,...,1.812097e+11,1.609092e+11,1.419600e+07,6.426715e+09,2.549578e+10,-3.287232e+09,2.878301e+10,Pinduoduo,USD,China
3,2020-12-31,-5.930789e+09,-5.705592e+09,-6.506060e+09,6.887219e+10,-9.380325e+09,-6.0400,-6.040,-7.179742e+09,4.959355e+10,...,1.589086e+11,1.495239e+11,1.718410e+09,2.242119e+10,2.815358e+10,-4.304600e+07,2.819663e+10,Pinduoduo,USD,China
0,2023-12-31,2.023485e+10,2.344248e+10,1.544572e+10,2.667177e+11,1.341539e+10,2.1100,2.230,1.385583e+10,8.716389e+10,...,2.930296e+11,1.831162e+11,1.304595e+09,3.333975e+10,3.364230e+10,-6.879551e+09,4.052185e+10,Meituan_HK,HKD,HK
1,2022-12-31,4.597576e+09,4.557982e+09,-5.172332e+09,2.264260e+11,-5.820448e+09,-1.0900,-1.090,-6.686110e+09,6.822398e+10,...,2.444812e+11,1.431455e+11,1.162765e+09,2.015861e+10,5.680144e+09,-5.731304e+09,1.141145e+10,Meituan_HK,HKD,HK
2,2021-12-31,-1.199079e+10,-1.355776e+10,-2.248578e+10,2.011224e+11,-2.312720e+10,-3.9000,-3.900,-2.353838e+10,6.446848e+10,...,2.406533e+11,1.478287e+11,6.816930e+08,3.251343e+10,-1.302191e+10,-9.010455e+09,-4.011457e+09,Meituan_HK,HKD,HK
3,2020-12-31,4.876893e+09,9.977466e+09,4.783357e+09,1.167251e+11,4.330102e+09,0.7800,0.810,4.708313e+09,3.598073e+10,...,1.665748e+11,8.830616e+10,4.664920e+08,1.709356e+10,-7.349423e+09,-1.582444e+10,8.475013e+09,Meituan_HK,HKD,HK
0,2024-12-31,1.046000e+09,1.046000e+09,6.130000e+08,2.983200e+10,4.360000e+08,0.0800,0.090,1.540000e+08,8.395000e+09,...,1.534400e+10,8.994000e+09,2.099000e+09,5.879000e+09,1.007000e+09,-8.790000e+08,1.886000e+09,Coupang,USD,China
1,2023-12-31,9.070000e+08,9.070000e+08,6.320000e+08,2.391000e+10,4.730000e+08,0.7500,0.760,1.360000e+09,5.717000e+09,...,1.334600e+10,7.892000e+09,1.666000e+09,5.243000e+09,1.756000e+09,-8.960000e+08,2.652000e+09,Coupang,USD,China
2,2022-12-31,1.650000e+08,1.650000e+08,-6.600000e+07,2.069500e+10,-1.120000e+08,-0.0500,-0.050,-9.200000e+07,4.822000e+09,...,9.513000e+09,5.830000e+09,1.657000e+09,3.509000e+09,-2.590000e+08,-8.240000e+08,5.650000e+08,Coupang,USD,China
3,2021-12-31,-1.296000e+09,-1.296000e+09,-1.497000e+09,1.990000e+10,-1.494000e+09,-1.0800,-1.080,-1.543000e+09,4.445000e+09,...,8.641834e+09,5.636806e+09,1.421501e+09,3.487708e+09,-1.085000e+09,-6.740000e+08,-4.110000e+08,Coupang,USD,China
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coupang,USD,China
0,2024-12-31,3.396000e+09,3.214000e+09,2.597000e+09,1.814600e+10,2.631000e+09,37.6900,37.690,1.911000e+09,6.946000e+09,...,2.519600e+10,2.014200e+10,2.960000e+08,2.635000e+09,7.058000e+09,-8.600000e+08,7.918000e+09,Mercado_Libre,USD,Argentina
1,2023-12-31,2.866000e+09,2.251000e+09,1.727000e+09,1.290000e+10,2.207000e+09,19.4600,19.640,9.870000e+08,5.383000e+09,...,1.761200e+10,1.426000e+10,2.380000e+08,2.556000e+09,4.631000e+09,-5.090000e+08,5.140000e+09,Mercado_Libre,USD,Argentina
2,2022-12-31,1.516000e+09,1.318000e+09,9.150000e+08,9.711000e+09,1.069000e+09,9.5300,9.570,4.820000e+08,4.129000e+09,...,1.373600e+10,1.095300e+10,1.520000e+08,1.910000e+09,2.485000e+09,-4.550000e+08,2.940000e+09,Mercado_Libre,USD,Argentina
3,2021-12-31,7.830000e+08,6.740000e+08,4.700000e+08,6.628000e+09,4.410000e+08,1.6700,1.670,8.300000e+07,2.564000e+09,...,1.010100e+10,8.175000e+09,2.530000e+08,2.585000e+09,3.560000e+08,-6.090000e+08,9.650000e+08,Mercado_Libre,USD,Argentina
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mercado_Libre,USD,Argentina
0,2023-12-31,1.114808e+09,9.143140e+08,4.734690e+08,1.272091e+10,2.247780e+08,0.2500,0.270,1.507260e+08,5.490994e+09,...,1.888323e+10,1.177393e+10,1.253950e+08,2.811056e+09,1.821427e+09,-2.582610e+08,2.079688e+09,Sea,USD,Singapore
1,2022-12-31,-5.887060e+08,-1.026793e+09,-1.455137e+09,1.358227e+10,-1.487508e+09,-2.9600,-2.960,-1.651421e+09,6.317842e+09,...,1.700280e+10,1.268801e+10,1.096680e+08,6.029859e+09,-2.031975e+09,-9.762830e+08,-1.055692e+09,Sea,USD,Singapore
2,2021-12-31,-1.267946e+09,-1.299276e+09,-1.578308e+09,1.153825e+10,-1.583060e+09,-3.8400,-3.840,-2.046759e+09,5.478795e+09,...,1.875602e+10,1.513540e+10,1.174990e+08,9.247762e+09,-5.985270e+08,-8.071760e+08,2.086490e+08,Sea,USD,Singapore
3,2020-12-31,-1.097847e+09,-1.178634e+09,-1.359395e+09,5.678989e+09,-1.303325e+09,-3.3900,-3.390,-1.618056e+09,2.652230e+09,...,1.045567e+10,8.939004e+09,6.421900e+07,6.166880e+09,1.988140e+08,-3.570540e+08,5.558680e+08,Sea,USD,Singapore
0,2023-12-31,1.123597e+10,1.153042e+10,1.000993e+10,1.039208e+11,9.104135e+09,14.4220,14.664,8.116624e+09,1.678570e+10,...,7.232259e+10,3.756060e+10,5.644713e+09,2.541473e+10,9.183776e+09,-5.230737e+09,1.441451e+10,Vipshop,USD,China
1,2022-12-31,8.172216e+09,9.514863e+09,8.101462e+09,9.715769e+10,6.197446e+09,9.8300,9.902,6.298816e+09,1.562128e+10,...,6.547551e+10,3.373443e+10,5.515880e+09,2.193865e+10,7.417103e+09,-3.102589e+09,1.051969e+10,Vipshop,USD,China
2,2021-12-31,7.337914e+09,7.147266e+09,5.887736e+09,1.116528e+11,5.582422e+09,6.7480,6.876,4.681073e+09,1.769963e+10,...,6.228754e+10,3.284194e+10,6.865108e+09,1.629741e+10,3.165999e+09,-3.578645e+09,6.744644e+09,Vipshop,USD,China
3,2020-12-31,7.306974e+09,8.225993e+09,7.086714e+09,9.613981e+10,5.860086e+09,8.5580,8.746,5.906957e+09,1.556663e+10,...,5.894081e+10,3.117298e+10,7.642509e+09,1.199542e+10,9.548549e+09,-2.271895e+09,1.182044e+10,Vipshop,USD,China
0,2023-12-31,1.466000e+11,1.466000e+11,-1.531710e+11,2.284172e+12,-2.128570e+11,-177.2900,-177.270,-3.394730e+11,2.284172e+12,...,2.262558e+13,1.241182e+13,NaN,5.127674e+12,3.730350e+11,-3.511570e+11,7.241920e+11,Rakuten,JPY,Japan
1,2022-12-31,1.179000e+09,1.179000e+09,-2.587280e+11,2.292506e+12,-3.716120e+11,-237.8900,-237.730,-3.772170e+11,2.292506e+12,...,2.040228e+13,1.134215e+13,NaN,4.694360e+12,-6.972860e+11,-4.352180e+11,-2.620680e+11,Rakuten,JPY,Japan
2,2021-12-31,2.336500e+10,2.336500e+10,-1.739880e+11,1.876483e+12,-1.947260e+11,-87.6200,-87.620,-1.338280e+11,1.876483e+12,...,1.683122e+13,9.635365e+12,NaN,4.410301e+12,1.720660e+11,-4.106410e+11,5.827070e+11,Rakuten,JPY,Japan
3,2020-12-31,8.009700e+10,8.009700e+10,-7.140900e+10,1.549387e+12,-9.384900e+10,-84.0000,-84.000,-1.141990e+11,1.549387e+12,...,1.252444e+13,6.734718e+12,NaN,3.021306e+12,6.563170e+11,-3.850740e+11,1.041391e+12,Rakuten,JPY,Japan

In [69]:
#df_ecomm_new.to_csv('df_ecomm_new.csv', index = True)
#df_retail_new.to_csv('df_retail_new.csv', index = True)

### Wrangling: Currency convertion

In [24]:
# Exchange rates as of 31-Dec-2023
exchange_rates = {
    'JPY': 0.0071,  # 1 JPY = 0.0071 USD
    'HKD': 0.1280   # 1 HKD = 0.1280 USD
}

# List of financial columns (excluding categorical ones)
financial_columns = [
    "Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", "Net Income", "Operating Expense", 
    "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
    "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
    "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
    "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
    "Operating Cash Flow"
]

# Function to convert to USD
def convert_to_usd(row):
    if row["Currency"] in exchange_rates:  # If the currency needs conversion
        return row[financial_columns] * exchange_rates[row["Currency"]]
    return row[financial_columns]  # Keep USD values unchanged

# Apply conversion
df_ecomm_usd = df_ecomm_new.copy()
df_ecomm_usd[financial_columns] = df_ecomm_new.apply(convert_to_usd, axis=1)

# Update Currency column to USD
df_ecomm_usd["Currency"] = "USD"

df_ecomm_usd

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,1.256440e+11,1.238150e+11,7.102000e+10,5.693660e+11,6.859300e+10,NaN,NaN,5.924800e+10,5.602900e+10,...,6.248940e+11,1.908670e+11,3.421400e+10,7.877900e+10,3.287800e+10,-8.299900e+10,1.158770e+11,Amazon,USD,USA
1,2023-12-31,8.828700e+10,8.940200e+10,4.073900e+10,5.379330e+11,3.685200e+10,2.9000,2.950,3.042500e+10,5.695300e+10,...,5.278540e+11,1.723510e+11,3.331800e+10,7.338700e+10,3.221700e+10,-5.272900e+10,8.494600e+10,Amazon,USD,USA
2,2022-12-31,5.461800e+10,3.835200e+10,-3.569000e+09,5.017350e+11,1.224800e+10,-0.2700,-0.270,-2.722000e+09,5.539200e+10,...,4.626750e+11,1.467910e+11,3.440500e+10,5.388800e+10,-1.689300e+10,-6.364500e+10,4.675200e+10,Amazon,USD,USA
3,2021-12-31,5.974100e+10,7.439300e+10,3.996000e+10,4.449430e+11,2.487900e+10,3.2405,3.298,3.336400e+10,4.143600e+10,...,4.205490e+11,1.615800e+11,3.264000e+10,3.622000e+10,-1.472600e+10,-6.105300e+10,4.632700e+10,Amazon,USD,USA
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,2.0915,2.132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazon,USD,USA
0,2023-12-31,4.954500e+10,4.282300e+10,3.453100e+10,1.053195e+12,2.602500e+10,15.2200,15.380,2.416700e+10,1.282370e+11,...,6.289580e+11,3.078100e+11,6.805800e+10,7.189200e+10,3.950600e+10,-2.001500e+10,5.952100e+10,JD.com,USD,China
1,2022-12-31,3.133900e+10,2.320900e+10,1.597300e+10,1.025119e+12,1.972300e+10,6.4200,6.640,1.038000e+10,1.259560e+11,...,5.952500e+11,3.510740e+11,7.794900e+10,7.886100e+10,3.490600e+10,-2.291300e+10,5.781900e+10,JD.com,USD,China
2,2021-12-31,1.174200e+10,4.865000e+09,-1.367000e+09,9.457360e+11,4.141000e+09,-2.3000,-2.300,-3.560000e+09,1.232100e+11,...,4.965070e+11,2.996720e+11,7.560100e+10,7.076700e+10,2.002300e+10,-2.227800e+10,4.230100e+10,JD.com,USD,China
3,2020-12-31,2.689900e+10,5.801200e+10,5.194400e+10,7.325630e+11,1.234300e+10,15.8400,16.350,4.940500e+10,9.586900e+10,...,4.222880e+11,2.348010e+11,5.893300e+10,8.608500e+10,3.008800e+10,-1.245600e+10,4.254400e+10,JD.com,USD,China
0,2024-03-31,1.745320e+11,1.640110e+11,1.195070e+11,8.172970e+11,1.133500e+11,31.2800,31.600,8.000900e+10,2.309740e+11,...,1.764829e+12,7.528640e+11,2.546000e+10,2.481250e+11,1.496640e+11,-3.292900e+10,1.825930e+11,Alibaba,USD,China
1,2023-03-31,1.558260e+11,1.531120e+11,1.061740e+11,7.656220e+11,1.003510e+11,27.4400,27.680,7.278300e+10,2.159270e+11,...,1.753044e+12,6.979660e+11,2.854700e+10,1.930860e+11,1.654000e+11,-3.435200e+10,1.997520e+11,Alibaba,USD,China
2,2022-03-31,1.533670e+11,1.282260e+11,8.016100e+10,7.582830e+11,6.963800e+10,22.7200,22.960,6.224900e+10,2.188330e+11,...,1.695553e+12,6.385350e+11,3.008700e+10,1.898980e+11,8.943500e+10,-5.332400e+10,1.427590e+11,Alibaba,USD,China
3,2021-03-31,2.179630e+11,2.179630e+11,1.700540e+11,6.276110e+11,8.967800e+10,54.7200,55.600,1.505780e+11,2.064060e+11,...,1.690218e+12,6.433600e+11,2.785800e+10,3.212620e+11,1.886010e+11,-4.318500e+10,2.317860e+11,Alibaba,USD,China
4,2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alibaba,USD,China
0,2023-12-31,7.377763e+10,7.381335e+10,7.192514e+10,1.889404e+11,5.869876e+10,41.1600,44.320,6.002654e+10,9.721687e+10,...,3.480781e+11,2.947505e+11,NaN,5.979447e+10,9.357865e+10,-5.838790e+08,9.416253e+10,Pinduoduo,USD,China
1,2022-12-31,3.935546e+10,3.920575e+10,3.647067e+10,1.001557e+11,3.040192e+10,21.9200,24.960,3.153806e+10,6.869337e+10,...,2.371200e+11,2.166179e+11,NaN,3.432619e+10,4.787214e+10,-6.357160e+08,4.850786e+10,Pinduoduo,USD,China
2,2021-12-31,1.245892e+10,1.253067e+10,1.068643e+10,8.705318e+10,6.896762e+09,5.4400,6.200,7.768670e+09,5.533508e+10,...,1.812097e+11,1.609092e+11,1.419600e+07,6.426715e+09,2.549578e+10,-3.287232e+09,2.878301e+10,Pinduoduo,USD,China
3,2020-12-31,-5.930789e+09,-5.705592e+09,-6.506060e+09,6.887219e+10,-9.380325e+09,-6.0400,-6.040,-7.179742e+09,4.959355e+10,...,1.589086e+11,1.495239e+11,1.718410e+09,2.242119e+10,2.815358e+10,-4.304600e+07,2.819663e+10,Pinduoduo,USD,China
0,2023-12-31,2.590061e+09,3.000637e+09,1.977052e+09,3.413986e+10,1.717170e+09,2.1100,2.230,1.773546e+09,1.115698e+10,...,3.750779e+10,2.343887e+10,1.669882e+08,4.267489e+09,4.306214e+09,-8.805825e+08,5.186797e+09,Meituan_HK,USD,HK
1,2022-12-31,5.884897e+08,5.834217e+08,-6.620585e+08,2.898252e+10,-7.450173e+08,-1.0900,-1.090,-8.558221e+08,8.732670e+09,...,3.129359e+10,1.832262e+10,1.488339e+08,2.580302e+09,7.270584e+08,-7.336069e+08,1.460665e+09,Meituan_HK,USD,HK
2,2021-12-31,-1.534822e+09,-1.735393e+09,-2.878180e+09,2.574366e+10,-2.960281e+09,-3.9000,-3.900,-3.012913e+09,8.251966e+09,...,3.080362e+10,1.892207e+10,8.725670e+07,4.161719e+09,-1.666805e+09,-1.153338e+09,-5.134665e+08,Meituan_HK,USD,HK
3,2020-12-31,6.242423e+08,1.277116e+09,6.122697e+08,1.494081e+10,5.542531e+08,0.7800,0.810,6.026641e+08,4.605533e+09,...,2.132157e+10,1.130319e+10,5.971098e+07,2.187976e+09,-9.407261e+08,-2.025528e+09,1.084802e+09,Meituan_HK,USD,HK
0,2024-12-31,1.046000e+09,1.046000e+09,6.130000e+08,2.983200e+10,4.360000e+08,0.0800,0.090,1.540000e+08,8.395000e+09,...,1.534400e+10,8.994000e+09,2.099000e+09,5.879000e+09,1.007000e+09,-8.790000e+08,1.886000e+09,Coupang,USD,China
1,2023-12-31,9.070000e+08,9.070000e+08,6.320000e+08,2.391000e+10,4.730000e+08,0.7500,0.760,1.360000e+09,5.717000e+09,...,1.334600e+10,7.892000e+09,1.666000e+09,5.243000e+09,1.756000e+09,-8.960000e+08,2.652000e+09,Coupang,USD,China
2,2022-12-31,1.650000e+08,1.650000e+08,-6.600000e+07,2.069500e+10,-1.120000e+08,-0.0500,-0.050,-9.200000e+07,4.822000e+09,...,9.513000e+09,5.830000e+09,1.657000e+09,3.509000e+09,-2.590000e+08,-8.240000e+08,5.650000e+08,Coupang,USD,China
3,2021-12-31,-1.296000e+09,-1.296000e+09,-1.497000e+09,1.990000e+10,-1.494000e+09,-1.0800,-1.080,-1.543000e+09,4.445000e+09,...,8.641834e+09,5.636806e+09,1.421501e+09,3.487708e+09,-1.085000e+09,-6.740000e+08,-4.110000e+08,Coupang,USD,China
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coupang,USD,China
0,2024-12-31,3.396000e+09,3.214000e+09,2.597000e+09,1.814600e+10,2.631000e+09,37.6900,37.690,1.911000e+09,6.946000e+09,...,2.519600e+10,2.014200e+10,2.960000e+08,2.635000e+09,7.058000e+09,-8.600000e+08,7.918000e+09,Mercado_Libre,USD,Argentina
1,2023-12-31,2.866000e+09,2.251000e+09,1.727000e+09,1.290000e+10,2.207000e+09,19.4600,19.640,9.870000e+08,5.383000e+09,...,1.761200e+10,1.426000e+10,2.380000e+08,2.556000e+09,4.631000e+09,-5.090000e+08,5.140000e+09,Mercado_Libre,USD,Argentina
2,2022-12-31,1.516000e+09,1.318000e+09,9.150000e+08,9.711000e+09,1.069000e+09,9.5300,9.570,4.820000e+08,4.129000e+09,...,1.373600e+10,1.095300e+10,1.520000e+08,1.910000e+09,2.485000e+09,-4.550000e+08,2.940000e+09,Mercado_Libre,USD,Argentina
3,2021-12-31,7.830000e+08,6.740000e+08,4.700000e+08,6.628000e+09,4.410000e+08,1.6700,1.670,8.300000e+07,2.564000e+09,...,1.010100e+10,8.175000e+09,2.530000e+08,2.585000e+09,3.560000e+08,-6.090000e+08,9.650000e+08,Mercado_Libre,USD,Argentina
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mercado_Libre,USD,Argentina
0,2023-12-31,1.114808e+09,9.143140e+08,4.734690e+08,1.272091e+10,2.247780e+08,0.2500,0.270,1.507260e+08,5.490994e+09,...,1.888323e+10,1.177393e+10,1.253950e+08,2.811056e+09,1.821427e+09,-2.582610e+08,2.079688e+09,Sea,USD,Singapore
1,2022-12-31,-5.887060e+08,-1.026793e+09,-1.455137e+09,1.358227e+10,-1.487508e+09,-2.9600,-2.960,-1.651421e+09,6.317842e+09,...,1.700280e+10,1.268801e+10,1.096680e+08,6.029859e+09,-2.031975e+09,-9.762830e+08,-1.055692e+09,Sea,USD,Singapore
2,2021-12-31,-1.267946e+09,-1.299276e+09,-1.578308e+09,1.153825e+10,-1.583060e+09,-3.8400,-3.840,-2.046759e+09,5.478795e+09,...,1.875602e+10,1.513540e+10,1.174990e+08,9.247762e+09,-5.985270e+08,-8.071760e+08,2.086490e+08,Sea,USD,Singapore
3,2020-12-31,-1.097847e+09,-1.178634e+09,-1.359395e+09,5.678989e+09,-1.303325e+09,-3.3900,-3.390,-1.618056e+09,2.652230e+09,...,1.045567e+10,8.939004e+09,6.421900e+07,6.166880e+09,1.988140e+08,-3.570540e+08,5.558680e+08,Sea,USD,Singapore
0,2023-12-31,1.123597e+10,1.153042e+10,1.000993e+10,1.039208e+11,9.104135e+09,14.4220,14.664,8.116624e+09,1.678570e+10,...,7.232259e+10,3.756060e+10,5.644713e+09,2.541473e+10,9.183776e+09,-5.230737e+09,1.441451e+10,Vipshop,USD,China
1,2022-12-31,8.172216e+09,9.514863e+09,8.101462e+09,9.715769e+10,6.197446e+09,9.8300,9.902,6.298816e+09,1.562128e+10,...,6.547551e+10,3.373443e+10,5.515880e+09,2.193865e+10,7.417103e+09,-3.102589e+09,1.051969e+10,Vipshop,USD,China
2,2021-12-31,7.337914e+09,7.147266e+09,5.887736e+09,1.116528e+11,5.582422e+09,6.7480,6.876,4.681073e+09,1.769963e+10,...,6.228754e+10,3.284194e+10,6.865108e+09,1.629741e+10,3.165999e+09,-3.578645e+09,6.744644e+09,Vipshop,USD,China
3,2020-12-31,7.306974e+09,8.225993e+09,7.086714e+09,9.613981e+10,5.860086e+09,8.5580,8.746,5.906957e+09,1.556663e+10,...,5.894081e+10,3.117298e+10,7.642509e+09,1.199542e+10,9.548549e+09,-2.271895e+09,1.182044e+10,Vipshop,USD,China
0,2023-12-31,1.040860e+09,1.040860e+09,-1.087514e+09,1.621762e+10,-1.511285e+09,-177.2900,-177.270,-2.410258e+09,1.621762e+10,...,1.606416e+11,8.812389e+10,NaN,3.640649e+10,2.648548e+09,-2.493215e+09,5.141763e+09,Rakuten,USD,Japan
1,2022-12-31,8.370900e+06,8.370900e+06,-1.836969e+09,1.627679e+10,-2.638445e+09,-237.8900,-237.730,-2.678241e+09,1.627679e+10,...,1.448562e+11,8.052926e+10,NaN,3.332996e+10,-4.950731e+09,-3.090048e+09,-1.860683e+09,Rakuten,USD,Japan
2,2021-12-31,1.658915e+08,1.658915e+08,-1.235315e+09,1.332303e+10,-1.382555e+09,-87.6200,-87.620,-9.501788e+08,1.332303e+10,...,1.195017e+11,6.841109e+10,NaN,3.131314e+10,1.221669e+09,-2.915551e+09,4.137220e+09,Rakuten,USD,Japan
3,2020-12-31,5.686887e+08,5.686887e+08,-5.070039e+08,1.100065e+10,-6.663279e+08,-84.0000,-84.000,-8.108129e+08,1.100065e+10,...,8.892351e+10,4.781650e+10,NaN,2.145127e+10,4.659851e+09,-2.734025e+09,7.393876e+09,Rakuten,USD,Japan

In [25]:
#df_ecomm_usd.to_excel('df_ecomm_usd.xlsx', index=True)

#### Test

In [26]:
df_meituan = df_ecomm_new[df_ecomm_new['Company'] == "Meituan_HK"]
df_meituan

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2023-12-31,2.023485e+10,2.344248e+10,1.544572e+10,2.667177e+11,1.341539e+10,2.11,2.23,1.385583e+10,8.716389e+10,...,2.930296e+11,1.831162e+11,1.304595e+09,3.333975e+10,3.364230e+10,-6.879551e+09,4.052185e+10,Meituan_HK,HKD,HK
1,2022-12-31,4.597576e+09,4.557982e+09,-5.172332e+09,2.264260e+11,-5.820448e+09,-1.09,-1.09,-6.686110e+09,6.822398e+10,...,2.444812e+11,1.431455e+11,1.162765e+09,2.015861e+10,5.680144e+09,-5.731304e+09,1.141145e+10,Meituan_HK,HKD,HK
2,2021-12-31,-1.199079e+10,-1.355776e+10,-2.248578e+10,2.011224e+11,-2.312720e+10,-3.90,-3.90,-2.353838e+10,6.446848e+10,...,2.406533e+11,1.478287e+11,6.816930e+08,3.251343e+10,-1.302191e+10,-9.010455e+09,-4.011457e+09,Meituan_HK,HKD,HK
3,2020-12-31,4.876893e+09,9.977466e+09,4.783357e+09,1.167251e+11,4.330102e+09,0.78,0.81,4.708313e+09,3.598073e+10,...,1.665748e+11,8.830616e+10,4.664920e+08,1.709356e+10,-7.349423e+09,-1.582444e+10,8.475013e+09,Meituan_HK,HKD,HK

In [27]:
df_meituan_usd = df_ecomm_usd[df_ecomm_usd['Company'] == "Meituan_HK"]
df_meituan_usd

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2023-12-31,2.590061e+09,3.000637e+09,1.977052e+09,3.413986e+10,1.717170e+09,2.11,2.23,1.773546e+09,1.115698e+10,...,3.750779e+10,2.343887e+10,166988160.0,4.267489e+09,4.306214e+09,-8.805825e+08,5.186797e+09,Meituan_HK,USD,HK
1,2022-12-31,5.884897e+08,5.834217e+08,-6.620585e+08,2.898252e+10,-7.450173e+08,-1.09,-1.09,-8.558221e+08,8.732670e+09,...,3.129359e+10,1.832262e+10,148833920.0,2.580302e+09,7.270584e+08,-7.336069e+08,1.460665e+09,Meituan_HK,USD,HK
2,2021-12-31,-1.534822e+09,-1.735393e+09,-2.878180e+09,2.574366e+10,-2.960281e+09,-3.90,-3.90,-3.012913e+09,8.251966e+09,...,3.080362e+10,1.892207e+10,87256704.0,4.161719e+09,-1.666805e+09,-1.153338e+09,-5.134665e+08,Meituan_HK,USD,HK
3,2020-12-31,6.242423e+08,1.277116e+09,6.122697e+08,1.494081e+10,5.542531e+08,0.78,0.81,6.026641e+08,4.605533e+09,...,2.132157e+10,1.130319e+10,59710976.0,2.187976e+09,-9.407261e+08,-2.025528e+09,1.084802e+09,Meituan_HK,USD,HK

In [28]:
df_rakuten = df_ecomm_new[df_ecomm_new['Company'] == "Rakuten"]
df_rakuten

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2023-12-31,1.466000e+11,1.466000e+11,-1.531710e+11,2.284172e+12,-2.128570e+11,-177.29,-177.27,-3.394730e+11,2.284172e+12,...,2.262558e+13,1.241182e+13,NaN,5.127674e+12,3.730350e+11,-3.511570e+11,7.241920e+11,Rakuten,JPY,Japan
1,2022-12-31,1.179000e+09,1.179000e+09,-2.587280e+11,2.292506e+12,-3.716120e+11,-237.89,-237.73,-3.772170e+11,2.292506e+12,...,2.040228e+13,1.134215e+13,NaN,4.694360e+12,-6.972860e+11,-4.352180e+11,-2.620680e+11,Rakuten,JPY,Japan
2,2021-12-31,2.336500e+10,2.336500e+10,-1.739880e+11,1.876483e+12,-1.947260e+11,-87.62,-87.62,-1.338280e+11,1.876483e+12,...,1.683122e+13,9.635365e+12,NaN,4.410301e+12,1.720660e+11,-4.106410e+11,5.827070e+11,Rakuten,JPY,Japan
3,2020-12-31,8.009700e+10,8.009700e+10,-7.140900e+10,1.549387e+12,-9.384900e+10,-84.00,-84.00,-1.141990e+11,1.549387e+12,...,1.252444e+13,6.734718e+12,NaN,3.021306e+12,6.563170e+11,-3.850740e+11,1.041391e+12,Rakuten,JPY,Japan

In [29]:
df_rakuten_usd = df_ecomm_usd[df_ecomm_usd['Company'] == "Rakuten"]
df_rakuten_usd

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2023-12-31,1.040860e+09,1.040860e+09,-1.087514e+09,1.621762e+10,-1.511285e+09,-177.29,-177.27,-2.410258e+09,1.621762e+10,...,1.606416e+11,8.812389e+10,NaN,3.640649e+10,2.648548e+09,-2.493215e+09,5.141763e+09,Rakuten,USD,Japan
1,2022-12-31,8.370900e+06,8.370900e+06,-1.836969e+09,1.627679e+10,-2.638445e+09,-237.89,-237.73,-2.678241e+09,1.627679e+10,...,1.448562e+11,8.052926e+10,NaN,3.332996e+10,-4.950731e+09,-3.090048e+09,-1.860683e+09,Rakuten,USD,Japan
2,2021-12-31,1.658915e+08,1.658915e+08,-1.235315e+09,1.332303e+10,-1.382555e+09,-87.62,-87.62,-9.501788e+08,1.332303e+10,...,1.195017e+11,6.841109e+10,NaN,3.131314e+10,1.221669e+09,-2.915551e+09,4.137220e+09,Rakuten,USD,Japan
3,2020-12-31,5.686887e+08,5.686887e+08,-5.070039e+08,1.100065e+10,-6.663279e+08,-84.00,-84.00,-8.108129e+08,1.100065e+10,...,8.892351e+10,4.781650e+10,NaN,2.145127e+10,4.659851e+09,-2.734025e+09,7.393876e+09,Rakuten,USD,Japan

In [30]:
df_rakuten_usd.columns

Index(['Date', 'Normalized EBITDA', 'EBITDA', 'EBIT', 'Total Expenses',
       'Total Operating Income As Reported', 'Diluted EPS', 'Basic EPS',
       'Net Income', 'Operating Expense', 'Selling General And Administration',
       'Gross Profit', 'Cost Of Revenue', 'Total Revenue', 'Operating Revenue',
       'Total Debt', 'Common Stock Equity', 'Stockholders Equity',
       'Current Liabilities', 'Total Assets', 'Current Assets', 'Inventory',
       'Cash And Cash Equivalents', 'Free Cash Flow', 'Capital Expenditure',
       'Operating Cash Flow', 'Company', 'Currency', 'Country'],
      dtype='object', name='index')

### Wrangling: Rakuten filling NaN values from https://stockviz.com/en/4755.T

In [31]:
import numpy as np

# Dictionary with missing values for Rakuten 
rakuten_fill_values = {
    'Cost Of Revenue': [9079000000, 10048000000, 9894000000, 8641000000], 
    "Gross Profit": [5601000000, 4650000000, 4713000000, 5444000000],
    "Selling General And Administration": [16086000000, 7029000000, 7036000000, 6543000000],
    "Inventory": [0, -11395000000, -13192000000, -13628000000]
}

# Convert dictionary to DataFrame
rakuten_fill_df = pd.DataFrame(rakuten_fill_values, index=pd.to_datetime(["2023-12-31", "2022-12-31", "2021-12-31", "2020-12-31"]))

# Ensure 'Date' is a datetime type in df_ecomm_usd
df_ecomm_usd["Date"] = pd.to_datetime(df_ecomm_usd["Date"])

# Fill missing values only for Rakuten
for col in rakuten_fill_values.keys():
    df_ecomm_usd.loc[(df_ecomm_usd["Company"] == "Rakuten") & (df_ecomm_usd[col].isna()), col] = \
        df_ecomm_usd.loc[(df_ecomm_usd["Company"] == "Rakuten") & (df_ecomm_usd["Date"].isin(rakuten_fill_df.index)), "Date"].map(rakuten_fill_df[col])

# Display the updated DataFrame
df_ecomm_usd.head()

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,1.256440e+11,1.238150e+11,7.102000e+10,5.693660e+11,6.859300e+10,NaN,NaN,5.924800e+10,5.602900e+10,...,6.248940e+11,1.908670e+11,3.421400e+10,7.877900e+10,3.287800e+10,-8.299900e+10,1.158770e+11,Amazon,USD,USA
1,2023-12-31,8.828700e+10,8.940200e+10,4.073900e+10,5.379330e+11,3.685200e+10,2.9000,2.950,3.042500e+10,5.695300e+10,...,5.278540e+11,1.723510e+11,3.331800e+10,7.338700e+10,3.221700e+10,-5.272900e+10,8.494600e+10,Amazon,USD,USA
2,2022-12-31,5.461800e+10,3.835200e+10,-3.569000e+09,5.017350e+11,1.224800e+10,-0.2700,-0.270,-2.722000e+09,5.539200e+10,...,4.626750e+11,1.467910e+11,3.440500e+10,5.388800e+10,-1.689300e+10,-6.364500e+10,4.675200e+10,Amazon,USD,USA
3,2021-12-31,5.974100e+10,7.439300e+10,3.996000e+10,4.449430e+11,2.487900e+10,3.2405,3.298,3.336400e+10,4.143600e+10,...,4.205490e+11,1.615800e+11,3.264000e+10,3.622000e+10,-1.472600e+10,-6.105300e+10,4.632700e+10,Amazon,USD,USA
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,2.0915,2.132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazon,USD,USA

In [32]:
df_ecomm_usd.columns

Index(['Date', 'Normalized EBITDA', 'EBITDA', 'EBIT', 'Total Expenses',
       'Total Operating Income As Reported', 'Diluted EPS', 'Basic EPS',
       'Net Income', 'Operating Expense', 'Selling General And Administration',
       'Gross Profit', 'Cost Of Revenue', 'Total Revenue', 'Operating Revenue',
       'Total Debt', 'Common Stock Equity', 'Stockholders Equity',
       'Current Liabilities', 'Total Assets', 'Current Assets', 'Inventory',
       'Cash And Cash Equivalents', 'Free Cash Flow', 'Capital Expenditure',
       'Operating Cash Flow', 'Company', 'Currency', 'Country'],
      dtype='object', name='index')

In [33]:
df_ecomm_usd.columns = df_ecomm_usd.columns.str.strip()

In [34]:
df_ecomm_usd.columns.tolist()

['Date',
 'Normalized EBITDA',
 'EBITDA',
 'EBIT',
 'Total Expenses',
 'Total Operating Income As Reported',
 'Diluted EPS',
 'Basic EPS',
 'Net Income',
 'Operating Expense',
 'Selling General And Administration',
 'Gross Profit',
 'Cost Of Revenue',
 'Total Revenue',
 'Operating Revenue',
 'Total Debt',
 'Common Stock Equity',
 'Stockholders Equity',
 'Current Liabilities',
 'Total Assets',
 'Current Assets',
 'Inventory',
 'Cash And Cash Equivalents',
 'Free Cash Flow',
 'Capital Expenditure',
 'Operating Cash Flow',
 'Company',
 'Currency',
 'Country']

In [35]:
type(df_ecomm_usd.columns)

pandas.core.indexes.base.Index

In [799]:
# Ensure column names are stripped of spaces
df_ecomm_usd.columns = df_ecomm_usd.columns.str.strip()

# Check available column names
print("Columns in df_ecomm_usd:", df_ecomm_usd.columns)

# Fill missing values only if the column exists
for col in rakuten_fill_values.keys():
    if col in df_ecomm_usd.columns:  # Check if column exists before filling
        df_ecomm_usd.loc[(df_ecomm_usd["Company"] == "Rakuten") & (df_ecomm_usd[col].isna()), col] = \
            df_ecomm_usd.loc[(df_ecomm_usd["Company"] == "Rakuten") & (df_ecomm_usd["Date"].isin(rakuten_fill_df.index)), "Date"].map(rakuten_fill_df[col])
    else:
        print(f"Warning: Column '{col}' not found in df_ecomm_usd")

Columns in df_ecomm_usd: Index(['Date', 'Normalized EBITDA', 'EBITDA', 'EBIT', 'Total Expenses',
       'Total Operating Income As Reported', 'Diluted EPS', 'Basic EPS',
       'Net Income', 'Operating Expense', 'Selling General And Administration',
       'Gross Profit', 'Cost Of Revenue', 'Total Revenue', 'Operating Revenue',
       'Total Debt', 'Common Stock Equity', 'Stockholders Equity',
       'Current Liabilities', 'Total Assets', 'Current Assets', 'Inventory',
       'Cash And Cash Equivalents', 'Free Cash Flow', 'Capital Expenditure',
       'Operating Cash Flow', 'Company', 'Currency', 'Country'],
      dtype='object', name='index')
Warning: Column 'Revenue' not found in df_ecomm_usd

### Notes: Financials df

Exported financials from YF
amzn_financials, jd_financials, baba_financials, pdd_financials, fs_3690_financials, cpng_financials, meli_financials, se_financials, vips_financials, fs_4755_financials,

Cleaned financials
amzn_fin, jd_fin,baba_fin,pdd_fin,fin_3690,cpng_fin,meli_fin,se_fin,vips_fin,fin_4755

### Notes: KPI's for calculations

In [ ]:
Normalized EBITDA
EBITDA
EBIT
Total Expenses
Total Operating Income As Reported
Diluted EPS
Basic EPS
Net Income
Operating Expense
Selling General And Administration
Gross Profit
Cost Of Revenue
Total Revenue
Operating Revenue
Total Debt
Common Stock Equity
Stockholders Equity
Current Liabilities
Total Assets
Current Assets
Inventory
Cash And Cash Equivalents
Free Cash Flow
Capital Expenditure
Operating Cash Flow


#Selling General And Administration
#Gross Profit
#Cost Of Revenue
#Inventory


fin_amzn,fin_jd,fin_baba,fin_pdd,fin_3690,fin_cpng,fin_meli,fin_se,fin_vips,fin_rakuten_t

fin_amzn,
fin_jd,
fin_baba,
fin_pdd,
fin_3690,
fin_cpng,
fin_meli,
fin_se,
fin_vips,
fin_rakuten_t

In [ ]:
# Reshaping the data for easier analysis
reshaped_data = pd.melt(df, id_vars=['Statement_Type'], var_name="Company_Column", value_name="Value")

# Extracting company names from the column names
reshaped_data['Company'] = reshaped_data['Company_Column'].str.extract(r'Company(?:\.(\d+))?')

# Displaying a sample of the cleaned data
reshaped_data.head()

# Exported to CSV for Tableau viz

In [64]:
#df_ecomm_usd.to_csv('df_ecomm_usd.csv', index=False)

# Retail

## Data Extraction

In [39]:
# without FX

tickers = ["WMT", "CVS", "COST", "KR", "HD", "WBA", "TGT", "AD.AS", "CA.PA", "TSCO.L"]

for ticker in tickers:
    company = yf.Ticker(ticker)

    currency = company.info.get("currency", "Unknown")
    
    financial_statements = {
    "income_statement": company.financials,
    "balance_sheet": company.balance_sheet,
    "cash_flow": company.cashflow
}
    for name, statement in financial_statements.items():
        if statement is not None:
            df = statement
            df.reset_index(inplace=True)
            #df.rename(columns={"index": "Date"}, inplace=True)
            df["Currency"] = currency
            df.loc[len(df)] = currency 
            #df.iloc[-1]['index'] = "currency"
            csv_filename = f"{ticker}_{name}.csv"
            if "." in ticker:
                df_name = f"{ticker}_{name}".split(".")[1]
                globals()[df_name] = df
            else:
                df_name = f"{ticker}_{name}"
                globals()[df_name] = df
            df.to_csv(csv_filename, index=False)
            
            print(f"✅ Saved {csv_filename}")
        else:
            print(f"⚠ No data for {ticker} - {name}")

✅ Saved WMT_income_statement.csv
✅ Saved WMT_balance_sheet.csv
✅ Saved WMT_cash_flow.csv
✅ Saved CVS_income_statement.csv
✅ Saved CVS_balance_sheet.csv
✅ Saved CVS_cash_flow.csv
✅ Saved COST_income_statement.csv
✅ Saved COST_balance_sheet.csv
✅ Saved COST_cash_flow.csv
✅ Saved KR_income_statement.csv
✅ Saved KR_balance_sheet.csv
✅ Saved KR_cash_flow.csv
✅ Saved HD_income_statement.csv
✅ Saved HD_balance_sheet.csv
✅ Saved HD_cash_flow.csv
✅ Saved WBA_income_statement.csv
✅ Saved WBA_balance_sheet.csv
✅ Saved WBA_cash_flow.csv
✅ Saved TGT_income_statement.csv
✅ Saved TGT_balance_sheet.csv
✅ Saved TGT_cash_flow.csv
✅ Saved AD.AS_income_statement.csv
✅ Saved AD.AS_balance_sheet.csv
✅ Saved AD.AS_cash_flow.csv
✅ Saved CA.PA_income_statement.csv
✅ Saved CA.PA_balance_sheet.csv
✅ Saved CA.PA_cash_flow.csv
✅ Saved TSCO.L_income_statement.csv
✅ Saved TSCO.L_balance_sheet.csv
✅ Saved TSCO.L_cash_flow.csv

## Wrangling

### Wrangling: Financial Statements for Company (setting up individual df adding columns: company & currency)

In [40]:
# List of retail company tickers
companies_retail = ["WMT", "CVS", "COST", "KR", "HD", "WBA", "TGT", "AS", "PA", "L"]

# Financial statement types
fs_types = ["income_statement", "balance_sheet", "cash_flow"]

# Dictionary to store concatenated financials for retail companies
retail_financials = {}

# Function to concatenate financial statements for a given company
def concat_retail_financials(ticker):
    dataframes = []
    for fs_type in fs_types:
        var_name = f"{ticker}_{fs_type}"  # Construct variable name dynamically
        if var_name in globals():  # Check if variable exists in global scope
            df = globals()[var_name].copy()  # Copy DataFrame to prevent modification issues

            df["Statement_Type"] = fs_type  # Add statement type column
            df["Company"] = ticker  # Add company ticker column
            dataframes.append(df)

    if dataframes:
        return pd.concat(dataframes, axis=0)  # Concatenate along rows
    return pd.DataFrame()  # Return empty DataFrame if no data is found

# Process each retail company and store the result
for company in companies_retail:
    retail_financials[company] = concat_retail_financials(company)

In [41]:
wmt_financials = retail_financials["WMT"]
cvs_financials = retail_financials["CVS"]
cost_financials = retail_financials["COST"]
kr_financials = retail_financials["KR"]
hd_financials = retail_financials["HD"]
wba_financials = retail_financials["WBA"]
tgt_financials = retail_financials["TGT"]
ad_as_financials = retail_financials["AS"]
ca_pa_financials = retail_financials["PA"]
tsco_l_financials = retail_financials["L"]

### Wrangling: individual dfs with chosen columns (for future calculation)

In [42]:
wmt_fin = wmt_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
wmt_fin.columns = wmt_fin.iloc[0]
wmt_fin =wmt_fin.drop("index")
wmt_fin = wmt_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
wmt_fin = wmt_fin.reset_index()
wmt_fin.rename(columns = {"index":"Date"}, inplace = True)
wmt_fin['Company'] = "Walmart"
wmt_fin["Currency"] = "USD"
wmt_fin['Country'] = "USA"
wmt_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-01-31,36384000000.0,36384000000.0,24531000000.0,621113000000.0,27012000000.0,1.91,1.92,15511000000.0,130971000000.0,...,252399000000.0,76877000000.0,54892000000.0,9867000000.0,15120000000.0,-20606000000.0,35726000000.0,Walmart,USD,USA
1,2023-01-31,30089000000.0,30089000000.0,19144000000.0,590861000000.0,20428000000.0,1.42,1.43,11680000000.0,127140000000.0,...,243197000000.0,75655000000.0,56576000000.0,8625000000.0,11984000000.0,-16857000000.0,28841000000.0,Walmart,USD,USA
2,2022-01-31,33758000000.0,31348000000.0,20690000000.0,546812000000.0,25942000000.0,1.623333,1.633333,13673000000.0,117812000000.0,...,244860000000.0,81070000000.0,56511000000.0,14760000000.0,11075000000.0,-13106000000.0,24181000000.0,Walmart,USD,USA
3,2021-01-31,34031000000.0,34031000000.0,22879000000.0,536603000000.0,22548000000.0,1.583333,1.59,13510000000.0,116288000000.0,...,252496000000.0,90067000000.0,44949000000.0,17741000000.0,25810000000.0,-10264000000.0,36074000000.0,Walmart,USD,USA

In [43]:
cvs_fin= cvs_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
cvs_fin.columns = cvs_fin.iloc[0]
cvs_fin=cvs_fin.drop("index")
cvs_fin= cvs_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
cvs_fin= cvs_fin.reset_index()
cvs_fin.rename(columns = {"index":"Date"}, inplace = True)
cvs_fin['Company'] = "CSV"
cvs_fin["Currency"] = "USD"
cvs_fin['Country'] = "USA"
cvs_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,14491000000.0,13703000000.0,9106000000.0,363014000000.0,8516000000.0,3.66,3.67,4614000000.0,41606000000.0,...,253215000000.0,68645000000.0,18107000000.0,8586000000.0,6326000000.0,-2781000000.0,9107000000.0,CSV,USD,USA
1,2023-12-31,19053000000.0,18197000000.0,13831000000.0,343177000000.0,13743000000.0,6.47,6.49,8344000000.0,39832000000.0,...,249728000000.0,67858000000.0,18025000000.0,8196000000.0,10395000000.0,-3031000000.0,13426000000.0,CSV,USD,USA
2,2022-12-31,20683000000.0,12347000000.0,8123000000.0,306177000000.0,7954000000.0,3.26,3.29,4311000000.0,38212000000.0,...,228275000000.0,65633000000.0,19090000000.0,12945000000.0,13450000000.0,-2727000000.0,16177000000.0,CSV,USD,USA
3,2021-12-31,19767000000.0,17526000000.0,13040000000.0,277012000000.0,13310000000.0,5.95,6.0,8001000000.0,37021000000.0,...,232999000000.0,60008000000.0,17760000000.0,9408000000.0,15745000000.0,-2520000000.0,18265000000.0,CSV,USD,USA
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSV,USD,USA

In [44]:
cost_fin = cost_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
cost_fin.columns = cost_fin.iloc[0]
cost_fin =cost_fin.drop("index")
cost_fin = cost_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
cost_fin = cost_fin.reset_index()
cost_fin.rename(columns = {"index":"Date"}, inplace = True)
cost_fin['Company'] = "Costco"
cost_fin["Currency"] = "USD"
cost_fin['Country'] = "USA"
cost_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-08-31,12120000000.0,12146000000.0,9909000000.0,245168000000.0,9285000000.0,16.56,16.59,7367000000.0,22810000000.0,...,69831000000.0,34246000000.0,18647000000.0,9906000000.0,6629000000.0,-4710000000.0,11339000000.0,Costco,USD,USA
1,2023-08-31,10695000000.0,10724000000.0,8647000000.0,234176000000.0,8114000000.0,14.16,14.18,6292000000.0,21590000000.0,...,68994000000.0,35879000000.0,16651000000.0,13700000000.0,6745000000.0,-4323000000.0,11068000000.0,Costco,USD,USA
2,2022-08-31,9792000000.0,9898000000.0,7998000000.0,219161000000.0,7793000000.0,13.14,13.17,5844000000.0,19779000000.0,...,64166000000.0,32696000000.0,17907000000.0,10203000000.0,3501000000.0,-3891000000.0,7392000000.0,Costco,USD,USA
3,2021-08-31,8576000000.0,8632000000.0,6851000000.0,189221000000.0,6708000000.0,11.27,11.3,5007000000.0,18537000000.0,...,59268000000.0,29505000000.0,14215000000.0,11258000000.0,5370000000.0,-3588000000.0,8958000000.0,Costco,USD,USA
4,2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Costco,USD,USA

In [45]:
kr_fin = kr_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
kr_fin.columns = kr_fin.iloc[0]
kr_fin =kr_fin.drop("index")
kr_fin = kr_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
kr_fin = kr_fin.reset_index()
kr_fin.rename(columns = {"index":"Date"}, inplace = True)
kr_fin['Company'] = "Kroger"
kr_fin["Currency"] = "USD"
kr_fin['Country'] = "USA"
kr_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-01-31,6876000000.0,7027000000.0,3277000000.0,146943000000.0,3096000000.0,2.96,2.99,2164000000.0,30268000000.0,...,50505000000.0,12948000000.0,7105000000.0,1883000000.0,2884000000.0,-3904000000.0,6788000000.0,Kroger,USD,USA
1,2023-01-31,7744000000.0,7016000000.0,3437000000.0,144132000000.0,4126000000.0,3.06,3.1,2244000000.0,27652000000.0,...,49623000000.0,12670000000.0,7560000000.0,1015000000.0,1420000000.0,-3078000000.0,4498000000.0,Kroger,USD,USA
2,2022-01-31,6872000000.0,6051000000.0,2622000000.0,134411000000.0,3477000000.0,2.17,2.2,1655000000.0,26872000000.0,...,49086000000.0,12174000000.0,6783000000.0,1821000000.0,3576000000.0,-2614000000.0,6190000000.0,Kroger,USD,USA
3,2021-01-31,6182000000.0,7287000000.0,3914000000.0,129718000000.0,2780000000.0,3.27,3.31,2585000000.0,28121000000.0,...,48662000000.0,12503000000.0,7063000000.0,1687000000.0,3950000000.0,-2865000000.0,6815000000.0,Kroger,USD,USA

In [46]:
hd_fin = hd_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
hd_fin.columns = hd_fin.iloc[0]
hd_fin =hd_fin.drop("index")
hd_fin = hd_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
hd_fin = hd_fin.reset_index()
hd_fin.rename(columns = {"index":"Date"}, inplace = True)
hd_fin['Company'] = "Home_Depot"
hd_fin["Currency"] = "USD"
hd_fin['Country'] = "USA"
hd_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-01-31,25114000000.0,25114000000.0,21867000000.0,130980000000.0,21689000000.0,15.11,15.16,15143000000.0,29271000000.0,...,76530000000.0,29775000000.0,20976000000.0,3760000000.0,17946000000.0,-3226000000.0,21172000000.0,Home_Depot,USD,USA
1,2023-01-31,27069000000.0,27069000000.0,24094000000.0,133364000000.0,24039000000.0,16.69,16.74,17105000000.0,28739000000.0,...,76445000000.0,32471000000.0,24886000000.0,2757000000.0,11496000000.0,-3119000000.0,14615000000.0,Home_Depot,USD,USA
2,2022-01-31,25946000000.0,25946000000.0,23084000000.0,128117000000.0,23040000000.0,15.53,15.59,16433000000.0,27792000000.0,...,71876000000.0,29055000000.0,22068000000.0,2343000000.0,14005000000.0,-2566000000.0,16571000000.0,Home_Depot,USD,USA
3,2021-01-31,20844000000.0,20844000000.0,18325000000.0,113832000000.0,18278000000.0,11.94,11.98,12866000000.0,26575000000.0,...,70581000000.0,28477000000.0,16627000000.0,7895000000.0,16376000000.0,-2463000000.0,18839000000.0,Home_Depot,USD,USA

In [47]:
wba_fin = wba_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
wba_fin.columns = wba_fin.iloc[0]
wba_fin =wba_fin.drop("index")
wba_fin = wba_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
wba_fin = wba_fin.reset_index()
wba_fin.rename(columns = {"index":"Date"}, inplace = True)
wba_fin['Company'] = "Walgreens"
wba_fin["Currency"] = "USD"
wba_fin['Country'] = "USA"
wba_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-08-31,1423000000.0,-11278000000.0,-13737000000.0,149247000000.0,-14076000000.0,-10.01,-10.01,-8636000000.0,28113000000.0,...,81037000000.0,18335000000.0,8320000000.0,1319000000.0,-363000000.0,-1381000000.0,1018000000.0,Walgreens,USD,USA
1,2023-08-31,-2582000000.0,-2582000000.0,-4839000000.0,146214000000.0,-6882000000.0,-3.57,-3.57,-3080000000.0,34205000000.0,...,96628000000.0,15503000000.0,8257000000.0,728000000.0,141000000.0,-2117000000.0,2258000000.0,Walgreens,USD,USA
2,2022-08-31,6375000000.0,6375000000.0,4385000000.0,131732000000.0,1387000000.0,5.01,5.02,4337000000.0,27295000000.0,...,90124000000.0,16902000000.0,8353000000.0,1358000000.0,2165000000.0,-1734000000.0,3899000000.0,Walgreens,USD,USA
3,2021-08-31,4873000000.0,4873000000.0,2900000000.0,129028000000.0,2342000000.0,2.93,2.94,2542000000.0,24586000000.0,...,81285000000.0,15814000000.0,8159000000.0,559000000.0,4176000000.0,-1379000000.0,5555000000.0,Walgreens,USD,USA
4,2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Walgreens,USD,USA

In [48]:
tgt_fin = tgt_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
tgt_fin.columns = tgt_fin.iloc[0]
tgt_fin =tgt_fin.drop("index")
tgt_fin = tgt_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
tgt_fin = tgt_fin.reset_index()
tgt_fin.rename(columns = {"index":"Date"}, inplace = True)
tgt_fin['Company'] = "Target"
tgt_fin["Currency"] = "USD"
tgt_fin['Country'] = "USA"
tgt_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-01-31,8600000000.0,8600000000.0,5799000000.0,101705000000.0,5707000000.0,8.94,8.96,4138000000.0,23969000000.0,...,55356000000.0,17498000000.0,11886000000.0,3805000000.0,3815000000.0,-4806000000.0,8621000000.0,Target,USD,USA
1,2023-01-31,6596000000.0,6596000000.0,3896000000.0,105272000000.0,3848000000.0,5.98,6.02,2780000000.0,23043000000.0,...,53335000000.0,17846000000.0,13499000000.0,2229000000.0,-1510000000.0,-5528000000.0,4018000000.0,Target,USD,USA
2,2022-01-31,11970000000.0,11970000000.0,9328000000.0,97059000000.0,8946000000.0,14.1,14.23,6946000000.0,22096000000.0,...,53811000000.0,21573000000.0,13902000000.0,5911000000.0,5081000000.0,-3544000000.0,8625000000.0,Target,USD,USA
3,2021-01-31,9008000000.0,9008000000.0,6523000000.0,87022000000.0,6539000000.0,8.64,8.72,4368000000.0,20845000000.0,...,51248000000.0,20756000000.0,10653000000.0,8511000000.0,7876000000.0,-2649000000.0,10525000000.0,Target,USD,USA

In [49]:
ad_as_fin = ad_as_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
ad_as_fin.columns = ad_as_fin.iloc[0]
ad_as_fin =ad_as_fin.drop("index")
ad_as_fin = ad_as_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
ad_as_fin = ad_as_fin.reset_index()
ad_as_fin.rename(columns = {"index":"Date"}, inplace = True)
ad_as_fin['Company'] = "Ahold"
ad_as_fin["Currency"] = "EUR"
ad_as_fin['Country'] = "Netherlands"
ad_as_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,6710000000.0,6710000000.0,3004000000.0,87004000000.0,2784000000.0,1.89,1.9,1764000000.0,21453000000.0,...,51842000000.0,14526000000.0,4797000000.0,6157000000.0,6224000000.0,NaN,6224000000.0,Ahold,EUR,Netherlands
1,2023-12-31,6879000000.0,6879000000.0,3035000000.0,86302000000.0,2846000000.0,1.94,1.95,1874000000.0,21422000000.0,...,47821000000.0,11463000000.0,4584000000.0,3474000000.0,6466000000.0,-2434000000.0,6466000000.0,Ahold,EUR,Netherlands
2,2022-12-31,7289000000.0,7270000000.0,3837000000.0,83879000000.0,3768000000.0,2.54,2.56,2546000000.0,20190000000.0,...,48555000000.0,10818000000.0,4612000000.0,3054000000.0,3620000000.0,-2490000000.0,6110000000.0,Ahold,EUR,Netherlands
3,2021-12-31,6349000000.0,6345000000.0,3338000000.0,72812000000.0,3320000000.0,2.17,2.18,2246000000.0,17896000000.0,...,45712000000.0,9584000000.0,3727000000.0,2968000000.0,3097000000.0,-2371000000.0,5468000000.0,Ahold,EUR,Netherlands
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-2659000000.0,NaN,Ahold,EUR,Netherlands

In [50]:
ca_pa_fin = ca_pa_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
ca_pa_fin.columns = ca_pa_fin.iloc[0]
ca_pa_fin =ca_pa_fin.drop("index")
ca_pa_fin = ca_pa_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
ca_pa_fin = ca_pa_fin.reset_index()
ca_pa_fin.rename(columns = {"index":"Date"}, inplace = True)
ca_pa_fin['Company'] = "Carrefour"
ca_pa_fin["Currency"] = "EUR"
ca_pa_fin['Country'] = "France"
ca_pa_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,4632000000.0,4302000000.0,1878000000.0,85097000000.0,2213000000.0,NaN,NaN,723000000.0,14795000000.0,...,57363000000.0,23807000000.0,6709000000.0,6564000000.0,2428000000.0,-1772000000.0,4200000000.0,Carrefour,EUR,France
1,2023-12-31,4780000000.0,4338000000.0,2042000000.0,82673000000.0,2264000000.0,2.31,2.32,1659000000.0,14395000000.0,...,56171000000.0,23448000000.0,6544000000.0,6290000000.0,2800000000.0,-1850000000.0,4650000000.0,Carrefour,EUR,France
2,2022-12-31,4632000000.0,4792000000.0,2556000000.0,80746000000.0,2463000000.0,1.8,1.82,1348000000.0,13970000000.0,...,56558000000.0,23935000000.0,6893000000.0,5216000000.0,2337000000.0,-1882000000.0,4219000000.0,Carrefour,EUR,France
3,2021-12-31,4209000000.0,3981000000.0,1869000000.0,69591000000.0,1840000000.0,1.35,1.36,1072000000.0,12726000000.0,...,47668000000.0,17785000000.0,5858000000.0,3703000000.0,2076000000.0,-1585000000.0,3661000000.0,Carrefour,EUR,France
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,0.79,0.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carrefour,EUR,France

In [51]:
tsco_l_fin = tsco_l_financials.drop(columns = ["Currency","Statement_Type","Company"]).T
tsco_l_fin.columns = tsco_l_fin.iloc[0]
tsco_l_fin =tsco_l_fin.drop("index")
tsco_l_fin = tsco_l_fin[["Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
        "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
        "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
        "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
        "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
        "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
        "Operating Cash Flow"]]
tsco_l_fin = tsco_l_fin.reset_index()
tsco_l_fin.rename(columns = {"index":"Date"}, inplace = True)
tsco_l_fin['Company'] = "Tesco"
tsco_l_fin["Currency"] = "GBP"
tsco_l_fin['Country'] = "UK"
tsco_l_fin

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-02-29,4740000000.0,4830000000.0,3107000000.0,65436000000.0,2821000000.0,0.1656,0.1674,1188000000.0,2098000000.0,...,47039000000.0,16606000000.0,2635000000.0,2310000000.0,2453000000.0,-1386000000.0,3839000000.0,Tesco,GBP,UK
1,2023-02-28,3194000000.0,3227000000.0,1527000000.0,63918000000.0,1410000000.0,0.0996,0.1005,737000000.0,1957000000.0,...,45868000000.0,12469000000.0,2510000000.0,2378000000.0,2472000000.0,-1250000000.0,3722000000.0,Tesco,GBP,UK
2,2022-02-28,4293000000.0,4403000000.0,2685000000.0,58771000000.0,2560000000.0,0.1912,0.1934,1481000000.0,2060000000.0,...,49137000000.0,11985000000.0,2339000000.0,2345000000.0,2579000000.0,-1178000000.0,3757000000.0,Tesco,GBP,UK
3,2021-02-28,3400000000.0,3095000000.0,1331000000.0,55954000000.0,1547000000.0,0.6362,0.638,5954000000.0,1843000000.0,...,45512000000.0,10807000000.0,2069000000.0,2409000000.0,-775000000.0,-1377000000.0,602000000.0,Tesco,GBP,UK

### Wrangling: Concating retail df

In [52]:
df_retail = pd.concat([wmt_fin, cvs_fin, cost_fin, kr_fin, hd_fin, wba_fin, tgt_fin, ad_as_fin, ca_pa_fin, tsco_l_fin])
df_retail

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-01-31,36384000000.0,36384000000.0,24531000000.0,621113000000.0,27012000000.0,1.91,1.92,15511000000.0,130971000000.0,...,252399000000.0,76877000000.0,54892000000.0,9867000000.0,15120000000.0,-20606000000.0,35726000000.0,Walmart,USD,USA
1,2023-01-31,30089000000.0,30089000000.0,19144000000.0,590861000000.0,20428000000.0,1.42,1.43,11680000000.0,127140000000.0,...,243197000000.0,75655000000.0,56576000000.0,8625000000.0,11984000000.0,-16857000000.0,28841000000.0,Walmart,USD,USA
2,2022-01-31,33758000000.0,31348000000.0,20690000000.0,546812000000.0,25942000000.0,1.623333,1.633333,13673000000.0,117812000000.0,...,244860000000.0,81070000000.0,56511000000.0,14760000000.0,11075000000.0,-13106000000.0,24181000000.0,Walmart,USD,USA
3,2021-01-31,34031000000.0,34031000000.0,22879000000.0,536603000000.0,22548000000.0,1.583333,1.59,13510000000.0,116288000000.0,...,252496000000.0,90067000000.0,44949000000.0,17741000000.0,25810000000.0,-10264000000.0,36074000000.0,Walmart,USD,USA
0,2024-12-31,14491000000.0,13703000000.0,9106000000.0,363014000000.0,8516000000.0,3.66,3.67,4614000000.0,41606000000.0,...,253215000000.0,68645000000.0,18107000000.0,8586000000.0,6326000000.0,-2781000000.0,9107000000.0,CSV,USD,USA
1,2023-12-31,19053000000.0,18197000000.0,13831000000.0,343177000000.0,13743000000.0,6.47,6.49,8344000000.0,39832000000.0,...,249728000000.0,67858000000.0,18025000000.0,8196000000.0,10395000000.0,-3031000000.0,13426000000.0,CSV,USD,USA
2,2022-12-31,20683000000.0,12347000000.0,8123000000.0,306177000000.0,7954000000.0,3.26,3.29,4311000000.0,38212000000.0,...,228275000000.0,65633000000.0,19090000000.0,12945000000.0,13450000000.0,-2727000000.0,16177000000.0,CSV,USD,USA
3,2021-12-31,19767000000.0,17526000000.0,13040000000.0,277012000000.0,13310000000.0,5.95,6.0,8001000000.0,37021000000.0,...,232999000000.0,60008000000.0,17760000000.0,9408000000.0,15745000000.0,-2520000000.0,18265000000.0,CSV,USD,USA
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSV,USD,USA
0,2024-08-31,12120000000.0,12146000000.0,9909000000.0,245168000000.0,9285000000.0,16.56,16.59,7367000000.0,22810000000.0,...,69831000000.0,34246000000.0,18647000000.0,9906000000.0,6629000000.0,-4710000000.0,11339000000.0,Costco,USD,USA
1,2023-08-31,10695000000.0,10724000000.0,8647000000.0,234176000000.0,8114000000.0,14.16,14.18,6292000000.0,21590000000.0,...,68994000000.0,35879000000.0,16651000000.0,13700000000.0,6745000000.0,-4323000000.0,11068000000.0,Costco,USD,USA
2,2022-08-31,9792000000.0,9898000000.0,7998000000.0,219161000000.0,7793000000.0,13.14,13.17,5844000000.0,19779000000.0,...,64166000000.0,32696000000.0,17907000000.0,10203000000.0,3501000000.0,-3891000000.0,7392000000.0,Costco,USD,USA
3,2021-08-31,8576000000.0,8632000000.0,6851000000.0,189221000000.0,6708000000.0,11.27,11.3,5007000000.0,18537000000.0,...,59268000000.0,29505000000.0,14215000000.0,11258000000.0,5370000000.0,-3588000000.0,8958000000.0,Costco,USD,USA
4,2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Costco,USD,USA
0,2024-01-31,6876000000.0,7027000000.0,3277000000.0,146943000000.0,3096000000.0,2.96,2.99,2164000000.0,30268000000.0,...,50505000000.0,12948000000.0,7105000000.0,1883000000.0,2884000000.0,-3904000000.0,6788000000.0,Kroger,USD,USA
1,2023-01-31,7744000000.0,7016000000.0,3437000000.0,144132000000.0,4126000000.0,3.06,3.1,2244000000.0,27652000000.0,...,49623000000.0,12670000000.0,7560000000.0,1015000000.0,1420000000.0,-3078000000.0,4498000000.0,Kroger,USD,USA
2,2022-01-31,6872000000.0,6051000000.0,2622000000.0,134411000000.0,3477000000.0,2.17,2.2,1655000000.0,26872000000.0,...,49086000000.0,12174000000.0,6783000000.0,1821000000.0,3576000000.0,-2614000000.0,6190000000.0,Kroger,USD,USA
3,2021-01-31,6182000000.0,7287000000.0,3914000000.0,129718000000.0,2780000000.0,3.27,3.31,2585000000.0,28121000000.0,...,48662000000.0,12503000000.0,7063000000.0,1687000000.0,3950000000.0,-2865000000.0,6815000000.0,Kroger,USD,USA
0,2024-01-31,25114000000.0,25114000000.0,21867000000.0,130980000000.0,21689000000.0,15.11,15.16,15143000000.0,29271000000.0,...,76530000000.0,29775000000.0,20976000000.0,3760000000.0,17946000000.0,-3226000000.0,21172000000.0,Home_Depot,USD,USA
1,2023-01-31,27069000000.0,27069000000.0,24094000000.0,133364000000.0,24039000000.0,16.69,16.74,17105000000.0,28739000000.0,...,76445000000.0,32471000000.0,24886000000.0,2757000000.0,11496000000.0,-3119000000.0,14615000000.0,Home_Depot,USD,USA
2,2022-01-31,25946000000.0,25946000000.0,23084000000.0,128117000000.0,23040000000.0,15.53,15.59,16433000000.0,27792000000.0,...,71876000000.0,29055000000.0,22068000000.0,2343000000.0,14005000000.0,-2566000000.0,16571000000.0,Home_Depot,USD,USA
3,2021-01-31,20844000000.0,20844000000.0,18325000000.0,113832000000.0,18278000000.0,11.94,11.98,12866000000.0,26575000000.0,...,70581000000.0,28477000000.0,16627000000.0,7895000000.0,16376000000.0,-2463000000.0,18839000000.0,Home_Depot,USD,USA
0,2024-08-31,1423000000.0,-11278000000.0,-13737000000.0,149247000000.0,-14076000000.0,-10.01,-10.01,-8636000000.0,28113000000.0,...,81037000000.0,18335000000.0,8320000000.0,1319000000.0,-363000000.0,-1381000000.0,1018000000.0,Walgreens,USD,USA
1,2023-08-31,-2582000000.0,-2582000000.0,-4839000000.0,146214000000.0,-6882000000.0,-3.57,-3.57,-3080000000.0,34205000000.0,...,96628000000.0,15503000000.0,8257000000.0,728000000.0,141000000.0,-2117000000.0,2258000000.0,Walgreens,USD,USA
2,2022-08-31,6375000000.0,6375000000.0,4385000000.0,131732000000.0,1387000000.0,5.01,5.02,4337000000.0,27295000000.0,...,90124000000.0,16902000000.0,8353000000.0,1358000000.0,2165000000.0,-1734000000.0,3899000000.0,Walgreens,USD,USA
3,2021-08-31,4873000000.0,4873000000.0,2900000000.0,129028000000.0,2342000000.0,2.93,2.94,2542000000.0,24586000000.0,...,81285000000.0,15814000000.0,8159000000.0,559000000.0,4176000000.0,-1379000000.0,5555000000.0,Walgreens,USD,USA
4,2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Walgreens,USD,USA
0,2024-01-31,8600000000.0,8600000000.0,5799000000.0,101705000000.0,5707000000.0,8.94,8.96,4138000000.0,23969000000.0,...,55356000000.0,17498000000.0,11886000000.0,3805000000.0,3815000000.0,-4806000000.0,8621000000.0,Target,USD,USA
1,2023-01-31,6596000000.0,6596000000.0,3896000000.0,105272000000.0,3848000000.0,5.98,6.02,2780000000.0,23043000000.0,...,53335000000.0,17846000000.0,13499000000.0,2229000000.0,-1510000000.0,-5528000000.0,4018000000.0,Target,USD,USA
2,2022-01-31,11970000000.0,11970000000.0,9328000000.0,97059000000.0,8946000000.0,14.1,14.23,6946000000.0,22096000000.0,...,53811000000.0,21573000000.0,13902000000.0,5911000000.0,5081000000.0,-3544000000.0,8625000000.0,Target,USD,USA
3,2021-01-31,9008000000.0,9008000000.0,6523000000.0,87022000000.0,6539000000.0,8.64,8.72,4368000000.0,20845000000.0,...,51248000000.0,20756000000.0,10653000000.0,8511000000.0,7876000000.0,-2649000000.0,10525000000.0,Target,USD,USA
0,2024-12-31,6710000000.0,6710000000.0,3004000000.0,87004000000.0,2784000000.0,1.89,1.9,1764000000.0,21453000000.0,...,51842000000.0,14526000000.0,4797000000.0,6157000000.0,6224000000.0,NaN,6224000000.0,Ahold,EUR,Netherlands
1,2023-12-31,6879000000.0,6879000000.0,3035000000.0,86302000000.0,2846000000.0,1.94,1.95,1874000000.0,21422000000.0,...,47821000000.0,11463000000.0,4584000000.0,3474000000.0,6466000000.0,-2434000000.0,6466000000.0,Ahold,EUR,Netherlands
2,2022-12-31,7289000000.0,7270000000.0,3837000000.0,83879000000.0,3768000000.0,2.54,2.56,2546000000.0,20190000000.0,...,48555000000.0,10818000000.0,4612000000.0,3054000000.0,3620000000.0,-2490000000.0,6110000000.0,Ahold,EUR,Netherlands
3,2021-12-31,6349000000.0,6345000000.0,3338000000.0,72812000000.0,3320000000.0,2.17,2.18,2246000000.0,17896000000.0,...,45712000000.0,9584000000.0,3727000000.0,2968000000.0,3097000000.0,-2371000000.0,5468000000.0,Ahold,EUR,Netherlands
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-2659000000.0,NaN,Ahold,EUR,Netherlands
0,2024-12-31,4632000000.0,4302000000.0,1878000000.0,85097000000.0,2213000000.0,NaN,NaN,723000000.0,14795000000.0,...,57363000000.0,23807000000.0,6709000000.0,6564000000.0,2428000000.0,-1772000000.0,4200000000.0,Carrefour,EUR,France
1,2023-12-31,4780000000.0,4338000000.0,2042000000.0,82673000000.0,2264000000.0,2.31,2.32,1659000000.0,14395000000.0,...,56171000000.0,23448000000.0,6544000000.0,6290000000.0,2800000000.0,-1850000000.0,4650000000.0,Carrefour,EUR,France
2,2022-12-31,4632000000.0,4792000000.0,2556000000.0,80746000000.0,2463000000.0,1.8,1.82,1348000000.0,13970000000.0,...,56558000000.0,23935000000.0,6893000000.0,5216000000.0,2337000000.0,-1882000000.0,4219000000.0,Carrefour,EUR,France
3,2021-12-31,4209000000.0,3981000000.0,1869000000.0,69591000000.0,1840000000.0,1.35,1.36,1072000000.0,12726000000.0,...,47668000000.0,17785000000.0,5858000000.0,3703000000.0,2076000000.0,-1585000000.0,3661000000.0,Carrefour,EUR,France
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,0.79,0.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carrefour,EUR,France
0,2024-02-29,4740000000.0,4830000000.0,3107000000.0,65436000000.0,2821000000.0,0.1656,0.1674,1188000000.0,2098000000.0,...,47039000000.0,16606000000.0,2635000000.0,2310000000.0,2453000000.0,-1386000000.0,3839000000.0,Tesco,GBP,UK
1,2023-02-28,3194000000.0,3227000000.0,1527000000.0,63918000000.0,1410000000.0,0.0996,0.1005,737000000.0,1957000000.0,...,45868000000.0,12469000000.0,2510000000.0,2378000000.0,2472000000.0,-1250000000.0,3722000000.0,Tesco,GBP,UK
2,2022-02-28,4293000000.0,4403000000.0,2685000000.0,58771000000.0,2560000000.0,0.1912,0.1934,1481000000.0,2060000000.0,...,49137000000.0,11985000000.0,2339000000.0,2345000000.0,2579000000.0,-1178000000.0,3757000000.0,Tesco,GBP,UK
3,2021-02-28,3400000000.0,3095000000.0,1331000000.0,55954000000.0,1547000000.0,0.6362,0.638,5954000000.0,1843000000.0,...,45512000000.0,10807000000.0,2069000000.0,2409000000.0,-775000000.0,-1377000000.0,602000000.0,Tesco,GBP,UK

### Wrangling: converting to number format

In [53]:
column_summary_retail_df = pd.DataFrame({
    'Column Name': df_retail.columns,
    'Data Type': df_retail.dtypes.values,
    'Percentage Null': df_retail.isnull().mean().values * 100,
    'Unique Values': df_retail.nunique().values
})
print(column_summary_retail_df)

                           Column Name       Data Type  Percentage Null  \
0                                 Date  datetime64[ns]         0.000000
1                    Normalized EBITDA          object        11.111111
2                               EBITDA          object        11.111111
3                                 EBIT          object        11.111111
4                       Total Expenses          object        11.111111
5   Total Operating Income As Reported          object        11.111111
6                          Diluted EPS          object        11.111111
7                            Basic EPS          object        11.111111
8                           Net Income          object        11.111111
9                    Operating Expense          object        11.111111
10  Selling General And Administration          object        20.000000
11                        Gross Profit          object        11.111111
12                     Cost Of Revenue          object        11.111111
13                       Total Revenue          object        11.111111
14                   Operating Revenue          object        11.111111
15                          Total Debt          object        11.111111
16                 Common Stock Equity          object        11.111111
17                 Stockholders Equity          object        11.111111
18                 Current Liabilities          object        11.111111
19                        Total Assets          object        11.111111
20                      Current Assets          object        11.111111
21                           Inventory          object        11.111111
22           Cash And Cash Equivalents          object        11.111111
23                      Free Cash Flow          object        11.111111
24                 Capital Expenditure          object        11.111111
25                 Operating Cash Flow          object        11.111111
26                             Company          object         0.000000
27                            Currency          object         0.000000
28                             Country          object         0.000000

    Unique Values
0              18
1              39
2              40
3              40
4              40
5              40
6              39
7              40
8              40
9              40
10             36
11             40
12             40
13             40
14             40
15             40
16             40
17             40
18             40
19             40
20             40
21             40
22             40
23             40
24             40
25             40
26             10
27              3
28              4

In [54]:
# List of columns to convert
columns_to_convert = [
    'Normalized EBITDA', 'EBITDA', 'EBIT', 'Total Expenses', 
    'Total Operating Income As Reported', 'Diluted EPS', 
    'Basic EPS', 'Net Income', 'Operating Expense', 
    'Selling General And Administration', 'Gross Profit', 
    'Cost Of Revenue', 'Total Revenue', 'Operating Revenue',
    'Total Debt', 'Common Stock Equity', 'Stockholders Equity', 
    'Current Liabilities', 'Total Assets', 'Current Assets', 
    'Inventory', 'Cash And Cash Equivalents', 'Free Cash Flow', 
    'Capital Expenditure', 'Operating Cash Flow'
]

# Create a copy of the original DataFrame
df_retail_new = df_retail.copy()

# Convert specified columns to numeric in the new DataFrame
for column in columns_to_convert:
    df_retail_new[column] = pd.to_numeric(df_retail_new[column], errors='coerce')

df_retail_new

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-01-31,3.638400e+10,3.638400e+10,2.453100e+10,6.211130e+11,2.701200e+10,1.910000,1.920000,1.551100e+10,1.309710e+11,...,2.523990e+11,7.687700e+10,5.489200e+10,9.867000e+09,1.512000e+10,-2.060600e+10,3.572600e+10,Walmart,USD,USA
1,2023-01-31,3.008900e+10,3.008900e+10,1.914400e+10,5.908610e+11,2.042800e+10,1.420000,1.430000,1.168000e+10,1.271400e+11,...,2.431970e+11,7.565500e+10,5.657600e+10,8.625000e+09,1.198400e+10,-1.685700e+10,2.884100e+10,Walmart,USD,USA
2,2022-01-31,3.375800e+10,3.134800e+10,2.069000e+10,5.468120e+11,2.594200e+10,1.623333,1.633333,1.367300e+10,1.178120e+11,...,2.448600e+11,8.107000e+10,5.651100e+10,1.476000e+10,1.107500e+10,-1.310600e+10,2.418100e+10,Walmart,USD,USA
3,2021-01-31,3.403100e+10,3.403100e+10,2.287900e+10,5.366030e+11,2.254800e+10,1.583333,1.590000,1.351000e+10,1.162880e+11,...,2.524960e+11,9.006700e+10,4.494900e+10,1.774100e+10,2.581000e+10,-1.026400e+10,3.607400e+10,Walmart,USD,USA
0,2024-12-31,1.449100e+10,1.370300e+10,9.106000e+09,3.630140e+11,8.516000e+09,3.660000,3.670000,4.614000e+09,4.160600e+10,...,2.532150e+11,6.864500e+10,1.810700e+10,8.586000e+09,6.326000e+09,-2.781000e+09,9.107000e+09,CSV,USD,USA
1,2023-12-31,1.905300e+10,1.819700e+10,1.383100e+10,3.431770e+11,1.374300e+10,6.470000,6.490000,8.344000e+09,3.983200e+10,...,2.497280e+11,6.785800e+10,1.802500e+10,8.196000e+09,1.039500e+10,-3.031000e+09,1.342600e+10,CSV,USD,USA
2,2022-12-31,2.068300e+10,1.234700e+10,8.123000e+09,3.061770e+11,7.954000e+09,3.260000,3.290000,4.311000e+09,3.821200e+10,...,2.282750e+11,6.563300e+10,1.909000e+10,1.294500e+10,1.345000e+10,-2.727000e+09,1.617700e+10,CSV,USD,USA
3,2021-12-31,1.976700e+10,1.752600e+10,1.304000e+10,2.770120e+11,1.331000e+10,5.950000,6.000000,8.001000e+09,3.702100e+10,...,2.329990e+11,6.000800e+10,1.776000e+10,9.408000e+09,1.574500e+10,-2.520000e+09,1.826500e+10,CSV,USD,USA
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSV,USD,USA
0,2024-08-31,1.212000e+10,1.214600e+10,9.909000e+09,2.451680e+11,9.285000e+09,16.560000,16.590000,7.367000e+09,2.281000e+10,...,6.983100e+10,3.424600e+10,1.864700e+10,9.906000e+09,6.629000e+09,-4.710000e+09,1.133900e+10,Costco,USD,USA
1,2023-08-31,1.069500e+10,1.072400e+10,8.647000e+09,2.341760e+11,8.114000e+09,14.160000,14.180000,6.292000e+09,2.159000e+10,...,6.899400e+10,3.587900e+10,1.665100e+10,1.370000e+10,6.745000e+09,-4.323000e+09,1.106800e+10,Costco,USD,USA
2,2022-08-31,9.792000e+09,9.898000e+09,7.998000e+09,2.191610e+11,7.793000e+09,13.140000,13.170000,5.844000e+09,1.977900e+10,...,6.416600e+10,3.269600e+10,1.790700e+10,1.020300e+10,3.501000e+09,-3.891000e+09,7.392000e+09,Costco,USD,USA
3,2021-08-31,8.576000e+09,8.632000e+09,6.851000e+09,1.892210e+11,6.708000e+09,11.270000,11.300000,5.007000e+09,1.853700e+10,...,5.926800e+10,2.950500e+10,1.421500e+10,1.125800e+10,5.370000e+09,-3.588000e+09,8.958000e+09,Costco,USD,USA
4,2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Costco,USD,USA
0,2024-01-31,6.876000e+09,7.027000e+09,3.277000e+09,1.469430e+11,3.096000e+09,2.960000,2.990000,2.164000e+09,3.026800e+10,...,5.050500e+10,1.294800e+10,7.105000e+09,1.883000e+09,2.884000e+09,-3.904000e+09,6.788000e+09,Kroger,USD,USA
1,2023-01-31,7.744000e+09,7.016000e+09,3.437000e+09,1.441320e+11,4.126000e+09,3.060000,3.100000,2.244000e+09,2.765200e+10,...,4.962300e+10,1.267000e+10,7.560000e+09,1.015000e+09,1.420000e+09,-3.078000e+09,4.498000e+09,Kroger,USD,USA
2,2022-01-31,6.872000e+09,6.051000e+09,2.622000e+09,1.344110e+11,3.477000e+09,2.170000,2.200000,1.655000e+09,2.687200e+10,...,4.908600e+10,1.217400e+10,6.783000e+09,1.821000e+09,3.576000e+09,-2.614000e+09,6.190000e+09,Kroger,USD,USA
3,2021-01-31,6.182000e+09,7.287000e+09,3.914000e+09,1.297180e+11,2.780000e+09,3.270000,3.310000,2.585000e+09,2.812100e+10,...,4.866200e+10,1.250300e+10,7.063000e+09,1.687000e+09,3.950000e+09,-2.865000e+09,6.815000e+09,Kroger,USD,USA
0,2024-01-31,2.511400e+10,2.511400e+10,2.186700e+10,1.309800e+11,2.168900e+10,15.110000,15.160000,1.514300e+10,2.927100e+10,...,7.653000e+10,2.977500e+10,2.097600e+10,3.760000e+09,1.794600e+10,-3.226000e+09,2.117200e+10,Home_Depot,USD,USA
1,2023-01-31,2.706900e+10,2.706900e+10,2.409400e+10,1.333640e+11,2.403900e+10,16.690000,16.740000,1.710500e+10,2.873900e+10,...,7.644500e+10,3.247100e+10,2.488600e+10,2.757000e+09,1.149600e+10,-3.119000e+09,1.461500e+10,Home_Depot,USD,USA
2,2022-01-31,2.594600e+10,2.594600e+10,2.308400e+10,1.281170e+11,2.304000e+10,15.530000,15.590000,1.643300e+10,2.779200e+10,...,7.187600e+10,2.905500e+10,2.206800e+10,2.343000e+09,1.400500e+10,-2.566000e+09,1.657100e+10,Home_Depot,USD,USA
3,2021-01-31,2.084400e+10,2.084400e+10,1.832500e+10,1.138320e+11,1.827800e+10,11.940000,11.980000,1.286600e+10,2.657500e+10,...,7.058100e+10,2.847700e+10,1.662700e+10,7.895000e+09,1.637600e+10,-2.463000e+09,1.883900e+10,Home_Depot,USD,USA
0,2024-08-31,1.423000e+09,-1.127800e+10,-1.373700e+10,1.492470e+11,-1.407600e+10,-10.010000,-10.010000,-8.636000e+09,2.811300e+10,...,8.103700e+10,1.833500e+10,8.320000e+09,1.319000e+09,-3.630000e+08,-1.381000e+09,1.018000e+09,Walgreens,USD,USA
1,2023-08-31,-2.582000e+09,-2.582000e+09,-4.839000e+09,1.462140e+11,-6.882000e+09,-3.570000,-3.570000,-3.080000e+09,3.420500e+10,...,9.662800e+10,1.550300e+10,8.257000e+09,7.280000e+08,1.410000e+08,-2.117000e+09,2.258000e+09,Walgreens,USD,USA
2,2022-08-31,6.375000e+09,6.375000e+09,4.385000e+09,1.317320e+11,1.387000e+09,5.010000,5.020000,4.337000e+09,2.729500e+10,...,9.012400e+10,1.690200e+10,8.353000e+09,1.358000e+09,2.165000e+09,-1.734000e+09,3.899000e+09,Walgreens,USD,USA
3,2021-08-31,4.873000e+09,4.873000e+09,2.900000e+09,1.290280e+11,2.342000e+09,2.930000,2.940000,2.542000e+09,2.458600e+10,...,8.128500e+10,1.581400e+10,8.159000e+09,5.590000e+08,4.176000e+09,-1.379000e+09,5.555000e+09,Walgreens,USD,USA
4,2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Walgreens,USD,USA
0,2024-01-31,8.600000e+09,8.600000e+09,5.799000e+09,1.017050e+11,5.707000e+09,8.940000,8.960000,4.138000e+09,2.396900e+10,...,5.535600e+10,1.749800e+10,1.188600e+10,3.805000e+09,3.815000e+09,-4.806000e+09,8.621000e+09,Target,USD,USA
1,2023-01-31,6.596000e+09,6.596000e+09,3.896000e+09,1.052720e+11,3.848000e+09,5.980000,6.020000,2.780000e+09,2.304300e+10,...,5.333500e+10,1.784600e+10,1.349900e+10,2.229000e+09,-1.510000e+09,-5.528000e+09,4.018000e+09,Target,USD,USA
2,2022-01-31,1.197000e+10,1.197000e+10,9.328000e+09,9.705900e+10,8.946000e+09,14.100000,14.230000,6.946000e+09,2.209600e+10,...,5.381100e+10,2.157300e+10,1.390200e+10,5.911000e+09,5.081000e+09,-3.544000e+09,8.625000e+09,Target,USD,USA
3,2021-01-31,9.008000e+09,9.008000e+09,6.523000e+09,8.702200e+10,6.539000e+09,8.640000,8.720000,4.368000e+09,2.084500e+10,...,5.124800e+10,2.075600e+10,1.065300e+10,8.511000e+09,7.876000e+09,-2.649000e+09,1.052500e+10,Target,USD,USA
0,2024-12-31,6.710000e+09,6.710000e+09,3.004000e+09,8.700400e+10,2.784000e+09,1.890000,1.900000,1.764000e+09,2.145300e+10,...,5.184200e+10,1.452600e+10,4.797000e+09,6.157000e+09,6.224000e+09,NaN,6.224000e+09,Ahold,EUR,Netherlands
1,2023-12-31,6.879000e+09,6.879000e+09,3.035000e+09,8.630200e+10,2.846000e+09,1.940000,1.950000,1.874000e+09,2.142200e+10,...,4.782100e+10,1.146300e+10,4.584000e+09,3.474000e+09,6.466000e+09,-2.434000e+09,6.466000e+09,Ahold,EUR,Netherlands
2,2022-12-31,7.289000e+09,7.270000e+09,3.837000e+09,8.387900e+10,3.768000e+09,2.540000,2.560000,2.546000e+09,2.019000e+10,...,4.855500e+10,1.081800e+10,4.612000e+09,3.054000e+09,3.620000e+09,-2.490000e+09,6.110000e+09,Ahold,EUR,Netherlands
3,2021-12-31,6.349000e+09,6.345000e+09,3.338000e+09,7.281200e+10,3.320000e+09,2.170000,2.180000,2.246000e+09,1.789600e+10,...,4.571200e+10,9.584000e+09,3.727000e+09,2.968000e+09,3.097000e+09,-2.371000e+09,5.468000e+09,Ahold,EUR,Netherlands
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-2.659000e+09,NaN,Ahold,EUR,Netherlands
0,2024-12-31,4.632000e+09,4.302000e+09,1.878000e+09,8.509700e+10,2.213000e+09,NaN,NaN,7.230000e+08,1.479500e+10,...,5.736300e+10,2.380700e+10,6.709000e+09,6.564000e+09,2.428000e+09,-1.772000e+09,4.200000e+09,Carrefour,EUR,France
1,2023-12-31,4.780000e+09,4.338000e+09,2.042000e+09,8.267300e+10,2.264000e+09,2.310000,2.320000,1.659000e+09,1.439500e+10,...,5.617100e+10,2.344800e+10,6.544000e+09,6.290000e+09,2.800000e+09,-1.850000e+09,4.650000e+09,Carrefour,EUR,France
2,2022-12-31,4.632000e+09,4.792000e+09,2.556000e+09,8.074600e+10,2.463000e+09,1.800000,1.820000,1.348000e+09,1.397000e+10,...,5.655800e+10,2.393500e+10,6.893000e+09,5.216000e+09,2.337000e+09,-1.882000e+09,4.219000e+09,Carrefour,EUR,France
3,2021-12-31,4.209000e+09,3.981000e+09,1.869000e+09,6.959100e+10,1.840000e+09,1.350000,1.360000,1.072000e+09,1.272600e+10,...,4.766800e+10,1.778500e+10,5.858000e+09,3.703000e+09,2.076000e+09,-1.585000e+09,3.661000e+09,Carrefour,EUR,France
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,0.790000,0.800000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carrefour,EUR,France
0,2024-02-29,4.740000e+09,4.830000e+09,3.107000e+09,6.543600e+10,2.821000e+09,0.165600,0.167400,1.188000e+09,2.098000e+09,...,4.703900e+10,1.660600e+10,2.635000e+09,2.310000e+09,2.453000e+09,-1.386000e+09,3.839000e+09,Tesco,GBP,UK
1,2023-02-28,3.194000e+09,3.227000e+09,1.527000e+09,6.391800e+10,1.410000e+09,0.099600,0.100500,7.370000e+08,1.957000e+09,...,4.586800e+10,1.246900e+10,2.510000e+09,2.378000e+09,2.472000e+09,-1.250000e+09,3.722000e+09,Tesco,GBP,UK
2,2022-02-28,4.293000e+09,4.403000e+09,2.685000e+09,5.877100e+10,2.560000e+09,0.191200,0.193400,1.481000e+09,2.060000e+09,...,4.913700e+10,1.198500e+10,2.339000e+09,2.345000e+09,2.579000e+09,-1.178000e+09,3.757000e+09,Tesco,GBP,UK
3,2021-02-28,3.400000e+09,3.095000e+09,1.331000e+09,5.595400e+10,1.547000e+09,0.636200,0.638000,5.954000e+09,1.843000e+09,...,4.551200e+10,1.080700e+10,2.069000e+09,2.409000e+09,-7.750000e+08,-1.377000e+09,6.020000e+08,Tesco,GBP,UK

In [55]:
#df_retail_new.to_excel('df_retail_new.xlsx', index = True)

### Wrangling: Currency convertion

In [56]:
# Exchange rates as of 31-Dec-2023
exchange_rates_retail = {
    'EUR': 1.1050,  # 1 EUR = 1.1050 USD
    'GBP': 1.2713   # 1 GBP = 1.2713 USD
}

# List of financial columns to convert
financial_cols_retail = [
    "Normalized EBITDA", "EBITDA", "EBIT", "Total Expenses", "Total Operating Income As Reported", 
    "Diluted EPS", "Basic EPS", "Net Income", "Operating Expense", 
    "Selling General And Administration", "Gross Profit", "Cost Of Revenue", 
    "Total Revenue", "Operating Revenue", "Total Debt", "Common Stock Equity", 
    "Stockholders Equity", "Current Liabilities", "Total Assets", "Current Assets", 
    "Inventory", "Cash And Cash Equivalents", "Free Cash Flow", "Capital Expenditure", 
    "Operating Cash Flow"
]

# Function to convert EUR & GBP to USD
def convert_retail_to_usd(row):
    if row["Currency"] in exchange_rates_retail:  # If the currency needs conversion
        return row[financial_cols_retail] * exchange_rates_retail[row["Currency"]]
    return row[financial_cols_retail]  # Keep USD values unchanged

# Copy the original dataframe before conversion
df_retail_usd = df_retail_new.copy()

# Apply conversion
df_retail_usd[financial_cols_retail] = df_retail_new.apply(convert_retail_to_usd, axis=1)

# Update Currency column to USD
df_retail_usd["Currency"] = "USD"

df_retail_usd

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-01-31,3.638400e+10,3.638400e+10,2.453100e+10,6.211130e+11,2.701200e+10,1.910000,1.920000,1.551100e+10,1.309710e+11,...,2.523990e+11,7.687700e+10,5.489200e+10,9.867000e+09,1.512000e+10,-2.060600e+10,3.572600e+10,Walmart,USD,USA
1,2023-01-31,3.008900e+10,3.008900e+10,1.914400e+10,5.908610e+11,2.042800e+10,1.420000,1.430000,1.168000e+10,1.271400e+11,...,2.431970e+11,7.565500e+10,5.657600e+10,8.625000e+09,1.198400e+10,-1.685700e+10,2.884100e+10,Walmart,USD,USA
2,2022-01-31,3.375800e+10,3.134800e+10,2.069000e+10,5.468120e+11,2.594200e+10,1.623333,1.633333,1.367300e+10,1.178120e+11,...,2.448600e+11,8.107000e+10,5.651100e+10,1.476000e+10,1.107500e+10,-1.310600e+10,2.418100e+10,Walmart,USD,USA
3,2021-01-31,3.403100e+10,3.403100e+10,2.287900e+10,5.366030e+11,2.254800e+10,1.583333,1.590000,1.351000e+10,1.162880e+11,...,2.524960e+11,9.006700e+10,4.494900e+10,1.774100e+10,2.581000e+10,-1.026400e+10,3.607400e+10,Walmart,USD,USA
0,2024-12-31,1.449100e+10,1.370300e+10,9.106000e+09,3.630140e+11,8.516000e+09,3.660000,3.670000,4.614000e+09,4.160600e+10,...,2.532150e+11,6.864500e+10,1.810700e+10,8.586000e+09,6.326000e+09,-2.781000e+09,9.107000e+09,CSV,USD,USA
1,2023-12-31,1.905300e+10,1.819700e+10,1.383100e+10,3.431770e+11,1.374300e+10,6.470000,6.490000,8.344000e+09,3.983200e+10,...,2.497280e+11,6.785800e+10,1.802500e+10,8.196000e+09,1.039500e+10,-3.031000e+09,1.342600e+10,CSV,USD,USA
2,2022-12-31,2.068300e+10,1.234700e+10,8.123000e+09,3.061770e+11,7.954000e+09,3.260000,3.290000,4.311000e+09,3.821200e+10,...,2.282750e+11,6.563300e+10,1.909000e+10,1.294500e+10,1.345000e+10,-2.727000e+09,1.617700e+10,CSV,USD,USA
3,2021-12-31,1.976700e+10,1.752600e+10,1.304000e+10,2.770120e+11,1.331000e+10,5.950000,6.000000,8.001000e+09,3.702100e+10,...,2.329990e+11,6.000800e+10,1.776000e+10,9.408000e+09,1.574500e+10,-2.520000e+09,1.826500e+10,CSV,USD,USA
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSV,USD,USA
0,2024-08-31,1.212000e+10,1.214600e+10,9.909000e+09,2.451680e+11,9.285000e+09,16.560000,16.590000,7.367000e+09,2.281000e+10,...,6.983100e+10,3.424600e+10,1.864700e+10,9.906000e+09,6.629000e+09,-4.710000e+09,1.133900e+10,Costco,USD,USA
1,2023-08-31,1.069500e+10,1.072400e+10,8.647000e+09,2.341760e+11,8.114000e+09,14.160000,14.180000,6.292000e+09,2.159000e+10,...,6.899400e+10,3.587900e+10,1.665100e+10,1.370000e+10,6.745000e+09,-4.323000e+09,1.106800e+10,Costco,USD,USA
2,2022-08-31,9.792000e+09,9.898000e+09,7.998000e+09,2.191610e+11,7.793000e+09,13.140000,13.170000,5.844000e+09,1.977900e+10,...,6.416600e+10,3.269600e+10,1.790700e+10,1.020300e+10,3.501000e+09,-3.891000e+09,7.392000e+09,Costco,USD,USA
3,2021-08-31,8.576000e+09,8.632000e+09,6.851000e+09,1.892210e+11,6.708000e+09,11.270000,11.300000,5.007000e+09,1.853700e+10,...,5.926800e+10,2.950500e+10,1.421500e+10,1.125800e+10,5.370000e+09,-3.588000e+09,8.958000e+09,Costco,USD,USA
4,2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Costco,USD,USA
0,2024-01-31,6.876000e+09,7.027000e+09,3.277000e+09,1.469430e+11,3.096000e+09,2.960000,2.990000,2.164000e+09,3.026800e+10,...,5.050500e+10,1.294800e+10,7.105000e+09,1.883000e+09,2.884000e+09,-3.904000e+09,6.788000e+09,Kroger,USD,USA
1,2023-01-31,7.744000e+09,7.016000e+09,3.437000e+09,1.441320e+11,4.126000e+09,3.060000,3.100000,2.244000e+09,2.765200e+10,...,4.962300e+10,1.267000e+10,7.560000e+09,1.015000e+09,1.420000e+09,-3.078000e+09,4.498000e+09,Kroger,USD,USA
2,2022-01-31,6.872000e+09,6.051000e+09,2.622000e+09,1.344110e+11,3.477000e+09,2.170000,2.200000,1.655000e+09,2.687200e+10,...,4.908600e+10,1.217400e+10,6.783000e+09,1.821000e+09,3.576000e+09,-2.614000e+09,6.190000e+09,Kroger,USD,USA
3,2021-01-31,6.182000e+09,7.287000e+09,3.914000e+09,1.297180e+11,2.780000e+09,3.270000,3.310000,2.585000e+09,2.812100e+10,...,4.866200e+10,1.250300e+10,7.063000e+09,1.687000e+09,3.950000e+09,-2.865000e+09,6.815000e+09,Kroger,USD,USA
0,2024-01-31,2.511400e+10,2.511400e+10,2.186700e+10,1.309800e+11,2.168900e+10,15.110000,15.160000,1.514300e+10,2.927100e+10,...,7.653000e+10,2.977500e+10,2.097600e+10,3.760000e+09,1.794600e+10,-3.226000e+09,2.117200e+10,Home_Depot,USD,USA
1,2023-01-31,2.706900e+10,2.706900e+10,2.409400e+10,1.333640e+11,2.403900e+10,16.690000,16.740000,1.710500e+10,2.873900e+10,...,7.644500e+10,3.247100e+10,2.488600e+10,2.757000e+09,1.149600e+10,-3.119000e+09,1.461500e+10,Home_Depot,USD,USA
2,2022-01-31,2.594600e+10,2.594600e+10,2.308400e+10,1.281170e+11,2.304000e+10,15.530000,15.590000,1.643300e+10,2.779200e+10,...,7.187600e+10,2.905500e+10,2.206800e+10,2.343000e+09,1.400500e+10,-2.566000e+09,1.657100e+10,Home_Depot,USD,USA
3,2021-01-31,2.084400e+10,2.084400e+10,1.832500e+10,1.138320e+11,1.827800e+10,11.940000,11.980000,1.286600e+10,2.657500e+10,...,7.058100e+10,2.847700e+10,1.662700e+10,7.895000e+09,1.637600e+10,-2.463000e+09,1.883900e+10,Home_Depot,USD,USA
0,2024-08-31,1.423000e+09,-1.127800e+10,-1.373700e+10,1.492470e+11,-1.407600e+10,-10.010000,-10.010000,-8.636000e+09,2.811300e+10,...,8.103700e+10,1.833500e+10,8.320000e+09,1.319000e+09,-3.630000e+08,-1.381000e+09,1.018000e+09,Walgreens,USD,USA
1,2023-08-31,-2.582000e+09,-2.582000e+09,-4.839000e+09,1.462140e+11,-6.882000e+09,-3.570000,-3.570000,-3.080000e+09,3.420500e+10,...,9.662800e+10,1.550300e+10,8.257000e+09,7.280000e+08,1.410000e+08,-2.117000e+09,2.258000e+09,Walgreens,USD,USA
2,2022-08-31,6.375000e+09,6.375000e+09,4.385000e+09,1.317320e+11,1.387000e+09,5.010000,5.020000,4.337000e+09,2.729500e+10,...,9.012400e+10,1.690200e+10,8.353000e+09,1.358000e+09,2.165000e+09,-1.734000e+09,3.899000e+09,Walgreens,USD,USA
3,2021-08-31,4.873000e+09,4.873000e+09,2.900000e+09,1.290280e+11,2.342000e+09,2.930000,2.940000,2.542000e+09,2.458600e+10,...,8.128500e+10,1.581400e+10,8.159000e+09,5.590000e+08,4.176000e+09,-1.379000e+09,5.555000e+09,Walgreens,USD,USA
4,2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Walgreens,USD,USA
0,2024-01-31,8.600000e+09,8.600000e+09,5.799000e+09,1.017050e+11,5.707000e+09,8.940000,8.960000,4.138000e+09,2.396900e+10,...,5.535600e+10,1.749800e+10,1.188600e+10,3.805000e+09,3.815000e+09,-4.806000e+09,8.621000e+09,Target,USD,USA
1,2023-01-31,6.596000e+09,6.596000e+09,3.896000e+09,1.052720e+11,3.848000e+09,5.980000,6.020000,2.780000e+09,2.304300e+10,...,5.333500e+10,1.784600e+10,1.349900e+10,2.229000e+09,-1.510000e+09,-5.528000e+09,4.018000e+09,Target,USD,USA
2,2022-01-31,1.197000e+10,1.197000e+10,9.328000e+09,9.705900e+10,8.946000e+09,14.100000,14.230000,6.946000e+09,2.209600e+10,...,5.381100e+10,2.157300e+10,1.390200e+10,5.911000e+09,5.081000e+09,-3.544000e+09,8.625000e+09,Target,USD,USA
3,2021-01-31,9.008000e+09,9.008000e+09,6.523000e+09,8.702200e+10,6.539000e+09,8.640000,8.720000,4.368000e+09,2.084500e+10,...,5.124800e+10,2.075600e+10,1.065300e+10,8.511000e+09,7.876000e+09,-2.649000e+09,1.052500e+10,Target,USD,USA
0,2024-12-31,7.414550e+09,7.414550e+09,3.319420e+09,9.613942e+10,3.076320e+09,2.088450,2.099500,1.949220e+09,2.370556e+10,...,5.728541e+10,1.605123e+10,5.300685e+09,6.803485e+09,6.877520e+09,NaN,6.877520e+09,Ahold,USD,Netherlands
1,2023-12-31,7.601295e+09,7.601295e+09,3.353675e+09,9.536371e+10,3.144830e+09,2.143700,2.154750,2.070770e+09,2.367131e+10,...,5.284220e+10,1.266662e+10,5.065320e+09,3.838770e+09,7.144930e+09,-2.689570e+09,7.144930e+09,Ahold,USD,Netherlands
2,2022-12-31,8.054345e+09,8.033350e+09,4.239885e+09,9.268630e+10,4.163640e+09,2.806700,2.828800,2.813330e+09,2.230995e+10,...,5.365328e+10,1.195389e+10,5.096260e+09,3.374670e+09,4.000100e+09,-2.751450e+09,6.751550e+09,Ahold,USD,Netherlands
3,2021-12-31,7.015645e+09,7.011225e+09,3.688490e+09,8.045726e+10,3.668600e+09,2.397850,2.408900,2.481830e+09,1.977508e+10,...,5.051176e+10,1.059032e+10,4.118335e+09,3.279640e+09,3.422185e+09,-2.619955e+09,6.042140e+09,Ahold,USD,Netherlands
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-2.938195e+09,NaN,Ahold,USD,Netherlands
0,2024-12-31,5.118360e+09,4.753710e+09,2.075190e+09,9.403218e+10,2.445365e+09,NaN,NaN,7.989150e+08,1.634848e+10,...,6.338612e+10,2.630674e+10,7.413445e+09,7.253220e+09,2.682940e+09,-1.958060e+09,4.641000e+09,Carrefour,USD,France
1,2023-12-31,5.281900e+09,4.793490e+09,2.256410e+09,9.135366e+10,2.501720e+09,2.552550,2.563600,1.833195e+09,1.590648e+10,...,6.206896e+10,2.591004e+10,7.231120e+09,6.950450e+09,3.094000e+09,-2.044250e+09,5.138250e+09,Carrefour,USD,France
2,2022-12-31,5.118360e+09,5.295160e+09,2.824380e+09,8.922433e+10,2.721615e+09,1.989000,2.011100,1.489540e+09,1.543685e+10,...,6.249659e+10,2.644818e+10,7.616765e+09,5.763680e+09,2.582385e+09,-2.079610e+09,4.661995e+09,Carrefour,USD,France
3,2021-12-31,4.650945e+09,4.399005e+09,2.065245e+09,7.689806e+10,2.033200e+09,1.491750,1.502800,1.184560e+09,1.406223e+10,...,5.267314e+10,1.965242e+10,6.473090e+09,4.091815e+09,2.293980e+09,-1.751425e+09,4.045405e+09,Carrefour,USD,France
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,0.872950,0.884000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carrefour,USD,France
0,2024-02-29,6.025962e+09,6.140379e+09,3.949929e+09,8.318879e+10,3.586337e+09,0.210527,0.212816,1.510304e+09,2.667187e+09,...,5.980068e+10,2.111121e+10,3.349876e+09,2.936703e+09,3.118499e+09,-1.762022e+09,4.880521e+09,Tesco,USD,UK
1,2023-02-28,4.060532e+09,4.102485e+09,1.941275e+09,8.125895e+10,1.792533e+09,0.126621,0.127766,9.369481e+08,2.487934e+09,...,5.831199e+10,1.585184e+10,3.190963e+09,3.023151e+09,3.142654e+09,-1.589125e+09,4.731779e+09,Tesco,USD,UK
2,2022-02-28,5.457691e+09,5.597534e+09,3.413441e+09,7.471557e+10,3.254528e+09,0.243073,0.245869,1.882795e+09,2.618878e+09,...,6.246787e+10,1.523653e+10,2.973571e+09,2.981198e+09,3.278683e+09,-1.497591e+09,4.776274e+09,Tesco,USD,UK
3,2021-02-28,4.322420e+09,3.934674e+09,1.692100e+09,7.113432e+10,1.966701e+09,0.808801,0.811089,7.569320e+09,2.343006e+09,...,5.785941e+10,1.373894e+10,2.630320e+09,3.062562e+09,-9.852575e+08,-1.750580e+09,7.653226e+08,Tesco,USD,UK

In [57]:
df_retail_usd.dtypes

index
Date                                  datetime64[ns]
Normalized EBITDA                            float64
EBITDA                                       float64
EBIT                                         float64
Total Expenses                               float64
Total Operating Income As Reported           float64
Diluted EPS                                  float64
Basic EPS                                    float64
Net Income                                   float64
Operating Expense                            float64
Selling General And Administration           float64
Gross Profit                                 float64
Cost Of Revenue                              float64
Total Revenue                                float64
Operating Revenue                            float64
Total Debt                                   float64
Common Stock Equity                          float64
Stockholders Equity                          float64
Current Liabilities                          float64
Total Assets                                 float64
Current Assets                               float64
Inventory                                    float64
Cash And Cash Equivalents                    float64
Free Cash Flow                               float64
Capital Expenditure                          float64
Operating Cash Flow                          float64
Company                                       object
Currency                                      object
Country                                       object
dtype: object

In [58]:
df_retail_usd.columns

Index(['Date', 'Normalized EBITDA', 'EBITDA', 'EBIT', 'Total Expenses',
       'Total Operating Income As Reported', 'Diluted EPS', 'Basic EPS',
       'Net Income', 'Operating Expense', 'Selling General And Administration',
       'Gross Profit', 'Cost Of Revenue', 'Total Revenue', 'Operating Revenue',
       'Total Debt', 'Common Stock Equity', 'Stockholders Equity',
       'Current Liabilities', 'Total Assets', 'Current Assets', 'Inventory',
       'Cash And Cash Equivalents', 'Free Cash Flow', 'Capital Expenditure',
       'Operating Cash Flow', 'Company', 'Currency', 'Country'],
      dtype='object', name='index')

#### Test

In [781]:
df_adas = df_retail_new[df_retail_new['Company'] == "Ahold"]
df_adas

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,6.710000e+09,6.710000e+09,3.004000e+09,8.700400e+10,2.784000e+09,1.89,1.90,1.764000e+09,2.145300e+10,...,5.184200e+10,1.452600e+10,4.797000e+09,6.157000e+09,6.224000e+09,NaN,6.224000e+09,Ahold,EUR,Netherlands
1,2023-12-31,6.879000e+09,6.879000e+09,3.035000e+09,8.630200e+10,2.846000e+09,1.94,1.95,1.874000e+09,2.142200e+10,...,4.782100e+10,1.146300e+10,4.584000e+09,3.474000e+09,6.466000e+09,-2.434000e+09,6.466000e+09,Ahold,EUR,Netherlands
2,2022-12-31,7.289000e+09,7.270000e+09,3.837000e+09,8.387900e+10,3.768000e+09,2.54,2.56,2.546000e+09,2.019000e+10,...,4.855500e+10,1.081800e+10,4.612000e+09,3.054000e+09,3.620000e+09,-2.490000e+09,6.110000e+09,Ahold,EUR,Netherlands
3,2021-12-31,6.349000e+09,6.345000e+09,3.338000e+09,7.281200e+10,3.320000e+09,2.17,2.18,2.246000e+09,1.789600e+10,...,4.571200e+10,9.584000e+09,3.727000e+09,2.968000e+09,3.097000e+09,-2.371000e+09,5.468000e+09,Ahold,EUR,Netherlands
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-2.659000e+09,NaN,Ahold,EUR,Netherlands

In [782]:
df_adas_usd = df_retail_usd[df_retail_usd['Company'] == "Ahold"]
df_adas_usd

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,7.414550e+09,7.414550e+09,3.319420e+09,9.613942e+10,3.076320e+09,2.08845,2.09950,1.949220e+09,2.370556e+10,...,5.728541e+10,1.605123e+10,5.300685e+09,6.803485e+09,6.877520e+09,NaN,6.877520e+09,Ahold,USD,Netherlands
1,2023-12-31,7.601295e+09,7.601295e+09,3.353675e+09,9.536371e+10,3.144830e+09,2.14370,2.15475,2.070770e+09,2.367131e+10,...,5.284220e+10,1.266662e+10,5.065320e+09,3.838770e+09,7.144930e+09,-2.689570e+09,7.144930e+09,Ahold,USD,Netherlands
2,2022-12-31,8.054345e+09,8.033350e+09,4.239885e+09,9.268630e+10,4.163640e+09,2.80670,2.82880,2.813330e+09,2.230995e+10,...,5.365328e+10,1.195389e+10,5.096260e+09,3.374670e+09,4.000100e+09,-2.751450e+09,6.751550e+09,Ahold,USD,Netherlands
3,2021-12-31,7.015645e+09,7.011225e+09,3.688490e+09,8.045726e+10,3.668600e+09,2.39785,2.40890,2.481830e+09,1.977508e+10,...,5.051176e+10,1.059032e+10,4.118335e+09,3.279640e+09,3.422185e+09,-2.619955e+09,6.042140e+09,Ahold,USD,Netherlands
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-2.938195e+09,NaN,Ahold,USD,Netherlands

In [783]:
df_carrefour = df_retail_new[df_retail_new['Company'] == "Carrefour"]
df_carrefour

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,4.632000e+09,4.302000e+09,1.878000e+09,8.509700e+10,2.213000e+09,NaN,NaN,7.230000e+08,1.479500e+10,...,5.736300e+10,2.380700e+10,6.709000e+09,6.564000e+09,2.428000e+09,-1.772000e+09,4.200000e+09,Carrefour,EUR,France
1,2023-12-31,4.780000e+09,4.338000e+09,2.042000e+09,8.267300e+10,2.264000e+09,2.31,2.32,1.659000e+09,1.439500e+10,...,5.617100e+10,2.344800e+10,6.544000e+09,6.290000e+09,2.800000e+09,-1.850000e+09,4.650000e+09,Carrefour,EUR,France
2,2022-12-31,4.632000e+09,4.792000e+09,2.556000e+09,8.074600e+10,2.463000e+09,1.80,1.82,1.348000e+09,1.397000e+10,...,5.655800e+10,2.393500e+10,6.893000e+09,5.216000e+09,2.337000e+09,-1.882000e+09,4.219000e+09,Carrefour,EUR,France
3,2021-12-31,4.209000e+09,3.981000e+09,1.869000e+09,6.959100e+10,1.840000e+09,1.35,1.36,1.072000e+09,1.272600e+10,...,4.766800e+10,1.778500e+10,5.858000e+09,3.703000e+09,2.076000e+09,-1.585000e+09,3.661000e+09,Carrefour,EUR,France
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,0.79,0.80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carrefour,EUR,France

In [785]:
df_carrefour_usd = df_retail_usd[df_retail_usd['Company'] == "Carrefour"]
df_carrefour_usd

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-12-31,5.118360e+09,4.753710e+09,2.075190e+09,9.403218e+10,2.445365e+09,NaN,NaN,7.989150e+08,1.634848e+10,...,6.338612e+10,2.630674e+10,7.413445e+09,7.253220e+09,2.682940e+09,-1.958060e+09,4.641000e+09,Carrefour,USD,France
1,2023-12-31,5.281900e+09,4.793490e+09,2.256410e+09,9.135366e+10,2.501720e+09,2.55255,2.5636,1.833195e+09,1.590648e+10,...,6.206896e+10,2.591004e+10,7.231120e+09,6.950450e+09,3.094000e+09,-2.044250e+09,5.138250e+09,Carrefour,USD,France
2,2022-12-31,5.118360e+09,5.295160e+09,2.824380e+09,8.922433e+10,2.721615e+09,1.98900,2.0111,1.489540e+09,1.543685e+10,...,6.249659e+10,2.644818e+10,7.616765e+09,5.763680e+09,2.582385e+09,-2.079610e+09,4.661995e+09,Carrefour,USD,France
3,2021-12-31,4.650945e+09,4.399005e+09,2.065245e+09,7.689806e+10,2.033200e+09,1.49175,1.5028,1.184560e+09,1.406223e+10,...,5.267314e+10,1.965242e+10,6.473090e+09,4.091815e+09,2.293980e+09,-1.751425e+09,4.045405e+09,Carrefour,USD,France
4,2020-12-31,NaN,NaN,NaN,NaN,NaN,0.87295,0.8840,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carrefour,USD,France

In [786]:
df_tesco = df_retail_new[df_retail_new['Company'] == "Tesco"]
df_tesco

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-02-29,4.740000e+09,4.830000e+09,3.107000e+09,6.543600e+10,2.821000e+09,0.1656,0.1674,1.188000e+09,2.098000e+09,...,4.703900e+10,1.660600e+10,2.635000e+09,2.310000e+09,2.453000e+09,-1.386000e+09,3.839000e+09,Tesco,GBP,UK
1,2023-02-28,3.194000e+09,3.227000e+09,1.527000e+09,6.391800e+10,1.410000e+09,0.0996,0.1005,7.370000e+08,1.957000e+09,...,4.586800e+10,1.246900e+10,2.510000e+09,2.378000e+09,2.472000e+09,-1.250000e+09,3.722000e+09,Tesco,GBP,UK
2,2022-02-28,4.293000e+09,4.403000e+09,2.685000e+09,5.877100e+10,2.560000e+09,0.1912,0.1934,1.481000e+09,2.060000e+09,...,4.913700e+10,1.198500e+10,2.339000e+09,2.345000e+09,2.579000e+09,-1.178000e+09,3.757000e+09,Tesco,GBP,UK
3,2021-02-28,3.400000e+09,3.095000e+09,1.331000e+09,5.595400e+10,1.547000e+09,0.6362,0.6380,5.954000e+09,1.843000e+09,...,4.551200e+10,1.080700e+10,2.069000e+09,2.409000e+09,-7.750000e+08,-1.377000e+09,6.020000e+08,Tesco,GBP,UK

In [787]:
df_tesco_usd = df_retail_usd[df_retail_usd['Company'] == "Tesco"]
df_tesco_usd

index,Date,Normalized EBITDA,EBITDA,EBIT,Total Expenses,Total Operating Income As Reported,Diluted EPS,Basic EPS,Net Income,Operating Expense,...,Total Assets,Current Assets,Inventory,Cash And Cash Equivalents,Free Cash Flow,Capital Expenditure,Operating Cash Flow,Company,Currency,Country
0,2024-02-29,6.025962e+09,6.140379e+09,3.949929e+09,8.318879e+10,3.586337e+09,0.210527,0.212816,1.510304e+09,2.667187e+09,...,5.980068e+10,2.111121e+10,3.349876e+09,2.936703e+09,3.118499e+09,-1.762022e+09,4.880521e+09,Tesco,USD,UK
1,2023-02-28,4.060532e+09,4.102485e+09,1.941275e+09,8.125895e+10,1.792533e+09,0.126621,0.127766,9.369481e+08,2.487934e+09,...,5.831199e+10,1.585184e+10,3.190963e+09,3.023151e+09,3.142654e+09,-1.589125e+09,4.731779e+09,Tesco,USD,UK
2,2022-02-28,5.457691e+09,5.597534e+09,3.413441e+09,7.471557e+10,3.254528e+09,0.243073,0.245869,1.882795e+09,2.618878e+09,...,6.246787e+10,1.523653e+10,2.973571e+09,2.981198e+09,3.278683e+09,-1.497591e+09,4.776274e+09,Tesco,USD,UK
3,2021-02-28,4.322420e+09,3.934674e+09,1.692100e+09,7.113432e+10,1.966701e+09,0.808801,0.811089,7.569320e+09,2.343006e+09,...,5.785941e+10,1.373894e+10,2.630320e+09,3.062562e+09,-9.852575e+08,-1.750580e+09,7.653226e+08,Tesco,USD,UK

### Wrangling: Rakuten filling NaN values from https://stockviz.com/en/4755.T

In [ ]:
import numpy as np

# Dictionary with missing values for Rakuten 
rakuten_fill_values = {
    "Selling General And Administration": [16086000000, 7029000000, 7036000000, 6543000000]
}

# Convert dictionary to DataFrame
rakuten_fill_df = pd.DataFrame(rakuten_fill_values, index=pd.to_datetime(["2023-12-31", "2022-12-31", "2021-12-31", "2020-12-31"]))

# Ensure 'Date' is a datetime type in df_ecomm_usd
df_ecomm_usd["Date"] = pd.to_datetime(df_ecomm_usd["Date"])

# Fill missing values only for Rakuten
for col in rakuten_fill_values.keys():
    df_ecomm_usd.loc[(df_ecomm_usd["Company"] == "Rakuten") & (df_ecomm_usd[col].isna()), col] = \
        df_ecomm_usd.loc[(df_ecomm_usd["Company"] == "Rakuten") & (df_ecomm_usd["Date"].isin(rakuten_fill_df.index)), "Date"].map(rakuten_fill_df[col])

# Display the updated DataFrame
df_ecomm_usd.head()

### Notes: Financials

wmt_financials,
cvs_financials,
cost_financials,
kr_financials,
hd_financials,
wba_financials,
tgt_financials,
ad_as_financials,
ca_pa_financials,
tsco_l_financials,

wmt_fin, cvs_fin, cost_fin, kr_fin, hd_fin, wba_fin, tgt_fin, ad_as_fin, ca_pa_fin, tsco_l_fin

### Notes: KPI's for calculations

In [ ]:
Normalized EBITDA
EBITDA
EBIT
Total Expenses
Total Operating Income As Reported
Diluted EPS
Basic EPS
Net Income
Operating Expense
Selling General And Administration
Gross Profit
Cost Of Revenue
Total Revenue
Operating Revenue
Total Debt
Common Stock Equity
Stockholders Equity
Current Liabilities
Total Assets
Current Assets
Inventory
Cash And Cash Equivalents
Free Cash Flow
Capital Expenditure
Operating Cash Flow


#Selling General And Administration CVS missing

# Exported to CSV for Tableau viz

In [62]:
#df_retail_usd.to_csv('df_retail_usd.csv', index=False)
#df_retail_usd.to_excel('df_retail_usd.xlsx', index=False)

# Calculations

In [841]:
df_retail_usd["Gross_Profit"] = pd.to_numeric(df_retail_usd["Gross_Profit"], errors='coerce')

KeyError: 'Gross_Profit'

In [2]:
# Ensure columns are numeric
df_retail_usd['Gross Profit'] = pd.to_numeric(df['Gross Profit'], errors='coerce')
df_retail_usd["Total Revenue"] = pd.to_numeric(df["Total Revenue"], errors='coerce')

# Calculate Gross Profit Margin
df_retail_usd["Gross Profit Margin (%)"] = (df_retail_usd['Gross Profit'] / df_retail_usd["Total Revenue"]) * 100

# Dictionary to store separate DataFrames for each company
company_dfs = {}

# Group by Company and process each separately
for company, data in df.groupby("Company"):
    # Store in dictionary
    company_dfs[company] = data
    
    # Save each company's data as a separate CSV file (optional)
    #data.to_csv(f"{company}_gross_profit_margin.csv", index=False)

# Convert dictionary to a single concatenated DataFrame (if needed)
all_companies_df = pd.concat(company_dfs.values(), ignore_index=True)

# Display first few rows
print(all_companies_df.head())

# Save the combined DataFrame to a CSV file (optional)
#all_companies_df.to_csv("all_companies_gross_profit_margin.csv", index=False)

NameError: name 'df' is not defined

In [844]:
# Access Walmart's DataFrame
walmart_df = company_dfs["Walmart"]
print(walmart_df.head())

NameError: name 'company_dfs' is not defined

# Web scrapping

### Wikipedia

In [5]:
import pandas as pd

# Sample data structure for e-commerce companies
data_ecommerce = {
    "Company": [
        "Amazon", "Jingdong Mall", "Alibaba", "Pinduoduo", "Meituan",
        "Coupang", "MercadoLibre", "Sea (Garena)", "Vipshop", "Rakuten"
    ],
    "Industry": [
        "E-commerce, Cloud computing, Digital streaming, and AI",
        "E-commerce, Retail",
        "E-commerce, Retail, Technology and Internet",
        "E-commerce",
        "E-commerce, Internet",
        "E-commerce",
        "E-commerce",
        "E-commerce, Internet",
        "E-commerce",
        "E-commerce, Internet"
    ],
    "Founded": [
        1994, 1998, 1999, 2015, 2010,
        2010, 1999, 2009, 2008, 1997
    ],
    "Number of Employees": [
        "1,468,000 (2021)", "314,906 (2021)", "252,084 (2021)", "8,986 (2021)", "60,645 (2021)",
        "50,000 (2021)", "15,545 (2021)", "67,000 (2020)", "11,144 (2020)", "25,721 (2022)"
    ]
}

# Create DataFrame for e-commerce companies
df_ecommerce = pd.DataFrame(data_ecommerce)
print("E-commerce Companies:")
print(df_ecommerce)

# Sample data structure for retail companies
data_retail = {
    "Company": [
        "Walmart", "CVS Health", "Costco", "Kroger", "Home Depot",
        "Walgreens Boots Alliance", "Target", "Ahold Delhaize", "Carrefour", "Tesco"
    ],
    "Industry": [
        "Retail", "Healthcare, Retail, Pharmaceuticals", "Retail",
        "Retail", "Retail", "Retail, Pharmaceuticals", "Retail",
        "Retail", "Retail", "Retail"
    ],
    "Founded": [
        1962, 1963, 1976, 1883, 1978,
        1901, 1902, 2016, 1958, 1919
    ],
    "Number of Employees": [
        "2,300,000 (2021)", "300,000 (2021)", "288,000 (2021)", "465,000 (2021)",
        "500,000 (2020)", "277,000 (2020)", "409,000 (2020)", "380,000 (2019)",
        "321,383 (2019)", "367,321 (2022)"
    ]
}

# Create DataFrame for retail companies
df_retail = pd.DataFrame(data_retail)
print("\nRetail Companies:")
print(df_retail)

E-commerce Companies:
         Company                                           Industry  Founded  \
0         Amazon  E-commerce, Cloud computing, Digital streaming...     1994
1  Jingdong Mall                                 E-commerce, Retail     1998
2        Alibaba        E-commerce, Retail, Technology and Internet     1999
3      Pinduoduo                                         E-commerce     2015
4        Meituan                               E-commerce, Internet     2010
5        Coupang                                         E-commerce     2010
6   MercadoLibre                                         E-commerce     1999
7   Sea (Garena)                               E-commerce, Internet     2009
8        Vipshop                                         E-commerce     2008
9        Rakuten                               E-commerce, Internet     1997

  Number of Employees
0    1,468,000 (2021)
1      314,906 (2021)
2      252,084 (2021)
3        8,986 (2021)
4       60,645 (2021)
5       50,000 (2021)
6       15,545 (2021)
7       67,000 (2020)
8       11,144 (2020)
9       25,721 (2022)

Retail Companies:
                    Company                             Industry  Founded  \
0                   Walmart                               Retail     1962
1                CVS Health  Healthcare, Retail, Pharmaceuticals     1963
2                    Costco                               Retail     1976
3                    Kroger                               Retail     1883
4                Home Depot                               Retail     1978
5  Walgreens Boots Alliance              Retail, Pharmaceuticals     1901
6                    Target                               Retail     1902
7            Ahold Delhaize                               Retail     2016
8                 Carrefour                               Retail     1958
9                     Tesco                               Retail     1919

  Number of Employees
0    2,300,000 (2021)
1      300,000 (2021)
2      288,000 (2021)
3      465,000 (2021)
4      500,000 (2020)
5      277,000 (2020)
6      409,000 (2020)
7      380,000 (2019)
8      321,383 (2019)
9      367,321 (2022)

In [6]:
# df_retail.to_excel('df_retail.xlsx', index=False)

In [7]:
# df_ecommerce.to_excel('df_ecommerce.xlsx', index=False)

# Cleaning data

1. Transforming into numbers

In [235]:
# E-Commerce 

import pandas as pd

# List of dataset names
datasets = ["fs_amzn","fs_jd", "fs_baba", "fs_pdd", "fs_3690", "fs_cpng", "fs_meli", "fs_se", "fs_vips", "fs_4755"]

# Financial statement types
fs_types = ["income_statement", "balance_sheet", "cash_flow"]

# Function to convert numbers to float while skipping the 'Description' column
def convert_to_float(df):
    return df.set_index("Description").apply(pd.to_numeric, errors='coerce')

# Process each dataset
for dataset in datasets:
    company = globals()[dataset]  # Retrieve the dataset object
    for fs_type in fs_types:
        if hasattr(company, fs_type):
            setattr(company, fs_type, convert_to_float(getattr(company, fs_type)))

In [241]:
# Retail

import pandas as pd

# List of dataset names
datasets = ["fs_wmt",
"fs_cvs",
"fs_cost",
"fs_kr",
"fs_hd",
"fs_wba",
"fs_tgt",
"fs_ad",
"fs_ca",
"fs_tsco"]

# Financial statement types
fs_types = ["income_statement", "balance_sheet", "cash_flow"]

# Function to convert numbers to float while skipping the 'Description' column
def convert_to_float(df):
    return df.set_index("Description").apply(pd.to_numeric, errors='coerce')

# Process each dataset
for dataset in datasets:
    company = globals()[dataset]  # Retrieve the dataset object
    for fs_type in fs_types:
        if hasattr(company, fs_type):
            setattr(company, fs_type, convert_to_float(getattr(company, fs_type)))

2. Converting to USD

In [244]:
# E-commerce

# Exchange rates as of 31-Dec-2023
exchange_rates = {
    'EUR': 1.1050,  # 1 EUR = 1.1050 USD
    'GBP': 1.2713,  # 1 GBP = 1.2713 USD
    'JPY': 0.0071,  # 1 JPY = 0.0071 USD
    'HKD': 0.1280   # 1 HKD = 0.1280 USD
}

# List of dataset names
datasets = ["fs_jd", "fs_baba", "fs_pdd", "fs_3690", "fs_cpng", "fs_meli", "fs_se", "fs_vips", "fs_4755"]

# Financial statement types
fs_types = ["income_statement", "balance_sheet", "cash_flow"]

# Function to convert currencies to USD
def convert_to_usd(df, currency):
    if currency in exchange_rates:
        rate = exchange_rates[currency]
        return df.applymap(lambda x: x * rate if pd.notnull(x) else x)
    return df

# Process each dataset
for dataset in datasets:
    company = globals()[dataset]  # Retrieve the dataset object
    for fs_type in fs_types:
        if hasattr(company, fs_type):
            df = getattr(company, fs_type)
            currency = df.attrs.get('currency', 'USD')  # Assuming currency info is stored in DataFrame attributes
            if currency != 'USD':
                df = convert_to_usd(df, currency)
                df.attrs['currency'] = 'USD'  # UpDate currency attribute to USD
            setattr(company, fs_type, df)

In [245]:
fs_3690

{'income_statement':                                             Breakdown 2023-12-31 00:00:00  \
 0                         Tax Effect Of Unusual Items     37639266.757325
 1                                  Tax Rate For Calcs            0.011734
 2                                   Normalized EBITDA       20234854000.0
 3                                 Total Unusual Items        3207624000.0
 4              Total Unusual Items Excluding Goodwill        3207624000.0
 5   Net Income From Continuing Operation Net Minor...       13855828000.0
 6                             Reconciled Depreciation        7996757000.0
 7                          Reconciled Cost Of Revenue      179553793000.0
 8                                              EBITDA       23442478000.0
 9                                                EBIT       15445721000.0
 10                                Net Interest Income        -606171000.0
 11                                   Interest Expense        1423853000.0
 12                                    Interest Income         818986000.0
 13                                  Normalized Income  10685843266.757324
 14  Net Income From Continuing And Discontinued Op...       13855828000.0
 15                                     Total Expenses      266717685000.0
 16                 Total Operating Income As Reported       13415387000.0
 17                             Diluted Average Shares        6300268000.0
 18                               Basic Average Shares        6212999000.0
 19                                        Diluted EPS                2.11
 20                                          Basic EPS                2.23
 21                Diluted NI Availto Com Stockholders       13855828000.0
 22                     Net Income Common Stockholders       13855828000.0
 23                Otherunder Preferred Stock Dividend                 0.0
 24                                         Net Income       13855828000.0
 25                                 Minority Interests          -1503000.0
 26      Net Income Including Noncontrolling Interests       13857331000.0
 27                   Net Income Continuous Operations       13857331000.0
 28                                      Tax Provision         164537000.0
 29                                      Pretax Income       14021868000.0
 30                Other Non Operating Income Expenses         105496000.0
 31                             Special Income Charges       -1135405000.0
 32                              Other Special Charges                 NaN
 33                                          Write Off        1135405000.0
 34          Net Non Operating Interest Income Expense        -606171000.0
 35                           Total Other Finance Cost           1304000.0
 36                     Interest Expense Non Operating        1423853000.0
 37                      Interest Income Non Operating         818986000.0
 38                                   Operating Income       10027269000.0
 39                                  Operating Expense       87163892000.0
 40                           Research And Development       21201005000.0
 41                 Selling General And Administration       67989064000.0
 42                      Selling And Marketing Expense       58616997000.0
 43                 General And Administrative Expense        9372067000.0
 44                                       Gross Profit       97191161000.0
 45                                    Cost Of Revenue      179553793000.0
 46                                      Total Revenue      276744954000.0
 47                                  Operating Revenue      276744954000.0

    2022-12-31 00:00:00 2021-12-31 00:00:00 2020-12-31 00:00:00 Currency
 0       -411406.149374     -2013290.468236        1275143250.0      HKD
 1             0.010391            0.001285                0.25      HKD
 2         4597576000.0      -11990794000.0        4876893000.0      HKD
 3          -39594000.0       -1566966000.0        5100573000.0      HKD
 4          -39594000.0       -1566966000.0        5100573000.0      HKD
 5        -6686110000.0      -23538379000.0        4708313000.0      HKD
 6         9730314000.0        8928019000.0        5194109000.0      HKD
 7       158201969000.0      136653869000.0       80744368000.0      HKD
 8         4557982000.0      -13557760000.0        9977466000.0      HKD
 9        -5172332000.0      -22485779000.0        4783357000.0      HKD
 10        -970917000.0        -584898000.0         230439000.0      HKD
 11        1583185000.0        1080698000.0         345482000.0      HKD
 12         657908000.0         546037000.0         600455000.0      HKD
 13  -6646927406.149374 -21973426290.468235         882883250.0      HKD
 14       -6686110000.0      -23538379000.0        4708313000.0      HKD
 15      226425950000.0      201122351000.0      116725097000.0      HKD
 16       -5820448000.0      -23127199000.0        4330102000.0      HKD
 17        6156595000.0        6037677000.0        6003605000.0      HKD
 18        6156595000.0        6037677000.0        5845354000.0      HKD
 19               -1.09                -3.9                0.78      HKD
 20               -1.09                -3.9                0.81      HKD
 21       -6686110000.0      -23538379000.0        4708313000.0      HKD
 22       -6686110000.0      -23538379000.0        4708313000.0      HKD
 23                 0.0                 0.0                 0.0      HKD
 24       -6686110000.0      -23538379000.0        4708313000.0      HKD
 25           -787000.0          -2181000.0            701000.0      HKD
 26       -6685323000.0      -23536198000.0        4707612000.0      HKD
 27       -6685323000.0      -23536198000.0        4707612000.0      HKD
 28         -70194000.0         -30279000.0        -269737000.0      HKD
 29       -6755517000.0      -23566477000.0        4437875000.0      HKD
 30         335877000.0         469098000.0         943685000.0      HKD
 31        -468620000.0       -3702393000.0        -672224000.0      HKD
 32                 NaN        3442440000.0         204534000.0      HKD
 33         468620000.0         259953000.0         467690000.0      HKD
 34        -970917000.0        -584898000.0         230439000.0      HKD
 35          45640000.0          50237000.0          24534000.0      HKD
 36        1583185000.0        1080698000.0         345482000.0      HKD
 37         657908000.0         546037000.0         600455000.0      HKD
 38       -6471002000.0      -21994354000.0       -1930587000.0      HKD
 39       68223981000.0       64468482000.0       35980729000.0      HKD
 40       20739865000.0       16675595000.0       10892514000.0      HKD
 41       49516922000.0       49295792000.0       26476580000.0      HKD
 42       39745112000.0       40683166000.0       20882685000.0      HKD
 43        9771810000.0        8612626000.0        5593895000.0      HKD
 44       61752979000.0       42474128000.0       34050142000.0      HKD
 45      158201969000.0      136653869000.0       80744368000.0      HKD
 46      219954948000.0      179127997000.0      114794510000.0      HKD
 47      219954948000.0      179127997000.0      114794510000.0      HKD  ,
 'balance_sheet':                                            Breakdown 2023-12-31 00:00:00  \
 0                             Treasury Shares Number                 0.0
 1                             Ordinary Shares Number        6244375781.0
 2                                       Share Issued        6244375781.0
 3                                           Net Debt       21203108000.0
 4                                         Total Debt       60620899000.0
 ..                                               ...                 ...
 72  Cash Cash Equivalents And Short Term Investments      145160433000.0
 73                      Other Short Term Investments      111820679000.0
 74                         Cash And Cash Equivalents       33339754000.0
 75                                  Cash Equivalents        4268086000.0
 76                                    Cash Financial       29071668000.0

    2022-12-31 00:00:00 2021-12-31 00:00:00 2020-12-31 00:00:00 Currency
 0                  NaN                 NaN                 NaN      HKD
 1         6192972690.0        5885649000.0        5885649000.0      HKD
 2         6192972690.0        5885649000.0        5885649000.0      HKD
 3        32559878000.0       21654817000.0        4225254000.0      HKD
 4        58087625000.0       58919030000.0       24056668000.0      HKD
 ..                 ...                 ...                 ...      ...
 72      112031876000.0      116795444000.0       61092923000.0      HKD
 73       91873270000.0       84282016000.0       43999364000.0      HKD
 74       20158606000.0       32513428000.0       17093559000.0      HKD
 75        6811314000.0       12429266000.0        2166478000.0      HKD
 76       13347292000.0       20084162000.0       14927081000.0      HKD

 [77 rows x 6 columns],
 'cash_flow':                                   Breakdown 2023-12-31 00:00:00  \
 0                            Free Cash Flow       33642299000.0
 1                         Repayment Of Debt      -42146859000.0
 2                          Issuance Of Debt       42809865000.0
 3                 Issuance Of Capital Stock         193492000.0
 4                       Capital Expenditure       -6879551000.0
 5                         End Cash Position       33339754000.0
 6                   Beginning Cash Position       20158606000.0
 7           Effect Of Exchange Rate Changes         104445000.0
 8                           Changes In Cash       13076703000.0
 9                       Financing Cash Flow       -2781303000.0
 10              Net Other Financing Charges         -88204000.0
 11                        Interest Paid Cff        -578058000.0
 12                Net Common Stock Issuance         193492000.0
 13                    Common Stock Issuance         193492000.0
 14            Net Issuance Payments Of Debt         663006000.0
 15              Net Long Term Debt Issuance         663006000.0
 16                  Long Term Debt Payments      -42146859000.0
 17                  Long Term Debt Issuance       42809865000.0
 18                      Investing Cash Flow      -24663844000.0
 19              Net Other Investing Changes                 NaN
 20                   Dividends Received Cfi          34101000.0
 21         Net Investment Purchase And Sale      -19423857000.0
 22                       Sale Of Investment      117145001000.0
 23                   Purchase Of Investment     -136568858000.0
 24           Net Business Purchase And Sale         395166000.0
 25                         Sale Of Business         455166000.0
 26                     Purchase Of Business         -60000000.0
 27        Net Intangibles Purchase And Sale                 NaN
 28                      Sale Of Intangibles                 NaN
 29                  Purchase Of Intangibles                 NaN
 30                Net PPE Purchase And Sale       -6578478000.0
 31                              Sale Of PPE         301073000.0
 32                          Purchase Of PPE       -6879551000.0
 33                      Operating Cash Flow       40521850000.0
 34                        Taxes Refund Paid        -222849000.0
 35                Change In Working Capital       13475530000.0
 36      Change In Other Current Liabilities          -6874000.0
 37           Change In Other Current Assets        -748663000.0
 38                        Change In Payable       17085375000.0
 39                 Change In Prepaid Assets       -1984534000.0
 40                      Change In Inventory        -141830000.0
 41                    Change In Receivables        -727944000.0
 42                     Other Non Cash Items        1423853000.0
 43                 Stock Based Compensation        8383353000.0
 44          Provisionand Write Offof Assets                 NaN
 45            Depreciation And Amortization        7996757000.0
 46                   Amortization Cash Flow        7687823000.0
 47                             Depreciation         308934000.0
 48       Gain Loss On Investment Securities       -4528862000.0
 49  Net Foreign Currency Exchange Gain Loss         -74998000.0
 50            Gain Loss On Sale Of Business         -95307000.0
 51    Net Income From Continuing Operations       14021868000.0

    2022-12-31 00:00:00 2021-12-31 00:00:00 2020-12-31 00:00:00 Currency
 0         5680144000.0      -13021912000.0       -7349423000.0      HKD
 1       -32704167000.0       -9578283000.0       -6278733000.0      HKD
 2        25844975000.0       44635170000.0       24238117000.0      HKD
 3          170341000.0       45561470000.0         499088000.0      HKD
 4        -5731304000.0       -9010455000.0      -15824436000.0      HKD
 5        20158606000.0       32513428000.0       17093559000.0      HKD
 6        32513428000.0       17093559000.0       13396185000.0      HKD
 7          937500000.0        -675171000.0        -963716000.0      HKD
 8       -13292322000.0       16095040000.0        4661090000.0      HKD
 9        -9990201000.0       78598331000.0       17418081000.0      HKD
 10         480448000.0         791400000.0         114600000.0      HKD
 11       -1162162000.0        -620127000.0        -218611000.0      HKD
 12         170341000.0       45561470000.0         499088000.0      HKD
 13         170341000.0       45561470000.0         499088000.0      HKD
 14       -6859192000.0       35056887000.0       17959384000.0      HKD
 15       -6859192000.0       35056887000.0       17959384000.0      HKD
 16      -32704167000.0       -9578283000.0       -6278733000.0      HKD
 17       25844975000.0       44635170000.0       24238117000.0      HKD
 18      -14713569000.0      -58491834000.0      -21232004000.0      HKD
 19                 NaN                 NaN        1629777000.0      HKD
 20          69782000.0          24325000.0          18912000.0      HKD
 21       -9542301000.0      -48830574000.0       -3037470000.0      HKD
 22      181099835000.0      365314393000.0      201125852000.0      HKD
 23     -190642136000.0     -414144967000.0     -204163322000.0      HKD
 24         -54859000.0        -810307000.0       -1792855000.0      HKD
 25          74378000.0          70806000.0         601370000.0      HKD
 26        -129237000.0        -881113000.0       -2394225000.0      HKD
 27                 NaN                 NaN       -4601876000.0      HKD
 28                 NaN                 NaN                 0.0      HKD
 29                 NaN                 NaN       -4601876000.0      HKD
 30       -5323701000.0       -8904236000.0      -15544672000.0      HKD
 31         407603000.0         106219000.0         279764000.0      HKD
 32       -5731304000.0       -9010455000.0      -15824436000.0      HKD
 33       11411448000.0       -4011457000.0        8475013000.0      HKD
 34        -247258000.0        -254730000.0         -86311000.0      HKD
 35        -813484000.0        7208702000.0        1890299000.0      HKD
 36         -22527000.0         -49481000.0           5106000.0      HKD
 37       -1839306000.0         620078000.0       -3300542000.0      HKD
 38        2056777000.0       10588712000.0        9019704000.0      HKD
 39        -150117000.0       -3163467000.0       -3261037000.0      HKD
 40        -481072000.0         -40579000.0        -191265000.0      HKD
 41        -377239000.0        -746561000.0        -381667000.0      HKD
 42        1583185000.0        1080698000.0         384791000.0      HKD
 43        8742962000.0        5193860000.0        3277476000.0      HKD
 44                 NaN                 NaN         467690000.0      HKD
 45        9730314000.0        8928019000.0        5194109000.0      HKD
 46        9194580000.0         817044000.0                 NaN      HKD
 47         535734000.0        8110975000.0        5194109000.0      HKD
 48        -786225000.0       -2099680000.0       -6212248000.0      HKD
 49        -354271000.0          34977000.0         151198000.0      HKD
 50        -224358000.0        -702808000.0        -853618000.0      HKD
 51       -6755517000.0      -23566477000.0        4437875000.0      HKD  }

3. jj

In [75]:
# Define folder path where CSV files are stored
folder_path = "financial_data"

ecom_companies = ["AMZN", "JD" ,"BABA", "PDD", "3690.HK", "CPNG", "MELI", "SE", "VIPS", "4755.T"]
retail_companies = ["WMT", "CVS", "COST", "KR", "HD", "WBA", "TGT", "AD.AS", "CA.PA", "TSCO.L"]

all_companies = ecom_companies + retail_companies

# Dictionary to store company data
data = {}

for company in all_companies:
    try:
        # Load CSV files
        income_statement = pd.read_csv(os.path.join(folder_path, f"{company}_income_statement.csv"))
        balance_sheet = pd.read_csv(os.path.join(folder_path, f"{company}_balance_sheet.csv"))
        cash_flow = pd.read_csv(os.path.join(folder_path, f"{company}_cashflow.csv"))

        # Convert 'Date' column to Datetime format
        income_statement["Date"] = pd.to_Datetime(income_statement["Date"])
        balance_sheet["Date"] = pd.to_Datetime(balance_sheet["Date"])
        cash_flow["Date"] = pd.to_Datetime(cash_flow["Date"])

        # Merge all three DataFrames on 'Date'
        merged_df = income_statement.merge(balance_sheet, on="Date").merge(cash_flow, on="Date")
        
        # Store in dictionary
        data[company] = merged_df
        
        print(f"✅ Loaded data for {company}")

    except Exception as e:
        print(f"❌ Error loading {company}: {e}")

In [ ]:
"AMZN", "JD" ,"BABA", "PDD", "3690.HK", "CPNG", "MELI", "SE", "VIPS", "4755.T"
"WMT", "CVS", "COST", "KR", "HD", "WBA", "TGT", "AD.AS", "CA.PA", "TSCO.L"

# Merging data

In [ ]:
import pandas as pd
import os

# Define folder path where CSV files are stored
folder_path = "your_folder_path_here"

# List of companies
companies = ["JD", "Amazon", "Alibaba", "Walmart", "Target"]  # Add all 20 companies

# Dictionary to store data for each company
data = {}

for company in companies:
    try:
        # Load CSV files for each company
        income_statement = pd.read_csv(os.path.join(folder_path, f"{company}_income_statement.csv"))
        balance_sheet = pd.read_csv(os.path.join(folder_path, f"{company}_balance_sheet.csv"))
        cash_flow = pd.read_csv(os.path.join(folder_path, f"{company}_cashflow.csv"))

        # Merge based on common columns (e.g., Date)
        merged_df = income_statement.merge(balance_sheet, on="Date").merge(cash_flow, on="Date")

        # Store in dictionary
        data[company] = merged_df
    except Exception as e:
        print(f"Error loading {company}: {e}")

# Example: Print JD.com data
print(data["JD"].head())

In [76]:
pnl_tsco

,Breakdown,2024-02-29 00:00:00,2023-02-28 00:00:00,2022-02-28 00:00:00,2021-02-28 00:00:00,2020-02-29 00:00:00
0,Tax Effect Of Unusual Items,20610000.0,8382000.0,27610000.0,-98400000.0,NaN
1,Tax Rate For Calcs,0.229,0.254,0.251,0.164,NaN
2,Normalized EBITDA,4740000000.0,3194000000.0,4293000000.0,3400000000.0,NaN
3,Total Unusual Items,90000000.0,33000000.0,110000000.0,-305000000.0,NaN
4,Total Unusual Items Excluding Goodwill,90000000.0,33000000.0,110000000.0,-600000000.0,NaN
5,Net Income From Continuing Operation Net Minor...,1760000000.0,659000000.0,1521000000.0,528000000.0,NaN
6,Reconciled Depreciation,1723000000.0,1700000000.0,1718000000.0,1764000000.0,NaN
7,Reconciled Cost Of Revenue,63338000000.0,61961000000.0,56711000000.0,54111000000.0,NaN
8,EBITDA,4830000000.0,3227000000.0,4403000000.0,3095000000.0,NaN
9,EBIT,3107000000.0,1527000000.0,2685000000.0,1331000000.0,NaN
10,Net Interest Income,-558000000.0,-563000000.0,-665000000.0,-723000000.0,NaN
11,Interest Expense,818000000.0,645000000.0,652000000.0,695000000.0,NaN
12,Interest Income,264000000.0,81000000.0,9000000.0,15000000.0,NaN
13,Normalized Income,1690610000.0,634382000.0,1438610000.0,1324600000.0,NaN
14,Net Income From Continuing And Discontinued Op...,1188000000.0,737000000.0,1481000000.0,5954000000.0,NaN
15,Total Expenses,65436000000.0,63918000000.0,58771000000.0,55954000000.0,NaN
16,Total Operating Income As Reported,2821000000.0,1410000000.0,2560000000.0,1547000000.0,NaN
17,Diluted Average Shares,7176000000.0,7482000000.0,7746000000.0,9656000000.0,NaN
18,Basic Average Shares,7097000000.0,7415000000.0,7658000000.0,9629000000.0,NaN
19,Diluted EPS,0.1656,0.0996,0.1912,0.6362,NaN
20,Basic EPS,0.1674,0.1005,0.1934,0.638,NaN
21,Diluted NI Availto Com Stockholders,1188000000.0,737000000.0,1481000000.0,5954000000.0,NaN
22,Net Income Common Stockholders,1188000000.0,737000000.0,1481000000.0,5954000000.0,NaN
23,Otherunder Preferred Stock Dividend,0.0,0.0,0.0,0.0,NaN
24,Net Income,1188000000.0,737000000.0,1481000000.0,5954000000.0,NaN
25,Minority Interests,-4000000.0,1000000.0,-2000000.0,-4000000.0,NaN
26,Net Income Including Noncontrolling Interests,1192000000.0,736000000.0,1483000000.0,5958000000.0,NaN
27,Net Income Discontinuous Operations,-572000000.0,78000000.0,-40000000.0,5426000000.0,NaN
28,Net Income Continuous Operations,1764000000.0,658000000.0,1523000000.0,532000000.0,NaN
29,Tax Provision,525000000.0,224000000.0,510000000.0,104000000.0,NaN
30,Pretax Income,2289000000.0,882000000.0,2033000000.0,636000000.0,NaN
31,Special Income Charges,90000000.0,33000000.0,-13000000.0,-386000000.0,NaN
32,Other Special Charges,-102000000.0,-75000000.0,31000000.0,87000000.0,NaN
33,Write Off,7000000.0,17000000.0,-25000000.0,0.0,NaN
34,Impairment Of Capital Assets,NaN,NaN,NaN,NaN,-4000000.0
35,Restructuring And Mergern Acquisition,5000000.0,25000000.0,7000000.0,4000000.0,NaN
36,Net Non Operating Interest Income Expense,-558000000.0,-563000000.0,-665000000.0,-723000000.0,NaN
37,Total Other Finance Cost,4000000.0,-1000000.0,22000000.0,43000000.0,NaN
38,Interest Expense Non Operating,818000000.0,645000000.0,652000000.0,695000000.0,NaN
39,Interest Income Non Operating,264000000.0,81000000.0,9000000.0,15000000.0,NaN
40,Operating Income,2751000000.0,1404000000.0,2573000000.0,1933000000.0,NaN
41,Operating Expense,2098000000.0,1957000000.0,2060000000.0,1843000000.0,NaN
42,Depreciation And Amortization In Income Statement,74000000.0,76000000.0,76000000.0,76000000.0,NaN
43,Amortization,74000000.0,76000000.0,76000000.0,76000000.0,NaN
44,Depreciation Income Statement,0.0,0.0,0.0,0.0,NaN
45,Selling General And Administration,2024000000.0,1881000000.0,1984000000.0,1767000000.0,NaN
46,General And Administrative Expense,2024000000.0,1881000000.0,1984000000.0,1767000000.0,NaN
47,Gross Profit,4849000000.0,3361000000.0,4633000000.0,3776000000.0,NaN
48,Cost Of Revenue,63338000000.0,61961000000.0,56711000000.0,54111000000.0,NaN
49,Total Revenue,68187000000.0,65322000000.0,61344000000.0,57887000000.0,NaN
50,Operating Revenue,68187000000.0,65322000000.0,61344000000.0,57887000000.0,NaN

In [80]:
x=pnl_tsco.T
x

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
Breakdown,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minor...,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,...,Operating Expense,Depreciation And Amortization In Income Statement,Amortization,Depreciation Income Statement,Selling General And Administration,General And Administrative Expense,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
2024-02-29 00:00:00,20610000.0,0.229,4740000000.0,90000000.0,90000000.0,1760000000.0,1723000000.0,63338000000.0,4830000000.0,3107000000.0,...,2098000000.0,74000000.0,74000000.0,0.0,2024000000.0,2024000000.0,4849000000.0,63338000000.0,68187000000.0,68187000000.0
2023-02-28 00:00:00,8382000.0,0.254,3194000000.0,33000000.0,33000000.0,659000000.0,1700000000.0,61961000000.0,3227000000.0,1527000000.0,...,1957000000.0,76000000.0,76000000.0,0.0,1881000000.0,1881000000.0,3361000000.0,61961000000.0,65322000000.0,65322000000.0
2022-02-28 00:00:00,27610000.0,0.251,4293000000.0,110000000.0,110000000.0,1521000000.0,1718000000.0,56711000000.0,4403000000.0,2685000000.0,...,2060000000.0,76000000.0,76000000.0,0.0,1984000000.0,1984000000.0,4633000000.0,56711000000.0,61344000000.0,61344000000.0
2021-02-28 00:00:00,-98400000.0,0.164,3400000000.0,-305000000.0,-600000000.0,528000000.0,1764000000.0,54111000000.0,3095000000.0,1331000000.0,...,1843000000.0,76000000.0,76000000.0,0.0,1767000000.0,1767000000.0,3776000000.0,54111000000.0,57887000000.0,57887000000.0
2020-02-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
x.reset_index()

,index,0,1,2,3,4,5,6,7,8,...,41,42,43,44,45,46,47,48,49,50
0,Breakdown,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minor...,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,...,Operating Expense,Depreciation And Amortization In Income Statement,Amortization,Depreciation Income Statement,Selling General And Administration,General And Administrative Expense,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
1,2024-02-29 00:00:00,20610000.0,0.229,4740000000.0,90000000.0,90000000.0,1760000000.0,1723000000.0,63338000000.0,4830000000.0,...,2098000000.0,74000000.0,74000000.0,0.0,2024000000.0,2024000000.0,4849000000.0,63338000000.0,68187000000.0,68187000000.0
2,2023-02-28 00:00:00,8382000.0,0.254,3194000000.0,33000000.0,33000000.0,659000000.0,1700000000.0,61961000000.0,3227000000.0,...,1957000000.0,76000000.0,76000000.0,0.0,1881000000.0,1881000000.0,3361000000.0,61961000000.0,65322000000.0,65322000000.0
3,2022-02-28 00:00:00,27610000.0,0.251,4293000000.0,110000000.0,110000000.0,1521000000.0,1718000000.0,56711000000.0,4403000000.0,...,2060000000.0,76000000.0,76000000.0,0.0,1984000000.0,1984000000.0,4633000000.0,56711000000.0,61344000000.0,61344000000.0
4,2021-02-28 00:00:00,-98400000.0,0.164,3400000000.0,-305000000.0,-600000000.0,528000000.0,1764000000.0,54111000000.0,3095000000.0,...,1843000000.0,76000000.0,76000000.0,0.0,1767000000.0,1767000000.0,3776000000.0,54111000000.0,57887000000.0,57887000000.0
5,2020-02-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN